<%#
 Copyright 2008-2009 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%-
        function uciget(cmd)
                local res = luci.util.exec(cmd)
                local str = string.gsub(res, "\n", "")
                return str
        end
-%>

<%+header%>
<div class="page-content">
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">
var radiomode = "<%=uciget('uci get wireless.@wifi-iface[1].mode')%>";
var hwvalue = "<%=uciget('uci get wireless.wifi1.hwmode')%>";
var bw = "<%=uciget('uci get wireless.wifi1.htmode')%>";
var def = new Array(8);
function save_def_value()
{
    var f = document.formTable;
    for (i=0; i<f.elements.length; i++)
    {
        def[i] = f.elements[i].value;
    }
}
function disable_spin()
{
    document.getElementById("spin").innerHTML = "";
}

function save_value()
{
    document.getElementById("spin").innerHTML = "<i class='fa fa-spinner fa-pulse'></i>";
    setTimeout("disable_spin()",1000);
    var setdata = "";
    var f = document.formTable;
    for( i=0; i<f.elements.length; i++)
    {
        if( def[i] != f.elements[i].value ) {
            def[i] = f.elements[i].value;
            setdata += f.elements[i].name + "=" + f.elements[i].value + "~";
        }
    }
    XHR.get('<%=luci.dispatcher.build_url("admin")%>/cfg_set' + '/' + setdata, null,
	    function(x, data) {
		    if (data) { 
                location.href='<%=luci.dispatcher.build_url("admin/wireless/radio1/ddrs1")%>';
		    }
	    }
    );
}

function returnoptions( min, total, value )
{
    var opt = "";
    for( i = min; i < (total + min); i++ )
    {
        opt += "<option value=";
        opt += i;
        if( value == i )
           opt += " selected";
        opt += ">MCS" + i + "</option>";
    }
    return opt;
}

function updateparam()
{
    var linktype = "<%=uciget('uci get wireless.wifi1.linktype')%>";
    var anttype = "<%=uciget('uci get wireless.wifi1.antennatype')%>";
    var atpc = "<%=uciget('uci get wireless.wifi1.atpcstatus')%>";
    if( linktype == 3 )
    {
        document.getElementById("atpcstatus").style.display = "none";
        atpc = 2;
    }
    if( atpc == 1 ) {
       document.getElementById("power").style.display = "none";
       document.getElementById("eirp").style.display = "block";
       if( anttype == 1 ) {
          document.getElementById("intgain").style.display = "block";
          document.getElementById("congain").style.display = "none";
       }
       else {
          document.getElementById("intgain").style.display = "none";
          document.getElementById("congain").style.display = "block";
       }
    }
    else {
       document.getElementById("power").style.display = "block";
       document.getElementById("eirp").style.display = "none";
       document.getElementById("intgain").style.display = "none";
       document.getElementById("congain").style.display = "none";
    }

    var stream = "<%=uciget('uci get wireless.wifi1.spatialstream')%>";
    var ddrs = "<%=uciget('uci get wireless.wifi1.ddrsstatus')%>";
    var rate = "<%=uciget('uci get wireless.wifi1.ddrsrate')%>";
    var minrate = "<%=uciget('uci get wireless.wifi1.ddrsminrate')%>";
    var maxrate = "<%=uciget('uci get wireless.wifi1.ddrsmaxrate')%>";
    var min = 0, total = 8;
    if( ddrs == 1 ) {
        document.getElementById("mcs_idx").style.display = "none";
        document.getElementById("min_mcs_idx").style.display = "block";
        document.getElementById("max_mcs_idx").style.display = "block";
        document.getElementById("inc_timer").style.display = "none";
        document.getElementById("dec_timer").style.display = "none";
        document.getElementById("inc_thrld").style.display = "none";
        document.getElementById("rtx_inc").style.display = "none";
        document.getElementById("rtx_dec").style.display = "none";
    }
    else {
        document.getElementById("mcs_idx").style.display = "block";
        document.getElementById("min_mcs_idx").style.display = "none";
        document.getElementById("max_mcs_idx").style.display = "none";
        document.getElementById("inc_timer").style.display = "none";
        document.getElementById("dec_timer").style.display = "none";
        document.getElementById("inc_thrld").style.display = "none";
        document.getElementById("rtx_inc").style.display = "none";
        document.getElementById("rtx_dec").style.display = "none";
    }
    if( stream == 3 ) {
        document.getElementById("mcs_idx").style.display = "none";
        document.getElementById("min_mcs_idx").style.display = "none";
        document.getElementById("max_mcs_idx").style.display = "none";
        return;
    }
    if( hwvalue == "11ac" ) {
        total = 10;
        if( stream == 2 )
            min = 10;
    }
    if( hwvalue == "11na" ) {
        if( stream == 2 ) {
            min = 8;
        }
    }
    if( hwvalue == "11a" ) {
        document.getElementById("stream").style.display = "none";
    }
    var str ="<select class='cbi-input-select' name='106'>";
    str += returnoptions( min, total, rate );
    str += "</select>";
    document.getElementById("rateid").innerHTML = str;
    var str ="<select class='cbi-input-select' name='107'>";
    str += returnoptions( min, total, minrate );
    str += "</select>";
    document.getElementById("minrateid").innerHTML = str;
    var str ="<select class='cbi-input-select' name='108'>";
    str += returnoptions( min, total, maxrate );
    str += "</select>";
    document.getElementById("maxrateid").innerHTML = str;
}

function getoptions( list, value )
{
    for( i = 0; i < list.length; i++ )
    {
        var a = list[i].split("=");
        document.write("<option value=");
        document.write(a[0]);
        if( value == a[0] )
           document.write(" selected");
        document.write(">");
        document.write(a[1]);
        document.write("</option>");
    }
}
</script>
<h2><a id="content" name="content"><%: 5GHz Radio Configuration%></a></h2>
<div class="cbi-map">
    <ul class="cbi-tabmenu">
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="<%=luci.dispatcher.build_url("admin/wireless/radio1")%>"><%:Properties%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="mimo1"><%:MIMO%></a></li>
        <li style="margin-right:4px" class="cbi-tab"><a href="#"><%:DDRS/ATPC%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="security1"><%:Security%></a></li>
        <script type="text/javascript">
        if( radiomode == "ap" ) {
            document.write("<li style='margin-right:4px' class='cbi-tab-disabled'><a href='macacl1'><%:MAC ACL%></a></li>");
            document.write("<li style='margin-right:4px' class='cbi-tab-disabled'><a href='dcs1'><%:DCS%></a></li>");
        }
        </script>
    </ul>
    <fieldset class="cbi-section">
       <form name="formTable">
          <div class="cbi-value">
            <label class="cbi-value-title">DDRS Status</label>
            <div class="cbi-value-field">
               <select name="105" class="cbi-input-select" id="ddrsstatus">
               <script type="text/javascript">
                  var ddrs = "<%=uciget('uci get wireless.wifi1.ddrsstatus')%>";
                  document.write("<option value='1' ");
                  if( ddrs == 1 ) {
                      document.write(" selected");
                  }
                  document.write(">Enable</option>");
                  document.write("<option value='2' ");
                  if( ddrs == 2 ) {
                     document.write(" selected");
                  }
                  document.write(">Disable</option>");
                </script>
               </select>
           </div>
         </div>
          <div class="cbi-value" id="stream">
            <label class="cbi-value-title">Spatial Stream</label>
            <div class="cbi-value-field">
               <select name="109" id="spatial" class="cbi-input-select">
               <script type="text/javascript">
                  var stream = "<%=uciget('uci get wireless.wifi1.spatialstream')%>";
                  document.write("<option value='1' ");
                  if( stream == 1 ) {
                      document.write(" selected");
                  }
                  document.write(">Single</option>");
                  if( hwvalue != "11a" )
                  {
                      document.write("<option value='2' ");
                      if( stream == 2 ) {
                         document.write(" selected");
                      }
                      document.write(">Dual</option>");
                      if( ddrs == 1 ) {
                         document.write("<option value='3' ");
                         if( stream == 3 ) {
                            document.write(" selected");
                         }
                         document.write(">Auto</option>");
                      }
                  }
                </script>
               </select>
           </div>
         </div>
          <div class="cbi-value" id="mcs_idx">
            <label class="cbi-value-title">Modulation Index</label>
            <div class="cbi-value-field" id="rateid">
           </div>
         </div>
          <div class="cbi-value" id="min_mcs_idx">
            <label class="cbi-value-title">Min. Modulation Index</label>
            <div class="cbi-value-field" id="minrateid">
           </div>
         </div>
          <div class="cbi-value" id="max_mcs_idx">
            <label class="cbi-value-title">Max. Modulation Index</label>
            <div class="cbi-value-field" id="maxrateid">
           </div>
         </div>
          <div class="cbi-value" id="inc_timer" style="display:none">
            <label class="cbi-value-title">DDRS Rate Incr. Timer</label>
            <div class="cbi-value-field">
              <input type="text" name="110" class="cbi-input-select" value="<%=uciget('uci get wireless.wifi1.ddrsinctimer')%>" >&nbsp; (1-10) sec
           </div>
         </div>
          <div class="cbi-value" id="dec_timer" style="display:none">
            <label class="cbi-value-title">DDRS Rate Decr. Timer</label>
            <div class="cbi-value-field">
              <input type="text" name="111" class="cbi-input-select" value="<%=uciget('uci get wireless.wifi1.ddrsdectimer')%>" >&nbsp; (1-10) sec
           </div>
         </div>
          <div class="cbi-value" id="inc_thrld" style="display:none">
            <label class="cbi-value-title">DDRS Rate Incr. Threshold</label>
            <div class="cbi-value-field">
              <input type="text" name="122" class="cbi-input-select" value="<%=uciget('uci get wireless.wifi1.ddrsincthrld')%>" >&nbsp; (1-10) dB
           </div>
         </div>
          <div class="cbi-value" id="rtx_inc" style="display:none">
            <label class="cbi-value-title">DDRS Rate Incr. RTX Threshold</label>
            <div class="cbi-value-field">
              <input type="text" name="126" class="cbi-input-select" value="<%=uciget('uci get wireless.wifi1.ddrsrtxinc')%>" >&nbsp; (0-100) %
           </div>
         </div>
          <div class="cbi-value" id="rtx_dec" style="display:none">
            <label class="cbi-value-title">DDRS Rate Decr. RTX Threshold</label>
            <div class="cbi-value-field">
              <input type="text" name="127" class="cbi-input-select" value="<%=uciget('uci get wireless.wifi1.ddrsrtxdec')%>" >&nbsp; (0-100) %
           </div>
         </div>
          <div class="cbi-value" id="atpcstatus">
            <label class="cbi-value-title">ATPC Status</label>
            <div class="cbi-value-field">
              <select class="cbi-input-select" name="112">
                 <script type="text/javascript">
                 var atpc = "<%=uciget('uci get wireless.wifi1.atpcstatus')%>";
                 document.write("<option value='1' ");
                 if( atpc == "1" )
                     document.write(" selected");
                 document.write(">Enable</option>");
                 document.write("<option value='2' ");
                 if( atpc == "2" )
                     document.write(" selected");
                 document.write(">Disable</option>");
                 </script>
             </select>
           </div>
         </div>
          <div class="cbi-value" id="intgain">
            <label class="cbi-value-title">Integrated Antenna Gain</label>
            <div class="cbi-value-field" style="margin-top:5px;"><%=uciget('uci get wireless.wifi1.antennagain')%> &nbsp; dBi
            </div>
          </div>
          <div class="cbi-value" id="congain">
            <label class="cbi-value-title">Connectorized Antenna Gain</label>
            <div class="cbi-value-field">
              <input type="text" name="115" class="cbi-input-select" value="<%=uciget('uci get wireless.wifi1.antennagain')%>" > &nbsp; (0-23) dBi
            </div>
          </div>
          <div class="cbi-value" id="eirp">
            <label class="cbi-value-title">Maximum EIRP</label>
            <div class="cbi-value-field">
              <input type="text" name="135" class="cbi-input-select" value="<%=uciget('uci get wireless.wifi1.maxeirp')%>" > &nbsp; (0-100) dBm
           </div>
         </div>
          <div class="cbi-value" id="power">
            <label class="cbi-value-title">Transmit Power</label>
            <div class="cbi-value-field">
              <input type="text" name="113" class="cbi-input-select" value="<%=uciget('uci get wireless.wifi1.atpcpower')%>" > &nbsp; (1-26) dBm
           </div>
         </div>
    </form>
    </fieldset>
</div>
<div class="cbi-page-actions left">
<div id="spin"></div>
<input type="button" class="cbi-button" value="<%:Save%>" onclick="save_value()" />
</div>
<script type="text/javascript">
updateparam();
save_def_value();
</script>
</div>
<%+footer%>
