<%#
 Copyright 2008-2009 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%-
        function uciget(cmd)
                local res = luci.util.exec(cmd)
                local str = string.gsub(res, "\n", "")
                return str
        end
-%>

<%+header%>
<div class="page-content">
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">
var radiomode = "<%=uciget('uci get wireless.@wifi-iface[1].mode')%>";
var hwvalue = "<%=uciget('uci get wireless.wifi1.hwmode')%>";
var bw = "<%=uciget('uci get wireless.wifi1.htmode')%>";
var def = new Array(8);
function save_def_value()
{
    var f = document.formTable;
    for (i=0; i<f.elements.length; i++)
    {
        def[i] = f.elements[i].value;
    }
}
function disable_spin()
{
    document.getElementById("spin").innerHTML = "";
}

function bin_convert(dec,pos)
{
    var value;
    x = parseInt(dec);
    var bin = x.toString(2);
    var arr=bin.split("");
    arr.reverse();
    var check=0;
    for(i=0;i<arr.length;i++)
    {
        if(pos==i)
        {
            value=arr[i];
            check=1;
        }
    }
    if(check==0)
        value=0;
    return value;
}

String.prototype.setCharAt = function(index,chr) {
    if(index > this.length-1) return mask;
    return this.substr(0,index) + chr + this.substr(index+1);
}

function setmask(id1, id2, id3, id4)
{
    var mask = "00";
    if( document.getElementById(id1).checked == true ) {
        mask = mask.setCharAt(1,1);
    }
    if( document.getElementById(id2).checked == true ) {
        mask = mask.setCharAt(0,1);
    }
    var dec = parseInt(mask, 2);
    if( dec == 0 )
    {
        document.getElementById(id4).checked = true;
        alert("Enable atleast one chain");
    }
    else {
        document.getElementById(id3).value = dec;
    }
}

function save_value()
{
    document.getElementById("spin").innerHTML = "<i class='fa fa-spinner fa-pulse'></i>";
    setTimeout("disable_spin()",1000);
    var setdata = "";
    var f = document.formTable;
    for( i=0; i<f.elements.length; i++)
    {
        if( def[i] != f.elements[i].value ) {
            def[i] = f.elements[i].value;
            setdata += f.elements[i].name + "=" + f.elements[i].value + "~";
        }
    }
    if( setdata != "" ) {
    XHR.get('<%=luci.dispatcher.build_url("admin")%>/cfg_set' + '/' + setdata, null,
	    function(x, data) {
		    if (data) { 
                //location.href='<%=luci.dispatcher.build_url("admin/wireless/radio1/mimo1")%>';
		    }
	    }
    );
    }
}

</script>
<h2><a id="content" name="content"><%: 5GHz Radio Configuration%></a></h2>
<div class="cbi-map">
    <ul class="cbi-tabmenu">
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="<%=luci.dispatcher.build_url("admin/wireless/radio1")%>"><%:Properties%></a></li>
        <li style="margin-right:4px" class="cbi-tab"><a href="#"><%:MIMO%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="ddrs1"><%:DDRS/ATPC%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="security1"><%:Security%></a></li>
        <script type="text/javascript">
        if( radiomode == "ap" ) {
            document.write("<li style='margin-right:4px' class='cbi-tab-disabled'><a href='macacl1'><%:MAC ACL%></a></li>");
            document.write("<li style='margin-right:4px' class='cbi-tab-disabled'><a href='dcs1'><%:DCS%></a></li>");
        }
        </script>
    </ul>
    <fieldset class="cbi-section">
       <form name="formTable">
         <div class="cbi-value">
            <label class="cbi-value-title">Short GI</label>
            <div class="cbi-value-field">
              <select class="cbi-input-select" name="74">
                 <script type="text/javascript">
                 var gi = "<%=uciget('uci get wireless.@wifi-iface[1].shortgi')%>";
                 if( gi == "" )
                     gi = 1;
                 document.write("<option value='1' ");
                 if( gi == "1" )
                     document.write(" selected");
                 document.write(">Enable</option>");
                 document.write("<option value='0' ");
                 if( gi == "0" )
                     document.write(" selected");
                 document.write(">Disable</option>");
                 </script>
             </select>
           </div>
         </div>
          <div class="cbi-value">
            <label class="cbi-value-title">AMSDU</label>
            <div class="cbi-value-field">
              <input type="text" name="9" class="cbi-input-select" value="<%=uciget('uci get wireless.@wifi-iface[1].amsdu')%>" > &nbsp; (1-4)
             </select>
           </div>
         </div>
          <div class="cbi-value">
            <label class="cbi-value-title">AMPDU</label>
            <div class="cbi-value-field">
              <input type="text" name="104" class="cbi-input-select" value="<%=uciget('uci get wireless.@wifi-iface[1].ampdu')%>" > &nbsp; (1-64)
             </select>
           </div>
         </div>
          <div class="cbi-value">
            <label class="cbi-value-title">Tx. Chainmask</label>
            <div style="display:none"><input type="text" id="txmask" name="75" value="<%=uciget('uci get wireless.wifi1.txchainmask')%>"></div>
            <div class="cbi-value-field">
                 <script type="text/javascript">
                 var txchainmask = "<%=uciget('uci get wireless.wifi1.txchainmask')%>";
                 document.write("A1&nbsp;&nbsp;<input type='checkbox' ");
                 if( bin_convert(txchainmask,"0") == 1 )
                 document.write(" checked");
                 document.write(" class='cbi-input-select' style='margin-right:50px;' id='ch1' onchange=setmask('ch1','ch2','txmask','ch1')>");
                 document.write("A2&nbsp;&nbsp;<input type='checkbox' ");
                 if( bin_convert(txchainmask,"1") == 1 )
                 document.write(" checked");
                 document.write(" class='cbi-input-select' style='margin-right:50px;' id='ch2' onchange=setmask('ch1','ch2','txmask','ch2')>");
              </script>
           </div>
         </div>
          <div class="cbi-value">
            <label class="cbi-value-title">Rx. Chainmask</label>
            <div style="display:none"><input type="text" id="rxmask" name="76" value="<%=uciget('uci get wireless.wifi1.rxchainmask')%>"></div>
            <div class="cbi-value-field">
                 <script type="text/javascript">
                 var rxchainmask = "<%=uciget('uci get wireless.wifi1.rxchainmask')%>";
                 document.write("A1&nbsp;&nbsp;<input type='checkbox' ");
                 if( bin_convert(rxchainmask,"0") == 1 )
                 document.write(" checked");
                 document.write(" class='cbi-input-select' style='margin-right:50px;' id='ch3' onchange=setmask('ch3','ch4','rxmask','ch3')>");
                 document.write("A2&nbsp;&nbsp;<input type='checkbox' ");
                 if( bin_convert(rxchainmask,"1") == 1 )
                 document.write(" checked");
                 document.write(" class='cbi-input-select' style='margin-right:50px;' id='ch4' onchange=setmask('ch3','ch4','rxmask','ch4')>");
              </script>
           </div>
         </div>
    </form>
    </fieldset>
</div>
<div class="cbi-page-actions left">
<div id="spin"></div>
<input type="button" class="cbi-button" value="<%:Save%>" onclick="save_value()" />
</div>
<script type="text/javascript">
save_def_value();
</script>
</div>
<%+footer%>
