<%#
 Copyright 2008-2009 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%-

	local ip = require "luci.ip"
	local fs = require "nixio.fs"
	local utl = require "luci.util"
	local uci = require "luci.model.uci".cursor()
	local ntm = require "luci.model.network"

	local has_iwinfo = pcall(require, "iwinfo")

	ntm.init(uci)

	local devices  = ntm:get_wifidevs()
	local arpcache = { }
	ip.neighbors({ family = 4 }, function(n)
		if n.mac and n.dest then arpcache[n.mac:upper()] = n.dest:string() end
	end)

    local iw = luci.sys.wifi.getiwinfo("wifi0.network1")
    local freqlist = iw.freqlist
	local netlist = { }
	local netdevs = { }

	local dev
	for _, dev in ipairs(devices) do
		local net
		for _, net in ipairs(dev:get_wifinets()) do
			netlist[#netlist+1] = net:id()
			netdevs[net:id()] = dev:name()
		end
	end

        function uciget(cmd)
                local res = luci.util.exec(cmd)
                local str = string.gsub(res, "\n", "")
                return str
        end
-%>

<%+header%>
<div class="page-content">
<% if not has_iwinfo then %>
	<div class="errorbox">
		<strong><%:Package libiwinfo required!%></strong><br />
		<%_The <em>libiwinfo-lua</em> package is not installed. You must install this component for working wireless configuration!%>
	</div>
<% end %>

<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">
    var radiomode = "<%=uciget('uci get wireless.@wifi-iface[0].mode')%>";
	var freqlist = <%= luci.http.write_json(freqlist) %>;
    var modelist = [ "ap=Access Point", "sta=Client" ];
    var hwlist = [ /*"11g=Legacy",*/ "11ng=11NG" ];
    var nbwlist = [ "HT20=20MHz", "HT40+=40MHz" ];
    var gbwlist = [ "HT20=20MHz"];
    var pwrlist = ["0=0dBm (1mW)", "8=8dBm (6mW)", "10=10dBm (10mW)", "12=12dBm (15mW)", "14=14dBm (25mW)", "16=16dBm (39mW)", "18=18dBm (63mW)", "20=20dBm (100mW)"];
    var ratelist = ["21=Auto", "0=MCS0", "1=MCS1", "2=MCS2", "3=MCS3", "4=MCS4", "5=MCS5", "6=MCS6", "7=MCS7"];
    var chanlist = [ "auto=Auto" ];
    if( freqlist != null ) {
	    for (var i = 0; i < freqlist.length; i++) {
		    chanlist.push(
			    '%d=%d (%d MHz)'.format(freqlist[i].channel, freqlist[i].channel, freqlist[i].mhz)
		    );
        }
    }

var def = new Array(8);
function save_def_value()
{
    var f = document.formTable;
    for (i=0; i<f.elements.length; i++)
    {
        def[i] = f.elements[i].value;
    }
}

function disable_spin()
{
    document.getElementById("spin").innerHTML = "";
}

function save_value()
{
    document.getElementById("spin").innerHTML = "<i class='fa fa-spinner fa-pulse'></i>";
    setTimeout("disable_spin()",1000);
    var setdata = "";
    var f = document.formTable;
    for( i=0; i<f.elements.length; i++)
    {
        if( def[i] != f.elements[i].value ) {
            def[i] = f.elements[i].value;
            setdata += f.elements[i].name + "=" + f.elements[i].value + "~";
        }
    }
    XHR.get('<%=luci.dispatcher.build_url("admin")%>/cfg_set' + '/' + setdata, null,
	    function(x, data) {
		    if (data) { 
		    }
	    }
    );
}

function returnoptions( list, value )
{
    var opt = "";
    for( i = 0; i < list.length; i++ )
    {
        var a = list[i].split("=");
        opt += "<option value=";
        opt += a[0];
        if( value == a[0] )
           opt += " selected";
        opt += ">" + a[1] + "</option>";
    }
    return opt;
}

function updateparam( hwvalue )
{
    var bw = "<%=uciget('uci get wireless.wifi0.htmode')%>";
    var bwlist = nbwlist;
    if( hwvalue == "11g" ) {
        bwlist = gbwlist;
    }
    /*
    var str ="<select class='cbi-input-select' name='19'>";
    str += returnoptions( bwlist, bw );
    str += "</select>";
    document.getElementById("bwid").innerHTML = str;
    */
}

function getoptions( list, value )
{
    for( i = 0; i < list.length; i++ )
    {
        var a = list[i].split("=");
        document.write("<option value=");
        document.write(a[0]);
        if( value == a[0] )
           document.write(" selected");
        document.write(">");
        document.write(a[1]);
        document.write("</option>");
    }
}
function updatehidessid()
{
    if( document.getElementById("hidessid2").checked == "1" )
        document.getElementById("hidessid1").value = 1;
    else
        document.getElementById("hidessid1").value = 0;
}
</script>
<h2><a id="content" name="content"><%:2.4GHz Radio Configuration%></a></h2>
<div class="cbi-map">
    <ul class="cbi-tabmenu">
    <li style="margin-right:4px" class="cbi-tab"><a href="#"><%:Properties%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="<%=REQUEST_URI%>/security2"><%:Security%></a></li>
        <script type="text/javascript">
        if( radiomode == "ap" )
            document.write("<li style='margin-right:4px' class='cbi-tab-disabled'><a href='<%=REQUEST_URI%>/macacl2'><%:MAC ACL%></a></li>");
        </script>
    </ul>
    <fieldset class="cbi-section">
       <form name="formTable">
          <div class="cbi-value">
            <label class="cbi-value-title">Radio Mode</label>
            <div class="cbi-value-field" style="margin-top:5px;">
              Access Point
              <!--<select class="cbi-input-select" name="15">
                 <script type="text/javascript">
                 //var mode = "<%=uciget('uci get wireless.@wifi-iface[0].mode')%>";
                 //getoptions( modelist, mode );
                 </script>
              </select>-->
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">Radio Status</label>
            <div class="cbi-value-field">
               <select name="138" class="cbi-input-select">
               <script type="text/javascript">
                  var radio_status = "<%=uciget('uci get wireless.@wifi-iface[0].disabled')%>";
                  if( radio_status == "" )
                      radio_status = "0";
                  document.write("<option value='0' ");
                  if( radio_status == '0' ) {
                      document.write(" selected");
                  }
                  document.write(">Enable</option>");
                  document.write("<option value='1' ");
                  if( radio_status == '1' ) {
                     document.write(" selected");
                  }
                  document.write(">Disable</option>");
                </script>
               </select>
           </div>
         </div>
          <div class="cbi-value">
            <label class="cbi-value-title">SSID</label>
            <div class="cbi-value-field">
              <input type="text" name="16" class="cbi-input-select" value="<%=uciget('uci get wireless.@wifi-iface[0].ssid')%>" > &nbsp; (1-32) characters
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">Country</label>
            <div class="cbi-value-field" style="margin-top:5px;">
              <script type="text/javascript">
              var coun = "<%=uciget('uci get wireless.wifi0.country')%>";
              if( coun == 643 )
                  document.write("INDIA");
              else
                  document.write(coun);
              </script>
              <!--<input type="text" name="17" class="cbi-input-select" value="<%=uciget('uci get wireless.wifi0.country')%>" >-->
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">Operational Mode</label>
            <div class="cbi-value-field" style="margin-top:5px;">
                <script type="text/javascript">
                  var hw = "<%=uciget('uci get wireless.wifi0.hwmode')%>";
                  if( hw == "11ng" )
                      document.write("11NG");
                  else
                      document.write("Legacy");
                </script>
              <!--<select class="cbi-input-select" name="18" onchange="updateparam(this.value)">
                <script type="text/javascript">
                  var hw = "<%=uciget('uci get wireless.wifi0.hwmode')%>";
                  getoptions( hwlist, hw );
                </script>
              </select>-->
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">Bandwidth</label>
            <div class="cbi-value-field" id="bwid" style="margin-top:5px;">20MHz
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">Channel</label>
            <div class="cbi-value-field">
              <select class="cbi-input-select" name="20">
                 <script type="text/javascript">
                 var channel = "<%=uciget('uci get wireless.wifi0.channel')%>";
                 getoptions( chanlist, channel );
                 </script>
             </select>
           </div>
         </div>
          <!--<div class="cbi-value">
            <label class="cbi-value-title">Modulation Index</label>
            <div class="cbi-value-field">
              <select class="cbi-input-select" name="136">
                <script type="text/javascript">
                  var rate = "<%=uciget('uci get wireless.wifi0.rate')%>";
                  getoptions( ratelist, rate );
                </script>
              </select>
            </div>
          </div>-->
          <div class="cbi-value" style="display:none">
            <label class="cbi-value-title">Transmit Power</label>
            <div class="cbi-value-field">
              <input type="text" name="21" class="cbi-input-select" value="<%=uciget('uci get wireless.wifi0.TXPowLim2G')%>" > &nbsp; (1-23) dBm
              <!--<select class="cbi-input-select" name="21">
                 <script type="text/javascript">
                 var pwr = "<%=uciget('uci get wireless.wifi0.TXPowLim2G')%>";
                 if( pwr == "" )
                     pwr = 20;
                 getoptions( pwrlist, pwr );
                 </script>
             </select>-->
           </div>
         </div>
          <div class="cbi-value">
            <label class="cbi-value-title">Disable Legacy</label>
            <div class="cbi-value-field">
               <select name="137" class="cbi-input-select">
               <script type="text/javascript">
                  var dis_legacy = "<%=uciget('uci get wireless.@wifi-iface[0].dis_legacy')%>";
                  document.write("<option value='0x000F' ");
                  if( dis_legacy == '0x000F' ) {
                      document.write(" selected");
                  }
                  document.write(">Enable</option>");
                  document.write("<option value='0' ");
                  if( dis_legacy == 0 ) {
                     document.write(" selected");
                  }
                  document.write(">Disable</option>");
                </script>
               </select>
           </div>
         </div>
          <div class="cbi-value">
            <label class="cbi-value-title">Hide ESSID</label>
            <div style="display:none"><input type="text" id="hidessid1" name="22" value="<%=uciget('uci get wireless.@wifi-iface[0].hidden')%>"></div>
            <div class="cbi-value-field">
                 <script type="text/javascript">
                 var hide = "<%=uciget('uci get wireless.@wifi-iface[0].hidden')%>";
                 document.write("<input type='checkbox' ");
                 if( hide == 1 )
                     document.write(" checked");
                 document.write(" id='hidessid2' class='cibi-input-select' onchange='updatehidessid()' >");
              </script>
            </div>
          </div>
    </form>
    </fieldset>
</div>
<div class="cbi-page-actions left">
<div id="spin"></div>
<input type="button" class="cbi-button" value="<%:Save%>" onclick="save_value()" />
</div>
<script type="text/javascript">
var hw = "<%=uciget('uci get wireless.wifi0.hwmode')%>";
updateparam(hw);
save_def_value();
</script>
</div>
<%+footer%>
