<%#
 Copyright 2008-2009 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%-
        function uciget(cmd)
                local res = luci.util.exec(cmd)
                local str = string.gsub(res, "\n", "")
                return str
        end
-%>
<%+header%>
<div class="page-content">
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">
var radiomode = "<%=uciget('uci get wireless.@wifi-iface[0].mode')%>";
var def = new Array(8);
function save_def_value()
{
    var f = document.formTable;
    for (i=0; i<f.elements.length; i++)
    {
        def[i] = f.elements[i].value;
    }
}

function disable_spin()
{
    document.getElementById("spin").innerHTML = "";
}

function save_value()
{
    document.getElementById("spin").innerHTML = "<i class='fa fa-spinner fa-pulse'></i>";
    setTimeout("disable_spin()",1000);
    var setdata = "";
    var f = document.formTable;
    for( i=0; i<f.elements.length; i++)
    {
        if( def[i] != f.elements[i].value ) {
            def[i] = f.elements[i].value;
            setdata += f.elements[i].name + "=" + f.elements[i].value + "~";
        }
    }
    XHR.get('<%=luci.dispatcher.build_url("admin")%>/cfg_set' + '/' + setdata, null,
	    function(x, data) {
		    if (data) { 
		    }
	    }
    );
}

function getoptions( list, value )
{
    for( i = 0; i < list.length; i++ )
    {
        var a = list[i].split("=");
        document.write("<option value=");
        document.write(a[0]);
        if( value == a[0] )
           document.write(" selected");
        document.write(">");
        document.write(a[1]);
        document.write("</option>");
    }
}
function hidekey(value)
{
    if( value == "none" )
        document.getElementById("keyid").style.display = "none";
    else
        document.getElementById("keyid").style.display = "block";
}
</script>
<h2><a id="content" name="content"><%: 2.4GHz Radio Configuration%></a></h2>
<div class="cbi-map">
    <ul class="cbi-tabmenu">
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="<%=luci.dispatcher.build_url("admin/wireless/radio2")%>"><%:Properties%></a></li>
        <li style="margin-right:4px" class="cbi-tab"><a href="#">Security</a></li>
        <script type="text/javascript">
        if( radiomode == "ap" )
            document.write("<li style='margin-right:4px' class='cbi-tab-disabled'><a href='macacl2'><%:MAC ACL%></a></li>");
        </script>
    </ul>
    <fieldset class="cbi-section">
       <form name="formTable">
          <div class="cbi-value">
            <label class="cbi-value-title">Encryption</label>
            <div class="cbi-value-field">
              <select class="cbi-input-select" name="30">
                 <script type="text/javascript">
                 var enc = "<%=uciget('uci get wireless.@wifi-iface[0].encryption')%>";
                 document.write("<option value='none' ");
                 if( enc == "none" )
                     document.write(" selected");
                 document.write(">None</option>");
                 document.write("<option value='psk2+ccmp' ");
                 if( enc == "psk2+ccmp" )
                     document.write(" selected");
                 document.write(">WPA2-PSK</option>");
                 </script>
              </select>
            </div>
          </div>
          <div class="cbi-value" id="keyid">
            <label class="cbi-value-title">Key</label>
            <div class="cbi-value-field">
              <input type="password" name="31" class="cbi-input-select" value="********" > &nbsp; (8-63) characters
            </div>
          </div>
    </form>
    </fieldset>
    <div class="cbi-map-descr">
       Note:<br>1. Special characters allowed for configuration ! @ ^ * - _ + : , . { } [ ]
    </div>
</div>
<div class="cbi-page-actions left">
<div id="spin"></div>
<input type="button" class="cbi-button" value="<%:Save%>" onclick="save_value()" />
</div>
<script type="text/javascript">
var enc = "<%=uciget('uci get wireless.@wifi-iface[0].encryption')%>";
hidekey(enc);
save_def_value();
</script>
</div>
<%+footer%>
