<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2011 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%
    local loginuser = luci.dispatcher.context.authuser
	local fs = require "nixio.fs"
	local uci = require "luci.model.uci".cursor()
	local ntm = require "luci.model.network"
	ntm.init(uci)

	local devices  = ntm:get_wifidevs()

	local netlist = { }
	local netdevs = { }

	local dev
	for _, dev in ipairs(devices) do
		local net
		for _, net in ipairs(dev:get_wifinets()) do
			netlist[#netlist+1] = net:id()
			netdevs[net:id()] = dev:name()
		end
	end

	local util = require "luci.util"
	local stat = require "luci.tools.status"
	local ver = require "luci.version"

	local has_ipv6 = fs.access("/proc/net/ipv6_route")
	local has_dhcp = fs.access("/etc/config/dhcp")
	local has_wifi = ((fs.stat("/etc/config/wireless", "size") or 0) > 0)
	local eth_mac = luci.sys.exec("cat /sys/class/net/eth0/address")

	local sysinfo = luci.util.ubus("system", "info") or { }
	local boardinfo = luci.util.ubus("system", "board") or { }
	local unameinfo = nixio.uname() or { }
	local eth1_status =  luci.sys.exec("cat /sys/class/net/eth0/operstate")
	local eth1_speed =  luci.sys.exec("ethtool eth0 | grep Speed")
	local eth1_duplex =  luci.sys.exec("ethtool eth0 | grep Duplex")
    local gw_val = luci.sys.exec("ip route | grep default")
    local eth_has_link 
    local eth_has_no_link
	local serial_no =  luci.sys.exec("fw_printenv -n amigoserial")

    local currTemperature = uci:get_first("system", "system", "temperature")
    local cablen = luci.sys.exec("ssdk_sh port cdt run 5 0 | grep cable")

	local meminfo = sysinfo.memory or {
		total = 0,
		free = 0,
		buffered = 0,
		shared = 0
	}

	local swapinfo = sysinfo.swap or {
		total = 0,
		free = 0
	}

    if (string.match(eth1_status, "up")) then
        eth_has_link = true
	end
    if (string.match(eth1_status, "down")) then
        eth_has_no_link = true 
	end

	local has_dsl = fs.access("/etc/init.d/dsl_control")

	if luci.http.formvalue("status") == "1" then
		local ntm = require "luci.model.network".init()
		local wan = ntm:get_wannet()
		local wan6 = ntm:get_wan6net()

		local conn_count = tonumber((
			luci.sys.exec("wc -l /proc/net/nf_conntrack") or
			luci.sys.exec("wc -l /proc/net/ip_conntrack") or
			""):match("%d+")) or 0

		local conn_max = tonumber((
			luci.sys.exec("sysctl net.nf_conntrack_max") or
			luci.sys.exec("sysctl net.ipv4.netfilter.ip_conntrack_max") or
			""):match("%d+")) or 4096

		local rv = {
			uptime     = sysinfo.uptime or 0,
			localtime  = os.date(),
			loadavg    = sysinfo.load or { 0, 0, 0 },
			memory     = meminfo,
			swap       = swapinfo,
			connmax    = conn_max,
			conncount  = conn_count,
			leases     = stat.dhcp_leases(),
			leases6    = stat.dhcp6_leases(),
			wifinets   = stat.wifi_networks()
		}

		if wan then
			rv.wan = {
				ipaddr  = wan:ipaddr(),
				gwaddr  = wan:gwaddr(),
				netmask = wan:netmask(),
				dns     = wan:dnsaddrs(),
				expires = wan:expires(),
				uptime  = wan:uptime(),
				proto   = wan:proto(),
				ifname  = wan:ifname(),
				link    = wan:adminlink()
			}
		end

		if wan6 then
			rv.wan6 = {
				ip6addr = wan6:ip6addr(),
				gw6addr = wan6:gw6addr(),
				dns     = wan6:dns6addrs(),
				uptime  = wan6:uptime(),
				ifname  = wan6:ifname(),
				link    = wan6:adminlink()
			}
		end

		if has_dsl then
			local dsl_stat = luci.sys.exec("/etc/init.d/dsl_control lucistat")
			local dsl_func = loadstring(dsl_stat)
			if dsl_func then
				rv.dsl = dsl_func()
			end
		end

		luci.http.prepare_content("application/json")
		luci.http.write_json(rv)

		return
	end
        function uciget(cmd)
                local res = luci.util.exec(cmd)
                local str = string.gsub(res, "\n", "")
                return str
        end
    eth1_status = string.gsub(eth1_status, "\n", "")
    eth1_speed = string.gsub(eth1_speed, "\n", "")
    eth1_duplex = string.gsub(eth1_duplex, "\n", "")
    cablen = string.gsub(cablen, "\n", "")
-%>

<%+header%>

<style type="text/css">
.up_icon
{
    border: 1px solid #a5bc23;
    background-color: #a5bc23;
} 
.down_icon
{
    border: 1px solid #C1C1BF;
    background-color: #C1C1BF;
}
.page-content fieldset.cbi-section table td 
{
    border-top:0px; 
    line-height: 15px; 
    text-align: left; 
    font-size: 14px; 
    font-family: 'Roboto', sans-serif; 
    color: #494949;
}
</style>
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">//<![CDATA[
var loginuser = <%=luci.http.write_json(loginuser)%>;
var eth1_status = "<%=eth1_status %>";
var eth1_speed = "<%=eth1_speed %>";
var eth1_duplex = "<%=eth1_duplex %>";
var cablen = "<%=cablen %>";
var dns = "<%=uciget('uci get network.lan.dns')%>";
var network_mode = "<%=uciget('uci get network.param.networkmode')%>";
var route_ip = "<%=uciget('uci get network.kweth.ipaddr')%>";
var route_mask = "<%=uciget('uci get network.kweth.netmask')%>";
var vlan = "<%=uciget('uci get vlan.vlan.status')%>";
var vlanmode = "<%=uciget('uci get vlan.vlan.mode')%>";
var radmode = "<%=uciget('uci get wireless.@wifi-iface[1].mode')%>";
var dhcp = "<%=uciget('uci get network.lan.proto')%>";
var country = "<%=uciget('uci get wireless.wifi1.country')%>";
var shaping = "<%=uciget('uci get wireless.@wifi-iface[1].shaping')%>";
var ullmt = "<%=uciget('uci get wireless.@wifi-iface[1].ullmt')%>";
var dllmt = "<%=uciget('uci get wireless.@wifi-iface[1].dllmt')%>";
var gps_n = "<%=uciget('uci get system.gps.latitude')%>";
var gps_e = "<%=uciget('uci get system.gps.longitude')%>";
var modname = "<%=uciget('fw_printenv -n model')%>"
var links1, links2;

if( modname == "1" ) 
   modelname = "API-18-5G-AC2x2-W2";
else if( modname == "3" )
   modelname = "SUI-18-5G-AC2x2-W2";
else
   modelname = "SUI-23-5G-AC2x2-W2";
var gps = "-";
if( gps_n != 0 ) {
    gps = gps_n + " N " + gps_e + " E";
}
cablen = cablen.split(":");
eth1_speed = eth1_speed.split("Speed:");
eth1_speed = eth1_speed[1];
eth1_duplex = eth1_duplex.split("Duplex:");
eth1_duplex = eth1_duplex[1];
ullmt = ullmt > 1000 ? (ullmt / 1000) : 0;
dllmt = dllmt > 1000 ? (dllmt / 1000) : 0;
shaping = ( shaping == 0 ? "Disabled" : "Enabled" );
route = ( network_mode == 1 ? "Disabled" : "Enabled" );
if( vlan == "1" ) {
    if( vlanmode == "0" )
        vlan = "Enabled ( Transparent )";
    else if( (vlanmode == "1") && (radmode == "sta") )
        vlan = "Enabled ( Access )";
    else if( vlanmode == "2" && (radmode == "sta") )
        vlan = "Enabled ( Trunk )";
    else if( vlanmode == "3" && (radmode == "sta") )
        vlan = "Enabled ( Q-in-Q )";
    else if( vlanmode == "4" && (radmode == "sta") )
        vlan = "Enabled ( MAC-in-MAC )";
    else
        vlan = "Undefined";
} else {
    vlan = "Disabled";   
}
dhcp = ( dhcp == "static" ? "Disabled" : "Enabled" );
if( dns == "" )
    dns = "0.0.0.0";
if( country == 5016 ) {
    country = "INDIA UL";
}
else if( country == 5017 ) {
    country = "INDIA L";
}
else if( country == 5018 ) {
    country = "INDIA";
}
else if( country == 5019 ) {
    country = "5GHz";
}
else {
    country = "RUSSIA";
}
var gw_val = <%=luci.http.write_json(gw_val)%>;
var g_val = gw_val.split(" ");
var gw = "0.0.0.0";
if( g_val != "" )
    gw = g_val[2];
var dyn_val = "<%=uciget("ifconfig br-lan | grep 'inet addr' | sed 's/          //'")%>";
var val = dyn_val.split(" ");
var ip = "0.0.0.0";
var mask = "0.0.0.0";
if( val != "" )
{
    ip = val[1].split(":");
    ip = ( network_mode == 1 ? ip[1] : route_ip );
    mask = val[5].split(":");
    mask = ( network_mode == 1 ? mask[1] : route_mask );
}

function get_mcs_rate( mcs_indx, radio )
{
                               /*  0     1     2     3      4       5      6     7      8      9      10      11    12     13     14     15     16     17    18     19  */
    var rate_11ac_5_shortgi  = [  1.8,  3.6,  5.4,   7.2, 10.8 ,  14.4,  16.2,  18  ,   0  ,   0  ,   3.6,   7.2,  10.8,  14.4,  21.7,  28.9,  32.5,  36.1,   0,     0   ];
    var rate_11ac_10_shortgi = [  3.6,  7.2, 10.8,  14.4, 21.7 ,  28.9,  32.5,  36.1,   0  ,   0  ,   7.2,  14.4,  21.7,  28.9,  43.3,  57.8,  65  ,  72.2,   0  ,   0   ];
    var rate_11ac_20_shortgi = [  7.2, 14.4, 21.7,  28.9, 43.3 ,  57.8,  65  ,  72.2,  86.7,  96  ,  14.4,  28.9,  43.3,  57.8,  86.7, 115.6, 130  , 144.4, 173.3, 192   ];
    var rate_11ac_40_shortgi = [ 15  , 30  , 45  ,  60  , 90   , 120  , 135  , 150  , 180  , 200  ,  30  ,    60,  90  , 120  , 180  , 240  , 270  , 300  , 360  , 400   ];
    var rate_11ac_80_shortgi = [ 32.5, 65  , 97.5,  130 , 195  , 260  , 292.5, 325  , 390  , 433.3,  65  ,   130, 195  , 260  , 390  , 520  , 585  , 650  , 780  , 866.7 ];
    
                               /*  0     1     2     3      4       5      6     7      8      9      10      11    12     13     14     15     16     17    18     19  */
    var rate_11ac_5_fullgi   = [  1.6,  3.3,  4.9,   6.5,   9.7,  13  ,  14.6,  16.2,   0  ,   0  ,   3.3,   6.5,   9.7,  13  ,  19.5,  26  ,  29.3,  32.5,   0  ,   0   ];
    var rate_11ac_10_fullgi  = [  3.3,  6.5,  9.7,  13  ,  19.5,  26  ,  29.3,  32.5,   0  ,   0  ,   6.5,  13  ,  19.5,  26  ,  39  ,  52  ,  58.5,  65  ,   0  ,   0   ];
    var rate_11ac_20_fullgi  = [  6.5, 13  , 19.5,  26  ,  39  ,  52  ,  58.5,  65  ,  78  ,  86  ,  13  ,  26  ,  39  ,  52  ,  78  , 104  , 117  , 130  , 156  , 173   ];
    var rate_11ac_40_fullgi  = [ 13.5, 27  , 40.5,  54  ,  81  , 108  , 121.5, 135  , 162  , 180  ,  27  ,  54  ,  81  , 108  , 162  , 216  , 243  , 270  , 324  , 360   ];
    var rate_11ac_80_fullgi  = [ 29.3, 58.5, 87.8, 117  , 175.5, 234  , 263.3, 292.5, 351  , 390  ,  58.5, 117  , 175.5, 234  , 351  , 468  , 526.5, 585  , 702  , 780   ];

                               /*  0     1     2     3      4       5      6     7      8      9      10      11    12     13     14     15     16     17    18     19  */
    var rate_11na_5_shortgi  = [  1.8,  3.6,  5.4,   7.2,  10.8,  14.4,  16.2,  18  , 3.6  ,   7.2,  10.8,  14.4,  21.7,  28.9,  32.5,  36.1,    0,     0,    0,     0  ];
    var rate_11na_10_shortgi = [  3.6,  7.2, 10.8,  14.4,  21.7,  28.9,  32.5,  36.1, 7.2  ,  14.4,  21.7,  28.9,  43.3,  57.8,  65  ,  72.2,    0,     0,    0,     0  ];
    var rate_11na_20_shortgi = [  7.2, 14.4, 21.7,  28.9,  43.3,  57.8,  65  ,  72.2,  14.4,  28.9,  43.3,  57.8,  86.7, 115.6, 130  , 144.4,    0,     0,    0,     0  ];
    var rate_11na_40_shortgi = [ 15  , 30  , 45  ,  60  ,  90  , 120  , 135  , 150  ,  30  ,  60  ,  90  , 120  , 180  , 240  , 270  , 300  ,    0,     0,    0,     0  ];

                               /*  0     1     2     3      4       5      6     7      8      9      10      11    12     13     14     15     16     17    18     19  */
    var rate_11na_5_fullgi   = [  1.6,  3.3,  4.9,   6.5,   9.7,  13  ,  14.6,  16.2,   3.3,   6.5,   9.7,  13  ,  19.5,  26  ,  29.3,  32.5,    0,     0,    0,     0  ];
    var rate_11na_10_fullgi  = [  3.3,  6.5,  9.7,  13  ,  19.5,  26  ,  29.3,  32.5,   6.5,  13  ,  19.5,  26  ,  39  ,  52  ,  58.5,  65  ,    0,     0,    0,     0  ];
    var rate_11na_20_fullgi  = [  6.5, 13  , 19.5,  26  ,  39  ,  52  ,  58.5,  65  ,  13  ,  26  ,  39  ,  52  ,  78  , 104  , 117  , 130  ,    0,     0,    0,     0  ];
    var rate_11na_40_fullgi  = [ 13.5, 27  , 40.5,  54  ,  81  , 108  , 121.5, 135  ,  27  ,  54  ,  81  , 108  , 162  , 216  , 243  , 270  ,    0,     0,    0,     0  ];

    if( radio == 2 )
    {
        return rate_11na_20_fullgi[mcs_indx];
    }

    var opmode = "<%=uciget('uci get wireless.wifi1.hwmode')%>";
    var bw = "<%=uciget('uci get wireless.wifi1.htmode')%>";
    var gi = "<%=uciget('uci get wireless.@wifi-iface[1].shortgi')%>";
    switch( bw )
    {
        case "HT10":
        {
            if( opmode == "11ac" )
                rate_array = ( gi == 1 ? rate_11ac_10_shortgi : rate_11ac_10_fullgi );
            else if( opmode == "11na" )
                rate_array = ( gi == 1 ? rate_11na_10_shortgi : rate_11na_10_fullgi );
            else
                return -1;
        }
        break;
        case "HT20":
        {
            if( opmode == "11ac" )
                rate_array = ( gi == 1 ? rate_11ac_20_shortgi : rate_11ac_20_fullgi );
            else if( opmode == "11na" )
                rate_array = ( gi == 1 ? rate_11na_20_shortgi : rate_11na_20_fullgi );
            else
                return -1;
        }
        break;
        case "HT40+":
        case "HT40-":
        {
            if( opmode == "11ac" )
                rate_array = ( gi == 1 ? rate_11ac_40_shortgi : rate_11ac_40_fullgi );
            else if( opmode == "11na" )
                rate_array = ( gi == 1 ? rate_11na_40_shortgi : rate_11na_40_fullgi );
            else
                return -1;
        }
        break;
        case "HT80":
        {
            if( opmode == "11ac" )
                rate_array = ( gi == 1 ? rate_11ac_80_shortgi : rate_11ac_80_fullgi );
            else if( opmode == "11na" )
                rate_array = ( gi == 1 ? rate_11na_80_shortgi : rate_11na_80_fullgi );
            else
                return -1;
        }
        break;
        default:
                return -1;
        break;
    }
    return rate_array[mcs_indx];
}

	function progressbar(v, m)
	{
		var vn = parseInt(v) || 0;
		var mn = parseInt(m) || 100;
		var pc = Math.floor((100 / mn) * vn);

		return String.format(
			'<div style="width:200px; position:relative; border:1px solid #999999">' +
				'<div style="background-color:#CCCCCC; width:%d%%; height:15px">' +
					'<div style="position:absolute; left:0; top:0; text-align:center; width:100%%; color:#000000">' +
						'<small>%s / %s (%d%%)</small>' +
					'</div>' +
				'</div>' +
			'</div>', pc, v, m, pc
		);
	}

function clear_log()
{
    var id = 1;
    XHR.get('<%=luci.dispatcher.build_url("admin")%>/clr_eventlog' + '/' + id, null,
	function(x, data) {
		if (data) { 
			document.getElementById("result").innerHTML=data;
		}
	}
    );
}
function get_mode()
{
    var radio_mode = "<%=uciget('uci get wireless.@wifi-iface[1].mode')%>";
    if( radio_mode == "ap" )
        return;
    if( links1 < 1 || links1 == undefined ) {
		document.getElementById("opmode1").innerHTML = "-";
        document.getElementById("bw1").innerHTML = "-";
        return;
    }
    var id = 6;
    XHR.get('<%=luci.dispatcher.build_url("admin", "sumode")%>/' + id, null,
	function(x, data) {
		if (data) { 
            var mode = data;
            if(mode.indexOf("11AC") >= 0)
			   document.getElementById("opmode1").innerHTML = "11ac";
            else if(mode.indexOf("11NA") >= 0)
			   document.getElementById("opmode1").innerHTML = "11na";
            else if(mode.indexOf("11A") >= 0)
			   document.getElementById("opmode1").innerHTML = "11a";
            else
			   document.getElementById("opmode1").innerHTML = "-";
            if(mode.indexOf("20") >= 0)
               document.getElementById("bw1").innerHTML = "HT20";
            else if(mode.indexOf("40PLUS") >= 0)
               document.getElementById("bw1").innerHTML = "HT40+";
            else if(mode.indexOf("40MINUS") >= 0)
               document.getElementById("bw1").innerHTML = "HT40-";
            else if(mode.indexOf("80") >= 0)
               document.getElementById("bw1").innerHTML = "HT80";
            else
               document.getElementById("bw1").innerHTML = "-";
		}
	}
    );

}
function get_links()
{
    var id = 6;
    XHR.get('<%=luci.dispatcher.build_url("admin", "no_of_links")%>/' + id, null,
	function(x, data) {
		if (data) { 
            var l = data.split("=");
            links1 = ( ( l[0] > 1 ) ? ( l[0] - 1 ) : 0 );
            links2 = ( ( l[1] > 1 ) ? ( l[1] - 1 ) : 0 );
            if( loginuser == "installer" )
			   document.getElementById("links1").innerHTML = "<a href='<%=luci.dispatcher.build_url("admin","config","radio1stats")%>'>"+links1+"</a>";
            else
			   document.getElementById("links1").innerHTML = "<a href='<%=luci.dispatcher.build_url("admin","monitor","stats")%>'>"+links1+"</a>";
            if( loginuser == "installer" )
			   document.getElementById("links2").innerHTML = links2;
            else
			   document.getElementById("links2").innerHTML = "<a href='<%=luci.dispatcher.build_url("admin","monitor","stats","radio2stats")%>'>"+links2+"</a>";
            link_stats( links1 );
            get_mode();
		}
	}
    );

    XHR.get('<%=luci.dispatcher.build_url("admin", "stats")%>/' + id, null,
	function(x, data) {
		if (data) { 
            var s = data.split("=");
			document.getElementById("ethtx").innerHTML = s[6] > (1000 * 1000) ? (s[6] / ( 1000 * 1000 )).toFixed(2) : 0;
			document.getElementById("ethrx").innerHTML = s[7] > (1000 * 1000) ? (s[7] / ( 1000 * 1000 )).toFixed(2) : 0;
			document.getElementById("wi1tx").innerHTML = s[8] > (1000 * 1000) ? (s[8] / ( 1000 * 1000 )).toFixed(2) : 0;
			document.getElementById("wi1rx").innerHTML = s[9] > (1000 * 1000) ? (s[9] / ( 1000 * 1000 )).toFixed(2) : 0;
			document.getElementById("wi2tx").innerHTML = s[11] > (1000 * 1000) ? (s[11] / ( 1000 * 1000 )).toFixed(2) : 0;
			document.getElementById("wi2rx").innerHTML = s[12] > (1000 * 1000) ? (s[12] / ( 1000 * 1000 )).toFixed(2) : 0;
		}
	}
    );

    XHR.get('<%=luci.dispatcher.build_url("admin", "gps")%>/' + id, null,
	function(x, data) {
		if (data) { 
            var s = data.split("=");
            if( s[0] != 0 ) {
               document.getElementById("gps").innerHTML = s[0] + " N " + s[1] + " E";
            }
            else {
               document.getElementById("gps").innerHTML = "-";
            }
		}
	}
    );
    
    XHR.get('<%=luci.dispatcher.build_url("admin", "autorefresh")%>/' + id, null,
	function(x, data) {
		if (data) { 
            var s = data.split("=");
            document.getElementById("cpu_mem").innerHTML = "( " + s[0] + " / " + s[1] + " ) %";
		}
	}
    );
}

function link_stats( links )
{
    /* DDRS 5GHz Radio */
    var ddrs1 = "<%=uciget('uci get wireless.wifi1.ddrsstatus')%>";
    document.getElementById("ddrs1").innerHTML = ( ddrs1 == 1 ? "Enabled" : "Disabled" );
    if( links != 1 ) {
        if( ddrs1 == 2 ) {
            document.getElementById("rate1").innerHTML = get_mcs_rate("<%=uciget('uci get wireless.wifi1.ddrsrate')%>", 1) + " Mbps";
        }
        else {
            document.getElementById("rate1").innerHTML = "-";
        }
    }
    /* DDRS 2.4GHz Radio */
    var rate = "<%=uciget('uci get wireless.wifi0.rate')%>";
    document.getElementById("ddrs2").innerHTML = (rate == 21 ? "Enabled" : "Disabled");
    if( rate != 21 ) {
        document.getElementById("rate2").innerHTML = get_mcs_rate("<%=uciget('uci get wireless.wifi0.rate')%>", 2) + " Mbps";
    }

    /* ATPC 5GHz Radio */
    var atpc1 = "<%=uciget('uci get wireless.wifi1.atpcstatus')%>";
    document.getElementById("atpc1").innerHTML = ( atpc1 == 1 ? "Enabled" : "Disabled" );
    if( links != 1 ) {
        if( atpc1 == 2 ) {
            document.getElementById("pow1").innerHTML = "<%=uciget('uci get wireless.wifi1.atpcpower')%>" + " dBm";
        }
        else {
            document.getElementById("pow1").innerHTML = "-";
        }
    }
    /* ATPC 2.4GHz Radio */
    document.getElementById("atpc2").innerHTML = "Disabled";
    document.getElementById("pow2").innerHTML = "<%=uciget('uci get wireless.wifi0.TXPowLim2G')%>" + " dBm";

    if( links == 1 ) {
        XHR.get('<%=luci.dispatcher.build_url("admin", "wireless", "wireless_status", table.concat(netlist, ","))%>', null,
		    function(x, st)
		    {
			    if (st)
			    {
				    i = 1;
					var iw = st[i];
					var assoclist = [ ];
					for( var bssid in iw.assoclist )
					{
						assoclist.push(iw.assoclist[bssid]);
						assoclist[assoclist.length-1].bssid = bssid;
					}
					assoclist.sort(function(a, b) { a.bssid < b.bssid });
                    j = 0;
                    document.getElementById("rate1").innerHTML = assoclist[j].tx_rate / 1000 + " Mbps";
                    document.getElementById("pow1").innerHTML = assoclist[j].l_tx_power + " dBm";
                }
            }
        );
    }
}

function get_desc()
{
    var id = 1;
    XHR.get('<%=luci.dispatcher.build_url("admin")%>/get_descr' + '/' + id, null,
	function(x, data) {
		if (data) {
            var model_uci = "<%=uciget('uci get variant.variant.model')%>"
            var prod_uci = "<%=uciget('uci get variant.variant.productid')%>"
            var maj_num = "<%=uciget('uci get variant.variant.majnum')%>"
            var min_num = "<%=uciget('uci get variant.variant.minnum')%>"
            var build_no = "<%=uciget('uci get variant.variant.buildno')%>"
            var m = data.split("=");
            var model_name=model_uci, prod_type=prod_uci;
            if( m[0] != "" ) {
                model_name = m[0];
            }
            if( m[1] != "" ) {
                prod_type = m[1];
            }
            if( model_name == "1" ) 
                model_name = "API-18-5G-AC2x2-W2";
            else if( model_name == "3" )
                model_name = "SUI-18-5G-AC2x2-W2";
            else
                model_name = "SUI-23-5G-AC2x2-W2";
            prod_type = ( prod_type == 1 ? "PTP" : "PTMP" );
            var str = maj_num + "." + min_num + " ( " + build_no + " )";
			document.getElementById("desc").innerHTML=str;
		}
	}
    );
}
function get_log()
{
    var id = 6;
    XHR.get('<%=luci.dispatcher.build_url("admin", "eventlog")%>/' + id, null,
	function(x, data) {
		if (data) { 
			document.getElementById("result").innerHTML=data;
		}
	}
    );
}
	var wifidevs = <%=luci.http.write_json(netdevs)%>;
	var arptable = <%=luci.http.write_json(arpcache)%>;

	XHR.poll(5, '<%=REQUEST_URI%>', { status: 1 },
		function(x, info)
		{
            //get_log();
            get_links();
			<% if has_wifi then %>
			var assoclist = [ ];

			{
				for (var didx = 0; didx < info.wifinets.length; didx++)
				{
					var dev = info.wifinets[didx];


					var s = '';

					for (var nidx = 0; nidx < dev.networks.length; nidx++)
					{
						var net = dev.networks[nidx];
						var is_assoc = (net.bssid != '00:00:00:00:00:00' && net.channel && !net.disabled);

						var icon;
						if (!is_assoc)
							icon = "<%=resource%>/icons/signal-none.png";
						else if (net.quality == 0)
							icon = "<%=resource%>/icons/signal-0.png";
						else if (net.quality < 25)
							icon = "<%=resource%>/icons/signal-0-25.png";
						else if (net.quality < 50)
							icon = "<%=resource%>/icons/signal-25-50.png";
						else if (net.quality < 75)
							icon = "<%=resource%>/icons/signal-50-75.png";
						else
							icon = "<%=resource%>/icons/signal-75-100.png";

						s += String.format(
							'<table><tr><td style="text-align:center; width:32px; padding:3px">' +
								'<img src="%s" title="<%:Signal%>: %d dBm / <%:Noise%>: %d dBm" />' +
								'<br /><small>%d%%</small>' +
							'</td><td style="text-align:left; padding:3px"><small>' +
								'<strong><%:SSID%>:</strong> %h<br />' +
								'<strong><%:Mode%>:</strong> %s<br />' +
								'<strong><%:Channel%>:</strong> %d (%.3f <%:GHz%>)<br />' +
								'<strong><%:Bitrate%>:</strong> %s <%:Mbit/s%><br />',
								icon, net.signal, net.noise,
								net.quality,
								net.ssid,
								net.mode,
								net.channel, net.frequency,
								(net.bitrate * 1000) || '?'
						);
                        if( didx == 1 ) {
                            document.getElementById("mac1").innerHTML = "<%=uciget('uci get wireless.wifi1.macaddr')%>"; 
                            document.getElementById("mode1").innerHTML = "<b>"+net.mode+"<b>"; 
                            var radio_status = "<%=uciget('uci get wireless.@wifi-iface[1].disabled')%>";
                            var radio_mode = "<%=uciget('uci get wireless.@wifi-iface[1].mode')%>";
                            document.getElementById("status1").innerHTML = ( radio_status == 1 ? "Disabled" : "Enabled" );
                            if( radio_mode == "ap" ) {
                               document.getElementById("opmode1").innerHTML = "<%=uciget('uci get wireless.wifi1.hwmode')%>";
                               document.getElementById("bw1").innerHTML = "<%=uciget('uci get wireless.wifi1.htmode')%>";
                            }
                            document.getElementById("ssid1").innerHTML = net.ssid;
                            var acs1 = "<%=uciget('uci get wireless.wifi1.channel')%>";
                            document.getElementById("acs1").innerHTML = ( acs1 == "auto" ? "Enabled" : "Disabled" );
                            var dcs1 = "<%=uciget('uci get wireless.wifi1.dcsstatus')%>";
                            document.getElementById("dcs1").innerHTML = ( dcs1 == 1 ? "Enabled" : "Disabled" );
                            if( net.channel != undefined ) {
                               var freq = net.frequency * 1000;
                               document.getElementById("chan1").innerHTML = net.channel + " ( " + freq + " MHz )"
                            }
                            document.getElementById("dis1").innerHTML = "<%=uciget('uci get wireless.wifi1.distance')%>" + " Km";
                            var enc = "None";
                            if( net.encryption != "None" ) 
                                enc = "WPA2-PSK"
                            document.getElementById("sec1").innerHTML = enc;
                            document.getElementById("bstid1").innerHTML = "<%=uciget('uci get system.@system[0].bstid')%>";
                            var ltype = "<%=uciget('uci get wireless.wifi1.linktype')%>";
                            if( ltype == 1 )
                                document.getElementById("linktype1").innerHTML = "PTP";
                            else if( ltype == 2 )
                                document.getElementById("linktype1").innerHTML = "Backhaul";
                            else if( ltype == 3 )
                                document.getElementById("linktype1").innerHTML = "PTMP-SMAC3";
                            else
                                document.getElementById("linktype1").innerHTML = "PTMP-SMAC2";
                        }
                        else {
                            document.getElementById("mac2").innerHTML = "<%=uciget('uci get wireless.wifi0.macaddr')%>"; 
                            document.getElementById("mode2").innerHTML = "<b>" +net.mode +"<b>"; 
                            var radio_status = "<%=uciget('uci get wireless.@wifi-iface[0].disabled')%>";
                            document.getElementById("status2").innerHTML = ( radio_status == 1 ? "Disabled" : "Enabled" );
                            document.getElementById("opmode2").innerHTML = "<%=uciget('uci get wireless.wifi0.hwmode')%>";
                            document.getElementById("bw2").innerHTML = "<%=uciget('uci get wireless.wifi0.htmode')%>";
                            document.getElementById("ssid2").innerHTML = net.ssid;
                            var acs2 = "<%=uciget('uci get wireless.wifi0.channel')%>";
                            document.getElementById("acs2").innerHTML = ( acs2 == "auto" ? "Enabled" : "Disabled" );
                            document.getElementById("dcs2").innerHTML = "Disabled";
                            if( net.channel != undefined ) {
                               var freq = net.frequency * 1000;
                               document.getElementById("chan2").innerHTML = net.channel + " ( " + freq + " MHz )"
                            }
                            document.getElementById("dis2").innerHTML = "300 m";
                            var enc = "none";
                            if( net.encryption != "None" ) 
                                enc = "WPA2-PSK"
                            document.getElementById("sec2").innerHTML = enc;
                        }
						if (is_assoc)
						{
							s += String.format(
								'<strong><%:BSSID%>:</strong> %s<br />' +
								'<strong><%:Encryption%>:</strong> %s',
									net.bssid,
									net.encryption
							);
						}
						else
						{
							s += '<em><%:Wireless is disabled or not associated%></em>';
						}

						s += '</small></td></tr></table>';

						for (var bssid in net.assoclist)
						{
							assoclist.push({
								bssid:    bssid,
								signal:   net.assoclist[bssid].signal,
								noise:    net.assoclist[bssid].noise,
								rx_rate:  net.assoclist[bssid].rx_rate,
								rx_mcs:   net.assoclist[bssid].rx_mcs,
								rx_40mhz: net.assoclist[bssid].rx_40mhz,
								tx_rate:  net.assoclist[bssid].tx_rate,
								tx_mcs:   net.assoclist[bssid].tx_mcs,
								tx_40mhz: net.assoclist[bssid].tx_40mhz,
								tx_tput: net.assoclist[bssid].tx_tput,
								rx_tput: net.assoclist[bssid].rx_tput,
								local_snr_a1: net.assoclist[bssid].local_snr_a1,
								local_snr_a2: net.assoclist[bssid].local_snr_a2,
								remote_snr_a1: net.assoclist[bssid].remote_snr_a1,
								remote_snr_a2: net.assoclist[bssid].remote_snr_a2,
								link:     net.link,
								name:     net.name
							});
						}
					}

					if (!s)
						s = '<em><%:No information available%></em>';

				}
			}

						<% end %>

			var e;

			if (e = document.getElementById('localtime'))
				e.innerHTML = info.localtime;

			if (e = document.getElementById('uptime'))
				e.innerHTML = String.format('%t', info.uptime);

			if (e = document.getElementById('loadavg'))
				e.innerHTML = String.format(
					'%.02f, %.02f, %.02f',
					info.loadavg[0] / 65535.0,
					info.loadavg[1] / 65535.0,
					info.loadavg[2] / 65535.0
				);

			if (e = document.getElementById('memtotal'))
				e.innerHTML = progressbar(
					((info.memory.free + info.memory.buffered) / 1024) + " <%:kB%>",
					(info.memory.total / 1024) + " <%:kB%>"
				);

			if (e = document.getElementById('memfree'))
				e.innerHTML = progressbar(
					(info.memory.free / 1024) + " <%:kB%>",
					(info.memory.total / 1024) + " <%:kB%>"
				);

			if (e = document.getElementById('membuff'))
				e.innerHTML = progressbar(
					(info.memory.buffered / 1024) + " <%:kB%>",
					(info.memory.total / 1024) + " <%:kB%>"
				);

			if (e = document.getElementById('swaptotal'))
				e.innerHTML = progressbar(
					(info.swap.free / 1024) + " <%:kB%>",
					(info.swap.total / 1024) + " <%:kB%>"
				);

			if (e = document.getElementById('swapfree'))
				e.innerHTML = progressbar(
					(info.swap.free / 1024) + " <%:kB%>",
					(info.swap.total / 1024) + " <%:kB%>"
				);

			if (e = document.getElementById('conns'))
				e.innerHTML = progressbar(info.conncount, info.connmax);

		}
	);
//]]></script>

<div class="main-page"> 
<div class="sidebar"> <%+sidebar%></div>                                                                                                                                   
<div class="page-content index" style="padding-bottom: 0px;">
<h2><a id="content" name="content"><%:Summary%></a></h2>

<table>
<tr>
<td style="border-top:0px;">
<fieldset class="cbi-section" style="width:445px;min-height:230px;padding:20px 20px;">
	<legend><%:System%></legend>
	<table width="100%" cellspacing="10">
		<tr><td width="47%"><%:Host Name%></td><td><%=luci.sys.hostname() or "?"%></td></tr>
		<tr><td width="47%"><%:Hardware Version%></td><td>VER 3.0</td></tr>
		<tr><td width="47%"><%:Model%></td><td><script type="text/javascript">document.write(modelname)</script></td></tr>
		<tr><td width="47%"><%:Firmware Version%></td><td id="desc"></td></tr>
		<tr><td width="47%"><%:Serial Number%></td><td><%=serial_no %></td></tr>
		<tr><td width="47%"><%:Local Time%></td><td id="localtime">-</td></tr>
		<tr><td width="47%"><%:Uptime%></td><td id="uptime">-</td></tr>
		<tr><td width="47%">Temperature</td><td><%=currTemperature%> &#8451;</td></tr>
		<tr><td width="47%"><%:GPS%></td><td id="gps"><script type="text/javascript">document.write(gps)</script></td></tr>
		<tr><td width="47%"><%:Customer Name%></td><td><%=uciget('uci get wireless.wifi1.customername')%></td></tr>
		<tr><td width="47%"><%:Country%></td><td><script type="text/javascript">document.write(country)</script></td></tr>
		<tr><td width="47%"><%:CPU / Memory Usage%></td><td><span id="cpu_mem">-</span></td></tr>
	</table>
</fieldset>
</td>
<td rowspan="2" style="border-top:0px;">
<fieldset class="cbi-section" style="width:470px;height:752px;padding:20px 20px;">
	<legend><%:Wireless%></legend>
	<table width="100%" cellspacing="10">
       <tr><td></td><td style="color:#a5bc23"><b>5 GHz<b></td><td style="color:#a5bc23"><b>2.4 GHz<b></td></tr>
       <tr><td style="padding-top:10px;">MAC</td><td id="mac1" style="padding-top:10px;">-</td><td id="mac2" style="padding-top:10px;">-</td></tr>
       <tr><td>Radio Mode</td><td id="mode1">-</td><td id="mode2">-</td></tr>
       <tr><td>Link Type</td><td id="linktype1">-</td><td id="linktype2">-</td></tr>
       <tr><td>Radio Status</td><td id="status1">-</td><td id="status2">-</td></tr>
       <tr><td>Operational Mode</td><td id="opmode1">-</td><td id="opmode2">-</td></tr>
       <tr><td>Bandwidth</td><td id="bw1">-</td><td id="bw2">-</td></tr>
       <tr><td>SSID</td><td id="ssid1" style="width: 45px;word-break: break-all;">-</td><td id="ssid2" style="width: 45px;word-break: break-all;">-</td></tr>
       <tr><td>ACS</td><td id="acs1">-</td><td id="acs2">-</td></tr>
       <tr><td>DCS</td><td id="dcs1">-</td><td id="dcs2">-</td></tr>
       <tr><td>Channel</td><td id="chan1">-</td><td id="chan2">-</td></tr>
       <tr><td>DDRS</td><td id="ddrs1">-</td><td id="ddrs2">-</td></tr>
       <tr><td>Data Rate</td><td id="rate1">-</td><td id="rate2">-</td></tr>
       <tr><td>ATPC</td><td id="atpc1">-</td><td id="atpc2">-</td></tr>
       <tr><td>Tx Power</td><td id="pow1">-</td><td id="pow2">-</td></tr>
       <tr><td>Security</td><td id="sec1">-</td><td id="sec2">-</td></tr>
       <tr><td>Distance</td><td id="dis1">-</td><td id="dis2">-</td></tr>
       <tr><td>Base Station ID</td><td id="bstid1">-</td><td id="bstid2">-</td></tr>
       <tr><td>Remote Partners</td><td id="links1">-</td><td id="links2">-</td></tr>
    </table>
	<table width="100%" cellspacing="10">
       <tr><td width="100%" style="color:#a5bc23;text-align:center;"><b>Throughput( Mbps )<b></td></tr>
    </table>
    <table width="100%" cellspacing="10">
       <tr><td width="25%"></td><td style="color:#a5bc23"><b>5 GHz<b></td><td style="color:#a5bc23"><b>2.4 GHz<b></td><td style="color:#a5bc23"><b>Ethernet<b></td></tr>
       <tr><td width="25%">Tx</td><td id="wi1tx">-</td><td id="wi2tx">-</td><td id="ethtx">-</td></tr>
       <tr><td width="25%">Rx</td><td id="wi1rx">-</td><td id="wi2rx">-</td><td id="ethrx">-</td></tr>
    </table>
</fieldset>
</td>
</tr>
<tr>
<td style="border-top:0px;">
<fieldset class="cbi-section" style="width:445px;min-height:230px;padding:20px 20px;">
	<legend><%:Network%></legend>
	<table width="100%" cellspacing="10">
		<tr><td width="47%"><%:Ethernet MAC%></td><td><%=eth_mac%></td></tr>
		<tr><td width="47%"><%:Ethernet Status%></td><td>
        <script type="text/javascript">
        if( eth1_status == "up" ) {
            var str = "Up " + eth1_speed + " Duplex: " + eth1_duplex;
            document.write(str);
        }
        else
            document.write(" Down ");
        </script>
        </td></tr>
		<tr><td width="47%"><%:Cable Length%></td><td><script type="text/javascript">document.write(cablen[2])</script>&nbsp;m</td></tr>
		<tr><td width="47%"><%:IP Address%></td><td><script type="text/javascript">document.write(ip)</script></td></tr>
		<tr><td width="47%"><%:Subnet Mask%></td><td><script type="text/javascript">document.write(mask)</script></td></tr>
		<tr><td width="47%"><%:Gateway IP%></td><td><script type="text/javascript">document.write(gw)</script></td></tr>
		<tr><td width="47%"><%:DNS IP%></td><td><script type="text/javascript">document.write(dns)</script></td></tr>
		<tr><td width="47%"><%:VLAN Status%></td><td><script type="text/javascript">document.write(vlan)</script></td></tr>
		<tr><td width="47%"><%:DHCP Client%></td><td><script type="text/javascript">document.write(dhcp)</script></td></tr>
		<tr><td width="47%"><%:Routing Mode%></td><td><script type="text/javascript">document.write(route)</script></td></tr>
		<tr><td width="47%"><%:Traffic Shaping%></td><td><script type="text/javascript">document.write(shaping)</script></td></tr>
		<tr><td width="47%"><%:Uplink Limit%></td><td><script type="text/javascript">document.write(ullmt)</script>&nbsp;Mbps</td></tr>
		<tr><td width="47%"><%:Downlink Limit%></td><td><script type="text/javascript">document.write(dllmt)</script>&nbsp;Mbps</td></tr>
		<tr><td width="47%"><%:Link Id%></td><td>
        <script type="text/javascript">
          var mode = "<%=uciget('uci get wireless.@wifi-iface[1].mode')%>";
          var link_id = "-";
          if( mode == "sta" )
              link_id = "<%=uciget('uci get wireless.wifi1.linkid')%>";
          document.write(link_id);
        </script>
        </td></tr>
	</table>
</fieldset>
</td>
</tr>
</table>
</div>
<script type="text/javascript">
get_desc();
</script>
</div>
<%+footer%>
