<%#
 Copyright 2008-2009 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%-
        function uciget(cmd)
                local res = luci.util.exec(cmd)
                local str = string.gsub(res, "\n", "")
                return str
        end
-%>

<%+header%>
<div class="page-content">
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">
var radmode = "<%=uciget('uci get wireless.@wifi-iface[1].mode')%>";
var def = new Array(8);
function save_def_value()
{
    var f = document.formTable;
    for (i=0; i<f.elements.length; i++)
    {
        def[i] = f.elements[i].value;
    }
}

function disable_spin()
{
    document.getElementById("spin").innerHTML = "";
}

function save_value()
{
    document.getElementById("spin").innerHTML = "<i class='fa fa-spinner fa-pulse'></i>";
    setTimeout("disable_spin()",1000);
    var setdata = "";
    var f = document.formTable;
    for( i=0; i<f.elements.length; i++)
    {
        if( def[i] != f.elements[i].value ) {
            def[i] = f.elements[i].value;
            setdata += f.elements[i].name + "=" + f.elements[i].value + "~";
        }
    }
    XHR.get('<%=luci.dispatcher.build_url("admin")%>/cfg_set' + '/' + setdata, null,
	    function(x, data) {
		    if (data) { 
		    }
	    }
    );
}

function validateval()
{
    var f = document.formTable;
    var valid;
    for( i=0; i<f.elements.length; i++)
    {
        valid = f.elements[i].value;
        if( f.elements[i].value == "" ) {
            alert("Fields must not be empty");
            return false;
        }
        if( f.elements[i].name == "147" ) {
            if(!(/^([A-Za-z0-9_\-\.])+\-([A-Za-z0-9_\-\.])+\-([A-Za-z0-9_\-\.])+\-([A-Za-z0-9_\-\.])+\-([A-Za-z0-9_\-\.])/.test(valid)) ) {
                alert("Basestation ID should be in proper format");
                return false;
            }
        }
        if( f.elements[i].name == "140" ) {
            if(!(/^[0-9]*$/.test(valid)) ) {
                alert("Customer Phone allows only numbers for configuration");
                return false;
            }
        }
    }
    save_value();
}
</script>
<h2><a id="content" name="content"><%:Quick Start%></a></h2>
<div class="cbi-map">
    <ul class="cbi-tabmenu">
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="<%=luci.dispatcher.build_url("admin/config")%>"><%:System%></a></li>
        <li style="margin-right:4px" class="cbi-tab"><a href="#"><%:Location%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="config1"><%:5GHz Radio%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="config2"><%:2.4GHz Radio%></a></li>
        <script type="text/javascript">
        if( radmode == "sta" ) {
           document.write("<li style='margin-right:4px' class='cbi-tab-disabled'><a href='survey'><%:Survey%></a></li>");
        }
        </script>
    </ul>
    <form name="formTable">
      <fieldset class="cbi-section">
          <div class="cbi-value">
            <label class="cbi-value-title">Customer Name</label>
            <div class="cbi-value-field">
              <input type="text" name="13" class="cbi-input-select" value="<%=uciget('uci get wireless.wifi1.customername')%>" > &nbsp; (1-32) characters
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">Customer Location</label>
            <div class="cbi-value-field">
              <input type="text" name="139" class="cbi-input-select" value="<%=uciget('uci get system.@system[0].location')%>" > &nbsp; (1-32) characters
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">Customer Email</label>
            <div class="cbi-value-field">
              <input type="text" name="141" class="cbi-input-select" value="<%=uciget('uci get system.@system[0].email')%>" >
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">Customer Phone</label>
            <div class="cbi-value-field">
              <input type="text" name="140" class="cbi-input-select" value="<%=uciget('uci get system.@system[0].contact')%>" >
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">Base Station ID</label>
            <div class="cbi-value-field">
              <input type="text" name="147" class="cbi-input-select" value="<%=uciget('uci get system.@system[0].bstid')%>" > &nbsp; (Ex: mh-mum-air-T1-st)
            </div>
          </div>
          <div class="cbi-value" id="linkid">
            <label class="cbi-value-title">Link Id</label>
            <div class="cbi-value-field">
              <input type="text" name="14" class="cbi-input-select" value="<%=uciget('uci get wireless.wifi1.linkid')%>" > &nbsp; (1-10) characters
            </div>
          </div>
      </fieldset>
    </form>
</div>
<div class="cbi-page-actions left">
<div id="spin"></div>
<input type="button" class="cbi-button" value="<%:Save%>" onclick="validateval()" />
</div>
<script type="text/javascript">
save_def_value();
var mode = "<%=uciget('uci get wireless.@wifi-iface[1].mode')%>";
if( mode == "ap" )
{
    document.getElementById("linkid").style.display = "none";
}
else
{
    document.getElementById("linkid").style.display = "block";
}
</script>
</div>
<%+footer%>
