<% 
   local loginuser = luci.dispatcher.context.authuser 
%>
<%- if pageaction then -%>
	<div class="cbi-page-actions">
		<% if redirect then %>
		<div style="float:left">
			<input class="cbi-button cbi-button-link" type="button" value="<%:Back to Overview%>" onclick="location.href='<%=pcdata(redirect)%>'" />
		</div>
		<% end %>

		<% if flow.skip then %>
			<input class="cbi-button cbi-button-skip" type="submit" name="cbi.skip" value="<%:Skip%>" />
		<% end %>
		<% if not autoapply and not flow.hideapplybtn then %>
			<!--<input class="cbi-button cbi-button-apply" type="submit" name="cbi.apply" value="<%:Save & Apply%>" />-->
		<% end %>
		<% if not flow.hidesavebtn then %>
			<input class="cbi-button cbi-button-save" type="submit" value="<%:Save%>" />
		<% end %>
		<% if not flow.hideresetbtn then %>
			<!--<input class="cbi-button cbi-button-reset" type="button" value="<%:Reset%>" onclick="location.href='<%=REQUEST_URI%>'" />-->
		<% end %>

		<script type="text/javascript">
        cbi_d_update();
        var loginuser = <%=luci.http.write_json(loginuser)%>;
        if( loginuser == "user" ) {
           $('input').prop('disabled',true);
           $('select').prop('disabled',true);

           $('.cbi-input-user').prop("disabled", false);
           $('.cbi-input-password').prop("disabled", false);
           $('.cbi-button-apply').prop("disabled", false);
           $('.cbi-button-reset').prop("disabled", false);
           $('#logtype').prop("disabled", false);
           $('.nwktool').prop("disabled", false);
           $('#ret').prop("disabled", false);
           $('#tftpserverip').prop("disabled", false);
           $('#filetype').prop("disabled", false);
           $('#tftpfilename').prop("disabled", false);
           document.getElementById("header_apply").href="";
           document.getElementById("header_reboot").href="";
        }
        </script>
	</div>
	<%- end -%>
</form>
<%+footer%>
