<%#
 Copyright 2008-2009 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%-
        function uciget(cmd)
                local res = luci.util.exec(cmd)
                local str = string.gsub(res, "\n", "")
                return str
        end
-%>
<%+header%>
<div class="page-content">
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">
var radmode = "<%=uciget('uci get wireless.@wifi-iface[1].mode')%>";
var wds = "<%=uciget('uci get wireless.@wifi-iface[1].wds')%>";
var linktype = "<%=uciget('uci get wireless.wifi1.linktype')%>"; 
var def = new Array(8);
function save_def_value()
{
    var f = document.formTable;
    for (i=0; i<f.elements.length; i++)
    {
        def[i] = f.elements[i].value;
    }
}

function disable_spin()
{
    document.getElementById("spin").innerHTML = "";
}

function save_value()
{
    document.getElementById("spin").innerHTML = "<i class='fa fa-spinner fa-pulse'></i>";
    setTimeout("disable_spin()",1000);
    var setdata = "";
    var f = document.formTable;
    for( i=0; i<f.elements.length; i++)
    {
        if( def[i] != f.elements[i].value ) {
            def[i] = f.elements[i].value;
            setdata += f.elements[i].name + "=" + f.elements[i].value + "~";
        }
    }
    XHR.get('<%=luci.dispatcher.build_url("admin")%>/cfg_set' + '/' + setdata, null,
	    function(x, data) {
		    if (data) { 
                location.href='<%=luci.dispatcher.build_url("admin/network/dhcp/dhcp24")%>';
		    }
	    }
    );
}
</script>
<h2><a id="content" name="content"><%: DHCP Server%></a></h2>
<ul class="cbi-tabmenu">
    <script type="text/javascript">
    if( linktype != "2" ) {
       if( radmode == "ap" && wds == "1" ) {
          document.write("<li style='margin-right:4px' class='cbi-tab-disabled'><a href='<%=luci.dispatcher.build_url('admin/network/dhcp')%>'><%:5GHz Radio%></a></li>");
       }
    }
    </script>
    <li style="margin-right:4px" class="cbi-tab"><a href="#"><%:2.4GHz Radio%></a></li>
    <li style="margin-right:4px" class="cbi-tab-disabled"><a href="dhcplease"><%:Leases%></a></li>
</ul>
<div class="cbi-map">
    <form name="formTable">
       <fieldset class="cbi-section">
          <legend style="width:96%; padding:10px 0px 10px 0px; border-bottom:1px solid #e5e5e5;">IP Configuration</legend><br><br><br>
          <div class="cbi-value">
            <label class="cbi-value-title">IP Address</label>
            <div class="cbi-value-field">
              <input type="text" name="160" class="cbi-input-select" value="<%=uciget('uci get network.kwlan.ipaddr')%>" >
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">Subnet Mask</label>
            <div class="cbi-value-field">
              <input type="text" name="161" class="cbi-input-select" value="<%=uciget('uci get network.kwlan.netmask')%>" >
            </div>
          </div>
       </fieldset>   
       <fieldset class="cbi-section">
          <legend style="width:96%; padding:10px 0px 10px 0px; border-bottom:1px solid #e5e5e5;">Pool Configuration</legend><br><br><br>
          <div class="cbi-value">
            <label class="cbi-value-title">DHCP Server</label>
            <div class="cbi-value-field">
              <select class="cbi-input-select" name="155">
                 <script type="text/javascript">
                 var start = "<%=uciget('uci get dhcp.kwlan.ignore')%>";
                 document.write("<option value='1' ");
                 if( start == "1" )
                     document.write(" selected");
                 document.write(">Disable</option>");
                 document.write("<option value='0' ");
                 if( start == "0" )
                     document.write(" selected");
                 document.write(">Enable</option>");
                 </script>
              </select>
            </div>
          </div>
          <div class="cbi-value" id="startid">
            <label class="cbi-value-title">Start IP Address</label>
            <div class="cbi-value-field">
              <input type="text" name="156" class="cbi-input-select" value="<%=uciget('uci get dhcp.kwlan.start')%>" >
            </div>
          </div>
          <div class="cbi-value" id="limitid">
            <label class="cbi-value-title">End IP Address</label>
            <div class="cbi-value-field">
              <input type="text" name="157" class="cbi-input-select" value="<%=uciget('uci get dhcp.kwlan.limit')%>" >
            </div>
          </div>
          <div class="cbi-value" id="timeid">
            <label class="cbi-value-title">Lease Time</label>
            <div class="cbi-value-field">
              <input type="text" name="158" class="cbi-input-select" value="<%=uciget('uci get dhcp.kwlan.leasetime')%>" >&nbsp; ( 120 - 86400 ) Secs
            </div>
          </div>
       </fieldset>   
    </form>
</div>
<div class="cbi-page-actions left">
<div id="spin"></div>
<input type="button" class="cbi-button" value="<%:Save%>" onclick="save_value()" />
</div>
<script type="text/javascript">
if( start == 1 )
{
    document.getElementById("startid").style.display="none";
    document.getElementById("limitid").style.display="none";
    document.getElementById("timeid").style.display="none";
}
else
{
    document.getElementById("startid").style.display="block";
    document.getElementById("limitid").style.display="block";
    document.getElementById("timeid").style.display="block";
}
save_def_value();
</script>
</div>
<%+footer%>
