<%#
 Copyright 2008-2009 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%-
        function uciget(cmd)
                local res = luci.util.exec(cmd)
                local str = string.gsub(res, "\n", "")
                return str
        end
-%>
<%+header%>
<div class="page-content">
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">
var def = new Array(8);
function save_def_value()
{
    var f = document.formTable;
    for (i=0; i<f.elements.length; i++)
    {
        def[i] = f.elements[i].value;
    }
}

function disable_spin()
{
    document.getElementById("spin").innerHTML = "";
}

function save_value()
{
    document.getElementById("spin").innerHTML = "<i class='fa fa-spinner fa-pulse'></i>";
    setTimeout("disable_spin()",1000);
    var setdata = "";
    var f = document.formTable;
    for( i=0; i<f.elements.length; i++)
    {
        if( def[i] != f.elements[i].value ) {
            def[i] = f.elements[i].value;
            setdata += f.elements[i].name + "=" + f.elements[i].value + "~";
        }
    }
    XHR.get('<%=luci.dispatcher.build_url("admin")%>/cfg_set' + '/' + setdata, null,
	    function(x, data) {
		    if (data) { 
		    }
	    }
    );
}
</script>
<h2><a id="content" name="content"><%: Ethernet Configuration%></a></h2>
<div class="cbi-map">
    <fieldset class="cbi-section">
       <form name="formTable">
          <div class="cbi-value">
            <label class="cbi-value-title">Ethernet Speed</label>
            <div class="cbi-value-field">
              <select class="cbi-input-select" name="43" id="super_eth_mode">
                 <script type="text/javascript">
                 var speed = "<%=uciget('uci get ethernet.ethernet.mode')%>";
                 document.write("<option value='0' ");
                 if( speed == "0" )
                     document.write(" selected");
                 document.write(">Auto Negotiation</option>");
                 /*document.write("<option value='1' ");
                 if( speed == "1" )
                     document.write(" selected");
                 document.write(">10Mbps-Half</option>");
                 document.write("<option value='2' ");
                 if( speed == "2" )
                     document.write(" selected");
                 document.write(">10Mbps-Full</option>");
                 document.write("<option value='3' ");
                 if( speed == "3" )
                     document.write(" selected");
                 document.write(">100Mbps-Half</option>");*/
                 document.write("<option value='4' ");
                 if( speed == "4" )
                     document.write(" selected");
                 document.write(">100Mbps-Full</option>");
                 document.write("<option value='5' ");
                 if( speed == "5" )
                     document.write(" selected");
                 document.write(">1000Mbps-Full</option>");
                 </script>
              </select>
            </div>
        </div>
        <div class="cbi-value">
            <label class="cbi-value-title">Ethernet Inactivity</label>
            <div class="cbi-value-field">
              <select class="cbi-input-select" name="77">
                 <script type="text/javascript">
                 var ethtime = "<%=uciget('uci get ethernet.ethernet.ethtimer')%>";
                 document.write("<option value='0' ");
                 if( ethtime == "0" )
                     document.write(" selected");
                 document.write(">Disable</option>");
                 document.write("<option value='5' ");
                 if( ethtime == "5" )
                     document.write(" selected");
                 document.write(">Enable</option>");
                 </script>
              </select>
            </div>
        </div>
        <div class="cbi-value" id="eth_mtu" style="display:none">
          <label class="cbi-value-title">Ethernet MTU</label>
          <div class="cbi-value-field">          
            <input type="text" name="114" class="cbi-input-select" value="<%=uciget('uci get network.lan.mtu')%>" > &nbsp; (1500-9000) Bytes
          </div>
        </div>
    </form>
    </fieldset>
</div>
<div class="cbi-page-actions left">
<div id="spin"></div>
<input type="button" class="cbi-button" id="super_save" value="<%:Save%>" onclick="save_value()" />
</div>
<script type="text/javascript">
save_def_value();
</script>
</div>
<%+footer%>
