<%#
 Copyright 2008-2009 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%-
    local gw = luci.sys.exec("ip route get 1 | awk '{print $NF;exit}'")
        gw = string.gsub(gw, "\n", "")
        function uciget(cmd)
                local res = luci.util.exec(cmd)
                local str = string.gsub(res, "\n", "")
                return str
        end
-%>
<%+header%>
<div class="page-content">
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script tyep="text/javascript">
var def = new Array(8);
function save_def_value()
{
    var f = document.formTable;
    for (i=0; i<f.elements.length; i++)
    {
        def[i] = f.elements[i].value;
    }
}

function disable_spin()
{
    document.getElementById("spin").innerHTML = "";
}

function save_value()
{
    document.getElementById("spin").innerHTML = "<i class='fa fa-spinner fa-pulse'></i>";
    setTimeout("disable_spin()",1000);
    var setdata = "";
    var f = document.formTable;
    for( i=0; i<f.elements.length; i++)
    {
        if( def[i] != f.elements[i].value ) {
            def[i] = f.elements[i].value;
            if ( f.elements[i].name == 27 )
            {
                dns_ip1 = document.getElementById("dns1").value;
                dns_ip2 = document.getElementById("dns2").value;
                var dns_ip = dns_ip1+" "+dns_ip2;
                setdata += f.elements[i].name + "=" + dns_ip + "~";
            }
            else
            {
                setdata += f.elements[i].name + "=" + f.elements[i].value + "~";
            }
        }
    }
    XHR.get('<%=luci.dispatcher.build_url("admin")%>/cfg_set' + '/' + setdata, null,
	    function(x, data) {
		    if (data) {
                location.href = "<%=luci.dispatcher.build_url("admin/network/ip")%>";
		    }
	    }
    );
}

function getoptions( list, value )
{
    for( i = 0; i < list.length; i++ )
    {
        var a = list[i].split("=");
        document.write("<option value=");
        document.write(a[0]);
        if( value == a[0] )
           document.write(" selected");
        document.write(">");
        document.write(a[1]);
        document.write("</option>");
    }
}
function updatemode(value)
{
    if( value == "1" )
    {   
        document.getElementById("bridgemode").style.display="block";
        document.getElementById("routingwifi").style.display="none";
        document.getElementById("routingeth").style.display="none";
        document.getElementById("nat").style.display="none";
    }
    else
    {
        document.getElementById("bridgemode").style.display="none";
        document.getElementById("routingwifi").style.display="block";
        document.getElementById("routingeth").style.display="block";
        document.getElementById("nat").style.display="block";
        document.getElementById("wifi_ip").innerHTML="<input type='text' name='144' class='cbi-input-select' value='<%=uciget('uci get network.kwath.ipaddr')%>' >";
        document.getElementById("wifi_mask").innerHTML="<input type='text' name='146' class='cbi-input-select' value='<%=uciget('uci get network.kwath.netmask')%>' >";
        document.getElementById("wifi_gateway").innerHTML="<input type='text' name='147' class='cbi-input-select' value='<%=uciget('uci get network.kwath.gateway')%>' >";
        document.getElementById("eth_ip").innerHTML="<input type='text' name='148' class='cbi-input-select' value='<%=uciget('uci get network.kweth.ipaddr')%>' >";
        document.getElementById("eth_mask").innerHTML="<input type='text' name='150' class='cbi-input-select' value='<%=uciget('uci get network.kweth.netmask')%>' >";
    }
}
function updateparam(value)
{
    var dnsip1 = "0.0.0.0", dnsip2 = "0.0.0.0";
    var dns_val = "<%=uciget('uci get network.lan.dns')%>"
    if ( dns_val != "" )
    {
        var val = dns_val.split(" ");
        if( val[0] != undefined )
        {
            if ( val[0] != "" )
                    dnsip1 = val[0];
        }
        if( val[1] != undefined )
        {
            if ( val[1] != "" )
                dnsip2 = val[1];
        }
    }
    document.getElementById("dns1").value = dnsip1;
    document.getElementById("dns2").value = dnsip2;
    if( value == "static" )
    {
        document.getElementById("ip").innerHTML = "<input type='text' name='23' class='cbi-input-select' value='<%=uciget('uci get network.lan.ipaddr')%>' >";
        document.getElementById("mask").innerHTML = "<input type='text' name='25' class='cbi-input-select' value='<%=uciget('uci get network.lan.netmask')%>' >";
        document.getElementById("gateway").innerHTML = "<input type='text' name='26' class='cbi-input-select' value='<%=uciget('uci get network.lan.gateway')%>' >";
    }
    else
    {
        var dyn_val = "<%=uciget("ifconfig br-lan | grep 'inet addr' | sed 's/          //'")%>";
        var val = dyn_val.split(" ");
        var ip = "0.0.0.0", mask = "0.0.0.0";
        var gw = "<%=gw %>";
        if( val != "" )
        {
            ip = val[1].split(":");
            ip = ip[1];
            mask = val[5].split(":");
            mask = mask[1];
        }
        document.getElementById("ip").innerHTML = ip;
        document.getElementById("mask").innerHTML = mask;
        document.getElementById("gateway").innerHTML = gw;
    }
}
</script>
<h2><a id="content" name="content"><%: IP Configuration%></a></h2>
<div class="cbi-map">
    <form name="formTable">
        <fieldset class="cbi-section">
          <div class="cbi-value">
            <label class="cbi-value-title">Network Mode</label>
            <div class="cbi-value-field">
              <select class="cbi-input-select" id="routeopt" name="142" onchange="updatemode(this.value)">
                 <script type="text/javascript">
                 var mode = "<%=uciget('uci get network.param.routestatus')%>";
                 document.write("<option value='1' ");
                 if( mode == "1" )
                     document.write(" selected");
                 document.write(">Bridge</option>");
                 document.write("<option value='2' ");
                 if( mode == "2" )
                     document.write(" selected");
                 document.write(">Routing</option>");
                 </script>
              </select>
            </div>
          </div>
        </fieldset>
        <fieldset class="cbi-section" id="nat">
          <div class="cbi-value">
            <label class="cbi-value-title">Nat Status</label>
            <div class="cbi-value-field">
              <select class="cbi-input-select" name="143">
                 <script type="text/javascript">
                 var mode = "<%=uciget('uci get network.param.natstatus')%>";
                 document.write("<option value='0' ");
                 if( mode == "0" )
                     document.write(" selected");
                 document.write(">Disable</option>");
                 document.write("<option value='1' ");
                 if( mode == "1" )
                     document.write(" selected");
                 document.write(">Enable</option>");
                 </script>
              </select>
            </div>
          </div>
        </fieldset>
        <fieldset class="cbi-section" id="bridgemode">
          <div class="cbi-value">
            <label class="cbi-value-title">Address Type</label>
            <div class="cbi-value-field">
              <select class="cbi-input-select" name="24" onchange="updateparam(this.value)">
                 <script type="text/javascript">
                 var type = "<%=uciget('uci get network.lan.proto')%>";
                 document.write("<option value='static' ");
                 if( type == "static" )
                     document.write(" selected");
                 document.write(">Static</option>");
                 document.write("<option value='dhcp' ");
                 if( type == "dhcp" )
                     document.write(" selected");
                 document.write(">Dynamic</option>");
                 </script>
              </select>
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">IP Address</label>
            <div class="cbi-value-field" id="ip">
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">Subnet Mask</label>
            <div class="cbi-value-field" id="mask">
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">Gateway</label>
            <div class="cbi-value-field" id="gateway">
            </div>
          </div>
        </fieldset>
        <fieldset class="cbi-section" id="routingwifi">
        <br>
        <legend style="width:96%; padding:10px 0px 10px 0px; border-bottom:1px solid #e5e5e5;">Wireless</legend><br><br>
          <div class="cbi-value">
            <label class="cbi-value-title">IP Address</label>
            <div class="cbi-value-field" id="wifi_ip">
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">Subnet Mask</label>
            <div class="cbi-value-field" id="wifi_mask">
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">Gateway</label>
            <div class="cbi-value-field" id="wifi_gateway">
            </div>
          </div>
        </fieldset>
        <fieldset class="cbi-section" id="routingeth">
        <br>
        <legend style="width:96%; padding:10px 0px 10px 0px; border-bottom:1px solid #e5e5e5;">Ethernet</legend><br><br>
          <div class="cbi-value">
            <label class="cbi-value-title">IP Address</label>
            <div class="cbi-value-field" id="eth_ip">
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">Subnet Mask</label>
            <div class="cbi-value-field" id="eth_mask">
            </div>
          </div>
        </fieldset>
        <fieldset class="cbi-section">
          <br>
          <legend style="width:96%; padding:10px 0px 10px 0px; border-bottom:1px solid #e5e5e5;">DNS</legend><br><br>
          <div class="cbi-value">
            <label class="cbi-value-title">Primary DNS</label>
            <div class="cbi-value-field">
            <input type="text" id="dns1" name="27" class="cbi-input-select" value="" >
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">Secondary DNS</label>
            <div class="cbi-value-field">
            <input type="text" id="dns2" name="27" class="cbi-input-select" value="" >
            </div>
          </div>
        </fieldset>
    </form>
</div>
<div class="cbi-page-actions left">
<div id="spin"></div>
<input type="button" class="cbi-button" value="<%:Save%>" onclick="save_value()" />
</div>
<script type="text/javascript">
var type = "<%=uciget('uci get network.lan.proto')%>";
updateparam(type);
var dev_mode = "<%=uciget('uci get network.param.routestatus')%>";
updatemode(dev_mode);
save_def_value();
var mode = "<%=uciget('uci get wireless.@wifi-iface[1].mode')%>";
if( mode == "ap" )
    document.getElementById("routeopt").disabled="true";
</script>
</div>
<%+footer%>
