<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
  Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
   Licensed to the public under the Apache License 2.0.
   -%>

<%+header%>
<div class="page-content">
   <h2><a id="content" name="content"><%:Network Statistics%></a></h2>
    <ul class="cbi-tabmenu">
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="<%=luci.dispatcher.build_url("admin/monitor/nwkstats")%>"><%:5GHz Radio%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="radio2nwkstats"><%:2.4GHz Radio%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="ethnwkstats"><%:Ethernet%></a></li>
        <li style="margin-right:4px" class="cbi-tab"><a href="#">ARP</a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="learntbl"><%:Bridge%></a></li>
    </ul>
   <h2><a id="content" name="content"><%:ARP Table%></a></h2>
   <fieldset>
   <div id="content_syslog">
   <textarea readonly="readonly" wrap="off" rows="<%=arptbl:cmatch("\n")+2%>" id="syslog"><%=arptbl:pcdata()%></textarea>
   </div>
   </fieldset>
   <div>&nbsp;</div>
   <div class="cbi-page-actions right">
    <input type="button" class="cbi-button" value="<%:Refresh%>" onclick="location.href='<%=luci.dispatcher.build_url("admin/monitor/nwkstats/arptbl")%>'" />
    <input type="button" class="cbi-button" value="<%:Clear%>" onclick="location.href='<%=luci.dispatcher.build_url("admin/monitor/nwkstats/clr_arptbl")%>'" />
    </div>
</div>
<%+footer%>
