<%#
 Copyright 2008-2009 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%-

	local ip = require "luci.ip"
	local fs = require "nixio.fs"
	local uci = require "luci.model.uci".cursor()
	local ntm = require "luci.model.network"

	local has_iwinfo = pcall(require, "iwinfo")

	ntm.init(uci)

	local devices  = ntm:get_wifidevs()

	local netlist = { }
	local netdevs = { }

	local dev
	for _, dev in ipairs(devices) do
		local net
		for _, net in ipairs(dev:get_wifinets()) do
			netlist[#netlist+1] = net:id()
			netdevs[net:id()] = dev:name()
		end
	end
    local iw = luci.sys.wifi.getiwinfo("wifi1.network1")
    local freq = iw.frequency
        function uciget(cmd)
                local res = luci.util.exec(cmd)
                local str = string.gsub(res, "\n", "")
                return str
        end
-%>

<%+header%>
<div class="page-content">
<% if not has_iwinfo then %>
	<div class="errorbox">
		<strong><%:Package libiwinfo required!%></strong><br />
		<%_The <em>libiwinfo-lua</em> package is not installed. You must install this component for working wireless configuration!%>
	</div>
<% end %>

<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">
var radiomode = "<%=uciget('uci get wireless.@wifi-iface[1].mode')%>";
var ind = <%=luci.http.write_json(entryind)%>;
var freq = <%= luci.http.write_json(freq) %>;
var hw = "<%=uciget('uci get wireless.wifi1.hwmode')%>";
var shaping = "<%=uciget('uci get wireless.@wifi-iface[1].shaping')%>";
/*                0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16  17  18  19 */
var tx_pow_ac = [ 23, 22, 22, 21, 21, 20, 20, 19, 18, 17, 23, 22, 22, 21, 21, 20, 20, 19, 18, 17 ];
var tx_pow_n  = [ 23, 22, 21, 20, 20, 19, 18, 17, 23, 22, 21, 20, 20, 19, 18, 17 ];
var tx_pow = ( hw == "11ac" ? tx_pow_ac : tx_pow_n );
var mac, timer;

function disable_spin()
{
    document.getElementById("spin").innerHTML = "";
}

function save_value( dur )
{
    document.getElementById("spin").innerHTML = "<i class='fa fa-spinner fa-pulse'></i>";
    setTimeout("disable_spin()", dur);
    var setdata = "";
    var f = document.formTable;
    for( i=0; i<f.elements.length; i++)
    {
        setdata += f.elements[i].name + "=" + f.elements[i].value + "~";
    }
    XHR.get('<%=luci.dispatcher.build_url("admin")%>/cfg_set' + '/' + setdata, null,
	    function(x, data) {
		    if (data) { 
		    }
	    }
    );
}
    function distanceInKmBetweenEarthCoordinates(lat1, lon1, lat2, lon2) {
        var earthRadiusKm = 6371;

        var dLat = degreesToRadians(lat2-lat1);
        var dLon = degreesToRadians(lon2-lon1);

        lat1 = degreesToRadians(lat1);
        lat2 = degreesToRadians(lat2);

        var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
        Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2); 
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
        return earthRadiusKm * c;
    }
	function nowrap(s) {
		return s.replace(/ /g, '&#160;');
	}

	function back() {
		location.href='<%=luci.dispatcher.build_url("admin/monitor/stats")%>';
	}
        function enable() {
		document.getElementById("s1").innerHTML="<input type='button' class='cbi-button' value='<%:Start Test%>' onclick='starttool()' />";
		document.getElementById("msg").innerHTML="";
	}
    function clearstats() {
    		XHR.get('<%=luci.dispatcher.build_url("admin", "monitor","stats")%>/clearnodestats' + '/' + mac, null,
			function(x, data) {
				if (data) { 
		            location.href='<%=luci.dispatcher.build_url("admin/monitor/stats")%>/details' + '/' + ind;
				}
			}
    		);
    }
	function stoptool() {
		document.getElementById("s1").innerHTML="<input type='button' class='cbi-button' value='<%:Start Test%>' onclick='starttool()' />";
		clearTimeout( timer );
    		XHR.get('<%=luci.dispatcher.build_url("admin", "monitor", "stats")%>/stoptool' + '/' + mac, null,
			function(x, data) {
				if (data) { 
					document.getElementById("msg").innerHTML = "";
                    disable_spin();
				}
			}
    		);
	}
    function starttest() {
    		XHR.get('<%=luci.dispatcher.build_url("admin", "monitor","stats")%>/starttool' + '/' + mac, null,
			function(x, data) {
				if (data) { 
					document.getElementById("msg").innerHTML = data;
				}
			}
    		);
    }
	function starttool() {
        var dur = document.getElementById("duration").value;
        dur = dur * 1000;
        save_value( dur );
		document.getElementById("s1").innerHTML="<input type='button' class='cbi-button' value='<%:Stop Test%>' onclick='stoptool()' />";
    		timer = setTimeout("enable()",dur);
        setTimeout("starttest()",2000);
	}
	function disconnect() {
		location.href='<%=luci.dispatcher.build_url("admin/monitor/stats")%>/disconnect' + '/' + mac;
	}
    function degreesToRadians(degrees) {
        return degrees * Math.PI / 180;
    }

function getBaseLog(x, y) {
      return Math.log(y) / Math.log(x);
}

    function distanceInKmBetweenEarthCoordinates(lat1, lon1, lat2, lon2) {
        var earthRadiusKm = 6371;

        var dLat = degreesToRadians(lat2-lat1);
        var dLon = degreesToRadians(lon2-lon1);

        lat1 = degreesToRadians(lat1);
        lat2 = degreesToRadians(lat2);

        var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
        Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2); 
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
        return earthRadiusKm * c;
    }

	XHR.poll(5, '<%=luci.dispatcher.build_url("admin", "wireless", "wireless_status", table.concat(netlist, ","))%>', null,
		function(x, st)
		{
			if (st)
			{

				i = 1;
				{
					var iw = st[i];
					{
						var assoclist = [ ];
						for( var bssid in iw.assoclist )
						{
							assoclist.push(iw.assoclist[bssid]);
							assoclist[assoclist.length-1].bssid = bssid;
						}

						assoclist.sort(function(a, b) { a.bssid < b.bssid });
                        j = ind;
						//for( var j = 0; j < assoclist.length; j++ )
						{
							mac = assoclist[j].bssid;
                            var tx_gain = assoclist[j].l_ant_gain;
                            var tx_loss = document.getElementById("txloss").value;
                            var rx_gain = assoclist[j].r_ant_gain;
                            var rx_loss = document.getElementById("rxloss").value;
                            var dis = distanceInKmBetweenEarthCoordinates(assoclist[j].local_lat,assoclist[j].local_long,assoclist[j].remote_lat,assoclist[j].remote_long);
                            dis = dis.toFixed(2);
                            var mcs = assoclist[j].tx_rate_mcs;
                            var path_loss = (20 * (assoclist[j].remote_lat > 0 ? getBaseLog(10,dis) : 0)) + (20 * getBaseLog(10,freq)) + 32.44;
                            path_loss = path_loss.toFixed(2);
                            document.getElementById("pathloss").innerHTML = 0 - path_loss;
                            var tx = tx_pow[mcs] + parseInt(tx_gain) - parseInt(tx_loss);
                            var rx = parseInt(rx_gain) - parseInt(rx_loss);
                            var rec_pow = tx + rx - path_loss;
                            rec_pow = rec_pow.toFixed(2);
                            document.getElementById("recpow").innerHTML = rec_pow;
							document.getElementById("rem_mac").innerHTML = assoclist[j].bssid.toLowerCase();;
							document.getElementById("loc_gps").innerHTML = assoclist[j].local_lat != "" ? ( assoclist[j].local_lat + " N " + assoclist[j].local_long + " E") : "-";
							document.getElementById("rem_gps").innerHTML = assoclist[j].local_lat != "" ? ( assoclist[j].remote_lat + " N " + assoclist[j].remote_long + " E") : "-";
							document.getElementById("loc_a1").innerHTML = assoclist[j].local_snr_a1 > 128 ? 0 : assoclist[j].local_snr_a1;
							document.getElementById("rem_a1").innerHTML = assoclist[j].remote_snr_a1 > 128 ? 0 : assoclist[j].remote_snr_a1;
							document.getElementById("loc_a2").innerHTML = assoclist[j].local_snr_a2 > 128 ? 0 : assoclist[j].local_snr_a2;
							document.getElementById("rem_a2").innerHTML = assoclist[j].remote_snr_a2 > 128 ? 0 : assoclist[j].remote_snr_a2;
							document.getElementById("loc_sig_a1").innerHTML = assoclist[j].local_snr_a1 > 128 ? assoclist[j].l_noise_floor : (assoclist[j].local_snr_a1 + assoclist[j].l_noise_floor);
							document.getElementById("rem_sig_a1").innerHTML = assoclist[j].remote_snr_a1 > 128 ? assoclist[j].r_noise_floor : (assoclist[j].remote_snr_a1 + assoclist[j].r_noise_floor);
							document.getElementById("loc_sig_a2").innerHTML = assoclist[j].local_snr_a2 > 128 ? assoclist[j].l_noise_floor : (assoclist[j].local_snr_a2 + assoclist[j].l_noise_floor);
							document.getElementById("rem_sig_a2").innerHTML = assoclist[j].remote_snr_a2 > 128 ? assoclist[j].r_noise_floor : (assoclist[j].remote_snr_a2 + assoclist[j].r_noise_floor);
							document.getElementById("loc_noise").innerHTML = assoclist[j].l_noise_floor;
							document.getElementById("rem_noise").innerHTML = assoclist[j].r_noise_floor;
							document.getElementById("loc_rate").innerHTML = assoclist[j].tx_rate / 1000;
							document.getElementById("rem_rate").innerHTML = assoclist[j].rx_rate / 1000;
							document.getElementById("loc_tput").innerHTML = assoclist[j].tx_tput > (1000 * 1000) ? (assoclist[j].tx_tput / ( 1000 * 1000 )).toFixed(2) : 0;
							document.getElementById("rem_tput").innerHTML = assoclist[j].rx_tput > (1000 * 1000) ? (assoclist[j].rx_tput / ( 1000 * 1000 )).toFixed(2) : 0;
							//document.getElementById("loc_phy").innerHTML = assoclist[j].local_phy_err;
							//document.getElementById("rem_phy").innerHTML = assoclist[j].remote_phy_err;
							//document.getElementById("loc_mpdu").innerHTML = assoclist[j].local_mpdu_err;
							//document.getElementById("rem_mpdu").innerHTML = assoclist[j].remote_mpdu_err;
							document.getElementById("loc_retry").innerHTML = assoclist[j].local_retries;
							document.getElementById("rem_retry").innerHTML = assoclist[j].remote_retries;
							document.getElementById("loc_gain").innerHTML = assoclist[j].l_ant_gain;
							document.getElementById("rem_gain").innerHTML = assoclist[j].r_ant_gain;
							document.getElementById("loc_cusname").innerHTML = assoclist[j].l_customer_name;
							document.getElementById("rem_cusname").innerHTML = assoclist[j].r_customer_name;
							document.getElementById("loc_id").innerHTML = assoclist[j].l_link_id;
							document.getElementById("rem_id").innerHTML = assoclist[j].r_link_id;
							document.getElementById("loc_limit").innerHTML = assoclist[j].l_bw_limit > (1000) ? (assoclist[j].l_bw_limit / ( 1000 )).toFixed(2) : 0;
							document.getElementById("rem_limit").innerHTML = assoclist[j].r_bw_limit > (1000) ? (assoclist[j].r_bw_limit / ( 1000 )).toFixed(2) : 0;
							document.getElementById("loc_rtx").innerHTML = assoclist[j].l_rtx + "%";
							document.getElementById("rem_rtx").innerHTML = assoclist[j].r_rtx + "%";
							document.getElementById("loc_pwr").innerHTML = assoclist[j].l_tx_power;
							document.getElementById("rem_pwr").innerHTML = assoclist[j].r_tx_power;
							document.getElementById("loc_tx_pkt").innerHTML = assoclist[j].l_tx_data;
							document.getElementById("rem_tx_pkt").innerHTML = assoclist[j].r_tx_data;
							document.getElementById("loc_rx_pkt").innerHTML = assoclist[j].l_rx_data;
							document.getElementById("rem_rx_pkt").innerHTML = assoclist[j].r_rx_data;
						}
					}
				}
			}
		}
	);
</script>
<h2><a id="content" name="content"><%:Detailed Statistics%></a></h2>
<div class="cbi-page-actions right">
<input type="button" class="cbi-button cbi-button-apply" value="<%:Back%>" onclick="back()" />
<input type="button" class="cbi-button" value="<%:Clear%>" onclick="clearstats()" />
<input type="button" class="cbi-button" value="<%:Disconnect%>" onclick="disconnect()" />
</div>
<h2><a id="content" name="content"><%:Link Test%></a></h2>
<div class="cbi-map">
    <fieldset class="cbi-section">
       <form name="formTable">
        <table>
            <tr>
                <td width="35%">Packet Size&nbsp;<input type="text" name="78" class="cbi-input-select" style="width:100px;" value="<%=uciget('uci get tool.tool.size')%>">&nbsp;Bytes</td>
                <td width="35%">Duration&nbsp;<input type="text" name="79" class="cbi-input-select" id="duration" style="width:100px;" value="<%=uciget('uci get tool.tool.dur')%>">&nbsp;(1-2500) Sec</td>
                <td width="32%" class="cbi-value-field">Direction&nbsp;
                    <select class="cbi-input-select" name="80" style="width:110px;">
                    <script type="text/javascript">
                        var dir = "<%=uciget('uci get tool.tool.dir')%>";
                        if( radiomode == "sta" ) {
                           document.write("<option value='1' ");
                           if( dir == "1" )
                              document.write(" selected");
                           document.write(">Uplink</option>");
                        }
                        else {
                           document.write("<option value='2' ");
                           if( dir == "2" )
                             document.write(" selected");
                           document.write(">Downlink</option>");
                        }
                        document.write("<option value='3' ");
                        if( dir == "3" )
                            document.write(" selected");
                        document.write(">Bidirection</option>");
                    </script>
                    </select>
                </td>
                <td><span id="s1" style="padding-left:0px;" class="cbi-page-actions right"><input type="button" class="cbi-button" value="<%:Start Test%>" onclick="starttool()" /></span></td>
            </tr>
        </table>
        </form>
    </fieldset>
</div>
<fieldset style="display:none">
<h2><a id="content" name="content"><%:Link Budget%></a></h2>
<div class="cbi-map">
    <fieldset class="cbi-section">
        <table>
            <tr>
                <td width="25%">Tx Loss&nbsp;<input type="text" class="cbi-input-select" id="txloss" style="width:80px;" value="0">&nbsp;dB</td>
                <td width="25%">Rx Loss&nbsp;<input type="text" class="cbi-input-select" id="rxloss" style="width:80px;" value="0">&nbsp;dB</td>
                <td width="25%">Path Loss<span id="pathloss" style="padding-left:10px;"></span>&nbsp;dB</td>
                <td width="25%">Rx Power&nbsp;<span id="recpow" style="padding-left:10px;"></span>&nbsp;dBm</td>
            </tr>
        </table>
    </fieldset>
</div>
</fieldset>
<div style="text-align:left;"><span id="spin"></span>&nbsp;&nbsp;<span id="msg"></span></div>
<div class="cbi-map">
	<fieldset class="cbi-section">
		<table class="cbi-section-table" style="margin:10px" width="900px">
			<tr class="cbi-section-table-titles">
				<th class="cbi-section-table-cell"></th>
				<th class="cbi-section-table-cell">Local</th>
				<th class="cbi-section-table-cell">Remote</th>
			</tr>
			<tr>
				<td>MAC Address</td>
				<td id="loc_mac"><%=uciget("uci get wireless.wifi1.macaddr")%></td>
				<td id="rem_mac"></td>
			</tr>
			<tr>
				<td>Customer Name</td>
				<td id="loc_cusname"></td>
				<td id="rem_cusname"></td>
			</tr>
			<tr>
				<td>Link Id</td>
				<td id="loc_id"></td>
				<td id="rem_id"></td>
			</tr>
			<tr>
				<td>GPS</td>
				<td id="loc_gps"></td>
				<td id="rem_gps"></td>
			</tr>
			<tr>
				<td>SNR A1 (dB)</td>
				<td id="loc_a1"></td>
				<td id="rem_a1"></td>
			</tr>
			<tr>
				<td>SNR A2 (dB)</td>
				<td id="loc_a2"></td>
				<td id="rem_a2"></td>
			</tr>
			<tr>
				<td>Signal A1 (dB)</td>
				<td id="loc_sig_a1"></td>
				<td id="rem_sig_a1"></td>
			</tr>
			<tr>
				<td>Signal A2 (dB)</td>
				<td id="loc_sig_a2"></td>
				<td id="rem_sig_a2"></td>
			</tr>
			<tr>
				<td>Noise (dB)</td>
				<td id="loc_noise"></td>
				<td id="rem_noise"></td>
			</tr>
			<tr>
				<td>Antenna Gain (dBi)</td>
				<td id="loc_gain"></td>
				<td id="rem_gain"></td>
			</tr>
			<tr>
				<td>Tx Power (dBm)</td>
				<td id="loc_pwr"></td>
				<td id="rem_pwr"></td>
			</tr>
			<tr>
				<td>Rate (Mbps)</td>
				<td id="loc_rate"></td>
				<td id="rem_rate"></td>
			</tr>
			<tr>
				<td>Throughput (Mbps)</td>
				<td id="loc_tput"></td>
				<td id="rem_tput"></td>
			</tr>
			<tr id="bw_limit">
				<td>Bandwidth Limit (Mbps)</td>
				<td id="loc_limit"></td>
				<td id="rem_limit"></td>
			</tr>
			<tr>
				<td>Total Tx Packets </td>
				<td id="loc_tx_pkt"></td>
				<td id="rem_tx_pkt"></td>
			</tr>
			<tr>
				<td>Total Rx Packets </td>
				<td id="loc_rx_pkt"></td>
				<td id="rem_rx_pkt"></td>
			</tr>
			<tr>
				<td>Retries</td>
				<td id="loc_retry"></td>
				<td id="rem_retry"></td>
			</tr>
			<tr>
				<td>RTX Percentage</td>
				<td id="loc_rtx"></td>
				<td id="rem_rtx"></td>
			</tr>
		</table>
	</fieldset>
</div>
<script type="text/javascript">
if( shaping == 0 )
    document.getElementById("bw_limit").style.display = "none";
</script>
</div>
<%+footer%>
