<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>
<%+header%>

<script type="text/javascript">
function get_results()
{
    var id = document.getElementById("logtype").value;
    XHR.get('<%=luci.dispatcher.build_url("admin", "monitor", "logs")%>/eth_eventtype' + '/' + id, null,
	function(x, data) {
		if (data) {
			document.getElementById("result").innerHTML=data;
		}
	}
    );
}
function clear_log()
{
    var id = document.getElementById("logtype").value;
    XHR.get('<%=luci.dispatcher.build_url("admin", "monitor", "logs")%>/eth_clrevent' + '/' + id, null,
	function(x, data) {
		if (data) { 
			document.getElementById("result").innerHTML=data;
		}
	}
    );
}
</script>
<div class="page-content">
<h2><a id="content" name="content"><%:Logs%></a></h2>
    <ul class="cbi-tabmenu">
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="<%=luci.dispatcher.build_url("admin/monitor/logs")%>"><%:Wireless%></a></li>
        <li style="margin-right:4px" class="cbi-tab"><a href="#"><%:Ethernet%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="syslog"><%:System%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="conflog"><%:Configuration%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="rebootlog"><%:Reboot%></a></li>
    </ul>
<div class="cbi-page-actions left" style="padding-left: 19px;margin-bottom: 0px;">
    Show log type
    <select id="logtype" style="width: 210px">
        <option value=1>Ethernet Events</option>
        <option value=2>Ethernet Events Last Boot Log</option>
    </select>
    <input type="button" id="s1" class="cbi-button cbi-button-apply" value="<%:Submit%>" onclick="get_results()" />
    <input type="button" id="s2" class="cbi-button cbi-button-apply" value="<%:Refresh%>" onclick="get_results()" />
    <input type="button" id="s3" class="cbi-button" value="<%:Clear%>" onclick="clear_log()" />
</div>
<div>&nbsp;</div>
<div id="content_syslog">
<textarea readonly="readonly" wrap="off" style="width:100%; height:500px;" rows="<%=eth_events:cmatch("\n")+2%>" id="result"><%=eth_events:pcdata()%></textarea>
</div>
</div>
<%+footer%>
