<%#
 Copyright 2008-2009 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>
<%-
        function execute(cmd)
                local res = luci.util.exec(cmd)
                local str = string.gsub(res, "\n", "")
                return str
        end
-%>
<%+header%>
<script type="text/javascript">
	XHR.poll(5, '<%=REQUEST_URI%>', { status: 1 },
		function(x, info)
        {
            var id = 6;
            XHR.get('<%=luci.dispatcher.build_url("admin", "monitor", "nwkstats")%>/ethrefresh/' + id, null,
            function(x, data) {
              if (data) { 
                     var a = data.split(",");
                     for(i=0; i<a.length; i++)
                        a[i].replace(" ","");
                     document.getElementById("txpkt").innerHTML = a[0];
                     document.getElementById("txbyte").innerHTML = a[1];
                     document.getElementById("txerr").innerHTML = a[2];
                     document.getElementById("rxpkt").innerHTML = a[3];
                     document.getElementById("rxbyte").innerHTML = a[4];
                     document.getElementById("rxerr").innerHTML = a[5];
                     document.getElementById("l2_tx_mpkt").innerHTML = a[6];
                     document.getElementById("l2_rx_mpkt").innerHTML = a[7];
                     document.getElementById("l3_tx_mpkt").innerHTML = a[8];
                     document.getElementById("l3_rx_mpkt").innerHTML = a[9];
                     document.getElementById("l2_tx_bpkt").innerHTML = a[10];
                     document.getElementById("l2_rx_bpkt").innerHTML = a[11];
                     document.getElementById("l3_tx_bpkt").innerHTML = a[12];
                     document.getElementById("l3_rx_bpkt").innerHTML = a[13];
                     <%#document.getElementById("txfailpkt").innerHTML = a[14];
                     document.getElementById("rxfailpkt").innerHTML = a[15];
                     document.getElementById("txmcastpkt").innerHTML = a[16];
                     document.getElementById("rxmcastpkt").innerHTML = a[17];
                     document.getElementById("txucastpkt").innerHTML = a[18];
                     document.getElementById("rxucastpkt").innerHTML = a[19];
                     document.getElementById("rxcrcerrs").innerHTML = a[20];
                     document.getElementById("rxfrmovrsize").innerHTML = a[21];
                     document.getElementById("rxfrmovrrun").innerHTML = a[22];-%>
               }
            }
            );
        }
    );
function clearethstat()
{
    var id = 1;
    XHR.get('<%=luci.dispatcher.build_url("admin", "monitor", "nwkstats")%>/clrethstats/' + id, null,
	function(x, data) {
		    location.href="<%=luci.dispatcher.build_url("admin/monitor/nwkstats/ethnwkstats")%>"
		if (data) { 
        }
	}
    );
}
</script>
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<div class="page-content">
   <h2><a id="content" name="content"><%:Network Statistics%></a></h2>
    <ul class="cbi-tabmenu">
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="<%=luci.dispatcher.build_url("admin/monitor/nwkstats")%>"><%:5GHz Radio%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="radio2nwkstats"><%:2.4GHz Radio%></a></li>
        <li style="margin-right:4px" class="cbi-tab"><a href="#"><%:Ethernet%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="arptbl"><%:ARP%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="learntbl"><%:Bridge%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="dhcplease"><%:DHCP Lease%></a></li>
    </ul>
   <h2><a id="content" name="content"><%:Ethernet Statistics%></a></h2>
	<fieldset class="cbi-section">
    <span id="s1" style="padding-left:275px;" class="cbi-page-actions right"><input type="button" class="cbi-button" value="<%:Clear%>" onclick="clearethstat()" /></span>
		<table class="cbi-section-table" style="margin:10px; width:400px;">
			<tr class="cbi-section-table-titles">
				<th class="cbi-section-table-cell"></th>
				<th class="cbi-section-table-cell">Tx</th>
				<th class="cbi-section-table-cell">Rx</th>
			</tr>
			<tr>
				<td>Total Packets</td>
				<td id="txpkt">
                   <script type="text/javascript">
                      var txpkt = "<%=execute("iwpriv ath1 g_kwn_ethtxpkt | sed 's/ath1      g_kwn_ethtxpkt://'")%>";
                      txpkt.replace(" ","");
                      document.write(txpkt);
                    </script>
                </td>
				<td id="rxpkt">
                    <script type="text/javascript">
                       var rxpkt = "<%=execute("iwpriv ath1 g_kwn_ethrxpkt | sed 's/ath1      g_kwn_ethrxpkt://'")%>";
                       rxpkt.replace(" ","");
                       document.write(rxpkt);
                    </script>
                </td>
			</tr>
			<tr>
				<td>Total Bytes</td>
				<td id="txbyte">
                    <script type="text/javascript">
                       var txbyte = "<%=execute("iwpriv ath1 g_kwn_ethtxbyt | sed 's/ath1      g_kwn_ethtxbyt://'")%>";
                       txbyte.replace(" ","");
                       document.write(txbyte);
                    </script>
                </td>
				<td id="rxbyte">
                    <script type="text/javascript">
                       var rxbyte = "<%=execute("iwpriv ath1 g_kwn_ethrxbyt   | sed 's/ath1      g_kwn_ethrxbyt://'")%>";
                       rxbyte.replace(" ","");
                       document.write(rxbyte);
                    </script>
                </td>
			</tr>
            <tr>
				<td>Dropped</td>
				<td id="txfailpkt">
                   <script type="text/javascript">
                      var txfailpkt = "<%=execute("iwpriv ath1 g_kwnethtxfail | sed 's/ath1      g_kwnethtxfail://'")%>";
                      txfailpkt.replace(" ","");
                      document.write(txfailpkt);
                    </script>
                </td>
				<td id="rxfailpkt">
                    <script type="text/javascript">
                       var rxfailpkt = "<%=execute("iwpriv ath1 g_kwnethrxfail | sed 's/ath1      g_kwnethrxfail://'")%>";
                       rxfailpkt.replace(" ","");
                       document.write(rxfailpkt);
                    </script>
                </td>
			</tr>
            <tr>
				<td>Multicast packets</td>
				<td id="txmcastpkt">
                   <script type="text/javascript">
                      var txmcastpkt = "<%=execute("iwpriv ath1 g_kwnethtxmcpkt | sed 's/ath1      g_kwnethtxmcpkt://'")%>";
                      txmcastpkt.replace(" ","");
                      document.write(txmcastpkt);
                    </script>
                </td>
				<td id="rxmcastpkt">
                   <script type="text/javascript">
                      var rxmcastpkt = "<%=execute("iwpriv ath1 g_kwnethrxmcpkt | sed 's/ath1      g_kwnethrxmcpkt://'")%>";
                      rxmcastpkt.replace(" ","");
                      document.write(rxmcastpkt);
                   </script>
                </td>
			</tr>
            <tr>
				<td>Unicast packets</td>
				<td id="txucastpkt">
                   <script type="text/javascript">
                      var txucastpkt = "<%=execute("iwpriv ath1 g_kwnethtxucpkt | sed 's/ath1      g_kwnethtxucpkt://'")%>";
                      txucastpkt.replace(" ","");
                      document.write(txucastpkt);
                    </script>
                </td>
				<td id="rxucastpkt">
                   <script type="text/javascript">
                      var rxucastpkt = "<%=execute("iwpriv ath1 g_kwnethrxucpkt | sed 's/ath1      g_kwnethrxucpkt://'")%>";
                      rxmcastpkt.replace(" ","");
                      document.write(rxmcastpkt);
                   </script>
                </td>
			</tr>
			<tr>
				<td>L2 Multicast drop count</td>
				<td id="l2_tx_mpkt">
                   <script type="text/javascript">
                      var l2txmpkt = "<%=execute("iwpriv ath1 g_kwtxl2mdrpcnt | sed 's/ath1      g_kwtxl2mdrpcnt://'")%>";
                      l2txmpkt.replace(" ","");
                      document.write(l2txmpkt);
                    </script>
                </td>
				<td id="l2_rx_mpkt">
                    <script type="text/javascript">
                      var l2rxmpkt = "<%=execute("iwpriv ath1 g_kwrxl2mdrpcnt | sed 's/ath1      g_kwrxl2mdrpcnt://'")%>";
                      l2rxmpkt.replace(" ","");
                      document.write(l2rxmpkt);
                    </script>
                </td>
			</tr>
			<tr>
				<td>L3 Multicast drop count</td>
				<td id="l3_tx_mpkt">
                    <script type="text/javascript">
                      var l3txmpkt = "<%=execute("iwpriv ath1 g_kwtxl3mdrpcnt | sed 's/ath1      g_kwtxl3mdrpcnt://'")%>";
                      l3txmpkt.replace(" ","");
                      document.write(l3txmpkt);
                    </script>
                </td>
				<td id="l3_rx_mpkt">
                    <script type="text/javascript">
                      var l3rxmpkt = "<%=execute("iwpriv ath1 g_kwrxl3mdrpcnt | sed 's/ath1      g_kwrxl3mdrpcnt://'")%>";
                      l3rxmpkt.replace(" ","");
                      document.write(l3rxmpkt);
                    </script>
                </td>
			</tr>
            <tr>
				<td>L2 Broadcast drop count</td>
				<td id="l2_tx_bpkt">
                    <script type="text/javascript">
                      var l2txbpkt = "<%=execute("iwpriv ath1 g_kwtxl2bdrpcnt | sed 's/ath1      g_kwtxl2bdrpcnt://'")%>";
                      l2txbpkt.replace(" ","");
                      document.write(l2txbpkt);
                    </script>
                </td>
				<td id="l2_rx_bpkt">
                    <script type="text/javascript">
                      var l2rxbpkt = "<%=execute("iwpriv ath1 g_kwrxl2bdrpcnt | sed 's/ath1      g_kwrxl2bdrpcnt://'")%>";
                      l2rxbpkt.replace(" ","");
                      document.write(l2rxbpkt);
                    </script>
                </td>
			</tr>
			<tr>
				<td>L3 Broadcast drop count</td>
				<td id="l3_tx_bpkt">
                    <script type="text/javascript">
                      var l3txbpkt = "<%=execute("iwpriv ath1 g_kwtxl3bdrpcnt | sed 's/ath1      g_kwtxl3bdrpcnt://'")%>";
                      l3txbpkt.replace(" ","");
                      document.write(l3txbpkt);
                    </script>
                </td>
				<td id="l3_rx_bpkt">
                    <script type="text/javascript">
                      var l3rxbpkt = "<%=execute("iwpriv ath1 g_kwrxl3bdrpcnt | sed 's/ath1      g_kwrxl3bdrpcnt://'")%>";
                      l3rxbpkt.replace(" ","");
                      document.write(l3rxbpkt);
                    </script>
                </td>
			</tr>
		</table>
        <h3 style="color:#a5bc23; border-bottom:0px;"><%:Errors%></h3>
		<table class="cbi-section-table" style="margin:10px; width:400px;">
            <tr>
				<td>Tx Errors</td>
				<td id="txerr">
                    <script type="text/javascript">
                       var txerr = "<%=execute("iwpriv ath1 g_kwn_ethtxerr | sed 's/ath1      g_kwn_ethtxerr://'")%>";
                       txerr.replace(" ","");
                       document.write(txerr);
                    </script>
                </td>
            </tr>
            <tr>
				<td>Rx Errors</td>
				<td id="rxerr">
                    <script type="text/javascript">
                       var rxerr = "<%=execute("iwpriv ath1 g_kwn_ethrxerr | sed 's/ath1      g_kwn_ethrxerr://'")%>";
                       rxerr.replace(" ","");
                       document.write(rxerr);
                    </script>
                </td>
			</tr>
            <tr>
				<td>RX CRC Errors</td>
				<td id="rxcrcerrs">
                   <script type="text/javascript">
                      var rxcrcerrs = "<%=execute("iwpriv ath1 g_kwethcrcerrs | sed 's/ath1      g_kwethcrcerrs://'")%>";
                      rxcrcerrs.replace(" ","");
                      document.write(rxcrcerrs);
                    </script>
                </td>
			</tr>
            <tr>
				<td>RX Frame Oversize Errors</td>
				<td id="rxfrmovrsize">
                   <script type="text/javascript">
                      var rxfrmovrsize = "<%=execute("iwpriv ath1 g_kwethoversize | sed 's/ath1      g_kwethoversize://'")%>";
                      rxfrmovrsize.replace(" ","");
                      document.write(rxfrmovrsize);
                    </script>
                </td>
			</tr>
            <tr>
				<td>RX Frame Overrun Errors</td>
				<td id="rxfrmovrrun">
                   <script type="text/javascript">
                      var rxfrmovrrun = "<%=execute("iwpriv ath1 g_kwethoverrun | sed 's/ath1      g_kwethoverrun://'")%>";
                      rxfrmovrrun.replace(" ","");
                      document.write(rxfrmovrrun);
                    </script>
                </td>
			</tr>
        </table>
	</fieldset>
</div>
<%+footer%>
