<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
  Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
   Licensed to the public under the Apache License 2.0.
   -%>

<%+header%>

<script type="text/javascript">
function get_results()
{
    var id = 1;
    XHR.get('<%=luci.dispatcher.build_url("admin", "monitor", "lantable")%>/ref_learntbl' + '/' + id, null,
	function(x, data) {
		if (data) { 
			document.getElementById("result").innerHTML=data;
		}
	}
    );
}
function clear_log()
{
    var id = 1;
    XHR.get('<%=luci.dispatcher.build_url("admin", "monitor", "lantable")%>/clr_learntbl' + '/' + id, null,
	function(x, data) {
		if (data) { 
			document.getElementById("result").innerHTML=data;
		}
	}
    );
}
</script>
<div class="page-content">
   <h2><a id="content" name="content"><%:LAN Table%></a></h2>
    <ul class="cbi-tabmenu">
        <li style="margin-right:4px" class="cbi-tab"><a href="#"><%:Bridge%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="<%=REQUEST_URI%>/arptbl"><%:ARP%></a></li>
    </ul>
   <h2><a id="content" name="content"><%:Learn Table%></a></h2>
   <div class="cbi-page-actions left" style="padding-left: 19px;margin-bottom: 0px;">
        <input type="button" class="cbi-button cbi-button-apply" value="<%:Refresh%>" onclick="get_results()" />
        <input type="button" class="cbi-button" value="<%:Clear%>" onclick="clear_log()" />
   </div>
   <div id="content_syslog">
     <textarea readonly="readonly" wrap="off" style="width:100%; height:500px;" rows="<%=learntbl:cmatch("\n")+2%>" id="result"><%=learntbl:pcdata()%></textarea>
   </div>
</div>
<div>&nbsp;</div>
<%+footer%>
