<%#
 Copyright 2008-2009 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%-

	local ip = require "luci.ip"
	local fs = require "nixio.fs"
	local utl = require "luci.util"
	local uci = require "luci.model.uci".cursor()
	local ntm = require "luci.model.network"

	local has_iwinfo = pcall(require, "iwinfo")

	ntm.init(uci)

	function guess_wifi_hw(dev)
		local bands = ""
		local ifname = dev:name()
		local name, idx = ifname:match("^([a-z]+)(%d+)")
		idx = tonumber(idx)

		if has_iwinfo then
			local bl = dev.iwinfo.hwmodelist
			if bl and next(bl) then
				if bl.a then bands = bands .. "a" end
				if bl.b then bands = bands .. "b" end
				if bl.g then bands = bands .. "g" end
				if bl.n then bands = bands .. "n" end
				if bl.ac then bands = bands .. "ac" end
				if bl.ad then bands = bands .. "ad" end
			end

			local hw = dev.iwinfo.hardware_name
			if hw then
				return "%s 802.11%s" %{ hw, bands }
			end
		end

		-- wl.o
		if name == "wl" then
			local name = translatef("Broadcom 802.11%s Wireless Controller", bands)
			local nm   = 0

			local fd = nixio.open("/proc/bus/pci/devices", "r")
			if fd then
				local ln
				for ln in fd:linesource() do
					if ln:match("wl$") then
						if nm == idx then
							local version = ln:match("^%S+%s+%S%S%S%S([0-9a-f]+)")
							name = translatef(
								"Broadcom BCM%04x 802.11 Wireless Controller",
								tonumber(version, 16)
							)

							break
						else
							nm = nm + 1
						end
					end
				end
				fd:close()
			end

			return name

		-- madwifi
		elseif name == "ath" or name == "wifi" then
			return translatef("Atheros 802.11%s Wireless Controller", bands)

		-- ralink
		elseif name == "ra" then
			return translatef("RaLink 802.11%s Wireless Controller", bands)

		-- hermes
		elseif name == "eth" then
			return translate("Hermes 802.11b Wireless Controller")

		-- hostap
		elseif name == "wlan" and fs.stat("/proc/net/hostap/" .. ifname, "type") == "dir" then
			return translate("Prism2/2.5/3 802.11b Wireless Controller")

		-- dunno yet
		else
			return translatef("Generic 802.11%s Wireless Controller", bands)
		end
	end

	local devices  = ntm:get_wifidevs()
	local arpcache = { }
	ip.neighbors({ family = 4 }, function(n)
		if n.mac and n.dest then arpcache[n.mac:upper()] = n.dest:string() end
	end)

	local netlist = { }
	local netdevs = { }

	local dev
	for _, dev in ipairs(devices) do
		local net
		for _, net in ipairs(dev:get_wifinets()) do
			netlist[#netlist+1] = net:id()
			netdevs[net:id()] = dev:name()
		end
	end
-%>

<%+header%>
<div class="page-content">
<% if not has_iwinfo then %>
	<div class="errorbox">
		<strong><%:Package libiwinfo required!%></strong><br />
		<%_The <em>libiwinfo-lua</em> package is not installed. You must install this component for working wireless configuration!%>
	</div>
<% end %>

<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">//<![CDATA[
	var wifidevs = <%=luci.http.write_json(netdevs)%>;
	var arptable = <%=luci.http.write_json(arpcache)%>;

	var is_reconnecting = false;

	function view_details(i)
	{
		location.href='<%=luci.dispatcher.build_url("admin/monitor/stats")%>/details' + '/' + i;
	}
	function nowrap(s) {
		return s.replace(/ /g, '&#160;');
	}

    function degreesToRadians(degrees) {
        return degrees * Math.PI / 180;
    }

    function distanceInKmBetweenEarthCoordinates(lat1, lon1, lat2, lon2) {
        var earthRadiusKm = 6371;

        var dLat = degreesToRadians(lat2-lat1);
        var dLon = degreesToRadians(lon2-lon1);

        lat1 = degreesToRadians(lat1);
        lat2 = degreesToRadians(lat2);

        var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
        Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2); 
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
        return earthRadiusKm * c;
    }
	function wifi_shutdown(id, toggle) {
		var reconnect = (toggle.getAttribute('active') == 'false');

		if (!reconnect && !confirm(String.format('<%:Really shut down network?\nYou might lose access to this device if you are connected via this interface.%>')))
			return;

		is_reconnecting = true;

		var s = document.getElementById('iw-rc-status');
		if (s)
		{
			s.parentNode.style.display = 'block';
			s.innerHTML = '<%:Waiting for changes to be applied...%>';
		}

		for (var net in wifidevs)
		{
			var st = document.getElementById(net + '-iw-status');
			if (st)
				st.innerHTML = '<em><%:Wireless is restarting...%></em>';
		}

		XHR.get('<%=luci.dispatcher.build_url("admin", "wireless")%>/wireless_' + (reconnect ? 'reconnect' : 'shutdown') + '/' + id, null,
			function(x)
			{
				if (s)
				{
					s.innerHTML = reconnect
						? '<%:Wireless restarted%>'
						: '<%:Wireless shut down%>';

					window.setTimeout(function() {
						s.parentNode.style.display = 'none';
						is_reconnecting = false;
					}, 1000);
				}
			}
		);
	}

	XHR.poll(5, '<%=luci.dispatcher.build_url("admin", "wireless", "wireless_status", table.concat(netlist, ","))%>', null,
		function(x, st)
		{
			if (st)
			{
				var assoctable = document.getElementById('iw-assoclist');
				if (assoctable)
					while (assoctable.rows.length > 2)
						assoctable.rows[2].parentNode.removeChild(assoctable.rows[2]);

				var devup = { };
				var rowstyle = 1;
			    for( var i = 0; i < st.length; i++ )
				{
					var iw = st[i];
					var is_assoc = (iw.bssid && iw.bssid != '00:00:00:00:00:00' && iw.channel && iw.mode != 'Unknown' && !iw.disabled);
					var p = iw.quality;
					var q = is_assoc ? p : -1;

					var icon;
					if (q < 0)
						icon = "<%=resource%>/icons/signal-none.png";
					else if (q == 0)
						icon = "<%=resource%>/icons/signal-0.png";
					else if (q < 25)
						icon = "<%=resource%>/icons/signal-0-25.png";
					else if (q < 50)
						icon = "<%=resource%>/icons/signal-25-50.png";
					else if (q < 75)
						icon = "<%=resource%>/icons/signal-50-75.png";
					else
						icon = "<%=resource%>/icons/signal-75-100.png";

					if (!devup[wifidevs[iw.id]])
						devup[wifidevs[iw.id]] = is_assoc;

					var sig = document.getElementById(iw.id + '-iw-signal');
					if (sig)
						sig.innerHTML = String.format(
							'<img src="%s" title="<%:Signal%>: %d <%:dBm%> / <%:Noise%>: %d <%:dBm%>" /><br />' +
							'<small>%d%%</small>', icon, iw.signal, iw.noise, p
						);

					var toggle = document.getElementById(iw.id + '-iw-toggle');
					if (toggle)
					{
						if (!iw.disabled)
						{
							toggle.className = 'cbi-button cbi-button-reset';
							toggle.value = '<%:Disable%>';
							toggle.title = '<%:Shutdown this network%>';
						}
						else
						{
							toggle.className = 'cbi-button cbi-button-reload';
							toggle.value = '<%:Enable%>';
							toggle.title = '<%:Activate this network%>';
						}

						toggle.setAttribute('active', !iw.disabled);
					}

					var info = document.getElementById(iw.id + '-iw-status');
					if (info)
					{
						if (is_assoc)
							info.innerHTML = String.format(
								'<strong><%:SSID%>:</strong> %h | ' +
								'<strong><%:Mode%>:</strong> %s<br />' +
								'<strong><%:BSSID%>:</strong> %s | ' +
								'<strong><%:Encryption%>:</strong> %s',
									iw.ssid, iw.mode, iw.bssid,
									iw.encryption ? iw.encryption : '<%:None%>'
							);
						else
							info.innerHTML = String.format(
								'<strong><%:SSID%>:</strong> %h | ' +
								'<strong><%:Mode%>:</strong> %s<br />' +
								'<em>%s</em>',
									iw.ssid || '?', iw.mode,
									is_reconnecting
										? '<em><%:Wireless is restarting...%></em>'
										: '<em><%:Wireless is disabled or not associated%></em>'
							);
					}

					var dev = document.getElementById(wifidevs[iw.id] + '-iw-devinfo');
					if (dev)
					{
						if (is_assoc)
							dev.innerHTML = String.format(
								'<strong><%:Channel%>:</strong> %s (%s <%:GHz%>) | ' +
								'<strong><%:Bitrate%>:</strong> %s <%:Mbit/s%>',
									iw.channel ? iw.channel : '?',
									iw.frequency ? iw.frequency : '?',
									iw.bitrate ? (iw.bitrate * 1000) : '?'
							);
						else
							dev.innerHTML = '';
					}

					if (assoctable)
					{
						var assoclist = [ ];
						for( var bssid in iw.assoclist )
						{
							assoclist.push(iw.assoclist[bssid]);
							assoclist[assoclist.length-1].bssid = bssid;
						}

						assoclist.sort(function(a, b) { a.bssid < b.bssid });

						for( var j = 0; j < assoclist.length; j++ )
						{
                            if( i==0 )
                                continue;
                            if( assoclist[j].bssid == "00:00:00:00:00:00" )
                                continue;
							var tr = assoctable.insertRow(-1);
							    tr.className = 'cbi-section-table-row cbi-rowstyle-' + rowstyle;

							var icon;
							var q = (-1 * (assoclist[j].noise - assoclist[j].signal)) / 5;
							if (q < 1)
								icon = "<%=resource%>/icons/signal-0.png";
							else if (q < 2)
								icon = "<%=resource%>/icons/signal-0-25.png";
							else if (q < 3)
								icon = "<%=resource%>/icons/signal-25-50.png";
							else if (q < 4)
								icon = "<%=resource%>/icons/signal-50-75.png";
							else
								icon = "<%=resource%>/icons/signal-75-100.png";

							tr.insertCell(-1).innerHTML = String.format(
								'<img src="%s" title="<%:Signal%>: %d <%:dBm%> / <%:Noise%>: %d <%:dBm%>" />',
								icon, assoclist[j].signal, assoclist[j].noise
							);

							tr.insertCell(-1).innerHTML = assoclist[j].bssid;
							tr.insertCell(-1).innerHTML = nowrap(String.format('%h', iw.ssid ? iw.ssid : '?'));

							tr.insertCell(-1).innerHTML = "<a href='http://"+ assoclist[j].ip_addr +"' target='_blank'>"+assoclist[j].ip_addr+"</a>";

                            var d = distanceInKmBetweenEarthCoordinates(assoclist[j].local_lat,assoclist[j].local_long,assoclist[j].remote_lat,assoclist[j].remote_long);
                            d = d.toFixed(2);
							tr.insertCell(-1).innerHTML = nowrap(String.format('%d', d));

							tr.insertCell(-1).innerHTML = assoclist[j].local_snr_a1 == 0 ? assoclist[j].local_snr_a1 : (assoclist[j].local_snr_a1 + assoclist[j].l_noise_floor);
							tr.insertCell(-1).innerHTML = assoclist[j].local_snr_a2 == 0 ? assoclist[j].local_snr_a2 : (assoclist[j].local_snr_a2 + assoclist[j].l_noise_floor);
							tr.insertCell(-1).innerHTML = assoclist[j].remote_snr_a1 == 0 ? assoclist[j].remote_snr_a1 : (assoclist[j].remote_snr_a1 + assoclist[j].r_noise_floor);
							tr.insertCell(-1).innerHTML = assoclist[j].remote_snr_a2 == 0 ? assoclist[j].remote_snr_a2 : (assoclist[j].remote_snr_a2 + assoclist[j].r_noise_floor);
							tr.insertCell(-1).innerHTML = assoclist[j].rx_rate / 1000;
							tr.insertCell(-1).innerHTML = assoclist[j].tx_rate / 1000;
							tr.insertCell(-1).innerHTML = assoclist[j].rx_tput > (1000 * 1000) ? (assoclist[j].rx_tput / ( 1000 * 1000 )).toFixed(2) : 0;
							tr.insertCell(-1).innerHTML = assoclist[j].tx_tput > (1000 * 1000) ? (assoclist[j].tx_tput / ( 1000 * 1000 )).toFixed(2) : 0;
							tr.insertCell(-1).innerHTML = "<img src='<%=resource%>/icons/edit.png' onClick='view_details("+i+")'>"
							rowstyle = (rowstyle == 1) ? 2 : 1;
						}
					}
				}

				if (assoctable && assoctable.rows.length == 1)
				{
					var tr = assoctable.insertRow(-1);
					    tr.className = 'cbi-section-table-row';

					var td = tr.insertCell(-1);
					    td.colSpan = 8;
					    td.innerHTML = '<br /><em><%:No information available%></em>';
				}

				for (var dev in devup)
				{
					var img = document.getElementById(dev + '-iw-upstate');
					if (img)
						img.src = '<%=resource%>/icons/wifi_big' + (devup[dev] ? '' : '_disabled') + '.png';
				}
			}
		}
	);
//]]></script>

	<h2><a id="content" name="content"><%:Link Statistics%></a></h2>
    <ul class="cbi-tabmenu">
        <li style="margin-right:4px" class="cbi-tab"><a href="#"><%:5GHz Radio%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="<%=REQUEST_URI%>/radio2stats"><%:2.4GHz Radio%></a></li>
    </ul>
<div class="cbi-map">
	<fieldset class="cbi-section">
		<table class="cbi-section-table" style="margin:10px" id="iw-assoclist">
			<tr class="cbi-section-table-titles">
				<th class="cbi-section-table-cell"></th>
				<th class="cbi-section-table-cell"><%:MAC Address%></th>
				<th class="cbi-section-table-cell"><%:Network Name%></th>
				<th class="cbi-section-table-cell"><%:IPv4-Address%></th>
				<th class="cbi-section-table-cell"><%:Distance (Km)%></th>
				<th class="cbi-section-table-cell" colspan="2"><%:Local Signal (dB)%></th>
				<th class="cbi-section-table-cell" colspan="2"><%:Remote Signal (dB)%></th>
				<th class="cbi-section-table-cell" colspan="2"><%:Rate (Mbps)%></th>
				<th class="cbi-section-table-cell" colspan="2"><%:Throughput (Mbps)%></th>
				<th class="cbi-section-table-cell"><%:Details%></th>
			</tr>

			<tr class="cbi-section-table-titles">
				<th colspan="5" class="cbi-section-table-cell"></th>
				<th class="cbi-section-table-cell"><%:A1%></th>
				<th class="cbi-section-table-cell"><%:A2%></th>
				<th class="cbi-section-table-cell"><%:A1%></th>
				<th class="cbi-section-table-cell"><%:A2%></th>
				<th class="cbi-section-table-cell"><%:Rx%></th>
				<th class="cbi-section-table-cell"><%:Tx%></th>
				<th class="cbi-section-table-cell"><%:In%></th>
				<th class="cbi-section-table-cell"><%:Out%></th>
				<th class="cbi-section-table-cell"></th>
			</tr>
			<tr class="cbi-section-table-row cbi-rowstyle-2">
				<td class="cbi-value-field" colspan="8">
					<em><%:Collecting data...%></em>
				</td>
			</tr>
		</table>
	</fieldset>
</div>
</div>
<%+footer%>
