<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>
<%-
        function uciget(cmd)
                local res = luci.util.exec(cmd)
                return res
        end
-%>
<%+header%>

<script type="text/javascript">
function get_results()
{
    var id = document.getElementById("logtype").value;
    XHR.get('<%=luci.dispatcher.build_url("admin", "monitor")%>/log_' + (id ? 'type' : 'type') + '/' + id, null,
	function(x, data) {
		if (data) { 
			document.getElementById("result").innerHTML=data;
		}
	}
    );
}
</script>
<div class="page-content">
<h2><a id="content" name="content"><%:Wifi1 Statistics%></a></h2>
<div class="cbi-page-actions right">

<table border="0" cellpadding="0" cellspacing="5" width="90%">
        <tr><td width="10%" >&nbsp; </td>
                <td width="35%" class = "TableTitle">Device Name</td>
                <td width="65%" class = "TableContent"><%=uciget("uci get system.@system[0].hostname")%></td>
        </tr>
        <tr><td width="10%" >&nbsp; </td>
                <td width="35%" class = "TableTitle">Wireless MAC Address</td>
                <td width="65%"class = "TableContent"><%=uciget("uci get wireless.wifi1.macaddr")%> </td>
        </tr>
</table>
<table border="0" cellpadding="0" cellspacing="5" width="90%">
        <TR><td width="10%" >&nbsp; </td>
        <td width="90%" class="TableTitle" > Show log type
        <select id="logtype">
             <option value=1>Display Wireless Statistics</option>
             <option value=2>SNR, RSSI For The Device</option>
             <option value=3>Wireless Events</option>
             <option value=4>Wireless Events last boot log</option>
             <option value=5>Display Wireless Advanced Statistics</option>
        </select>
        <input type="button" id="s1" class="cbi-button" value="<%:Submit%>" onclick="get_results()" />
</div>
<div>&nbsp;</div>
<div id="content_wifi1stats">
<textarea readonly="readonly" wrap="off" style="width:780px" rows="<%=wifi1stats:cmatch("\n")+2%>" id="result"><%=wifi1stats:pcdata()%></textarea>
</div>
</div>
<%+footer%>
