<%#
 Copyright 2008-2009 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>
<%-
        function execute(cmd)
                local res = luci.util.exec(cmd)
                local str = string.gsub(res, "\n", "")
                return str
        end
-%>
<%+header%>
<script type="text/javascript">
    var radiomode = "<%=execute('uci get wireless.@wifi-iface[0].mode')%>";
	XHR.poll(5, '<%=REQUEST_URI%>', { status: 1 },
		function(x, info)
        {
            var id = 6;
            XHR.get('<%=luci.dispatcher.build_url("admin", "monitor", "nwkstats")%>/wifi2refresh/' + id, null,
            function(x, data) {
              if (data) { 
                     var a = data.split(",");
                     for(i=0; i<a.length; i++) {
                        document.getElementById(i).innerHTML = a[i];
                     }
               }
            }
            );
        }
    );
    
function clearwifi0stat()
{
    var id = 1;
    XHR.get('<%=luci.dispatcher.build_url("admin", "monitor", "nwkstats")%>/clrwifi0stats/' + id, null,
	function(x, data) {
		    location.href="<%=luci.dispatcher.build_url("admin/monitor/nwkstats/radio2nwkstats")%>"
		if (data) { 
        }
	}
    );
}
            </script>
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<div class="page-content">
   <h2><a id="content" name="content"><%:Network Statistics%></a></h2>
    <ul class="cbi-tabmenu">
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="<%=luci.dispatcher.build_url("admin/monitor/nwkstats")%>"><%:5GHz Radio%></a></li>
        <li style="margin-right:4px" class="cbi-tab"><a href="#"><%:2.4GHz Radio%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="ethnwkstats"><%:Ethernet%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="arptbl"><%:ARP%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="learntbl"><%:Bridge%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="dhcplease"><%:DHCP Lease%></a></li>
    </ul>
   <h2><a id="content" name="content"><%:Wireless Statistics%></a></h2>
	<fieldset class="cbi-section">
       <table>
       <tr> 
        <td><h3 style="color:#a5bc23; border-bottom:0px;"><%:Data%></h3></td>
        <td><span style="padding-left:700px;" class="cbi-page-actions right"><input type="button" class="cbi-button" value="<%:Clear%>" onclick="clearwifi0stat()" /></span></td>
       </tr>
       </table>
		<table style="margin:10px; width:400px;">
		<tr><td><table class="cbi-section-table" style="margin:0px; width:400px;">
			<tr>
				<th class="cbi-section-table-cell" style="border-top:0px;"></th>
				<th class="cbi-section-table-cell" style="border-top:0px;">Tx</th>
				<th class="cbi-section-table-cell" style="border-top:0px;">Rx</th>
			</tr>
			<tr>
				<td>Total Packets</td>
				<td id="0">
                   <script type="text/javascript">
                      var val = "<%=execute("athstats -i wifi0 | grep tx: | sed 's/tx://'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
				<td id="1">
                    <script type="text/javascript">
                      var val = "<%=execute("athstats -i wifi0 | grep rx: | sed 's/rx://'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr>
				<td>Multicast Packets</td>
				<td id="2">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath0 | grep 'Multicast packets sent:' | sed 's/ Multicast packets sent:            //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
				<td id="3">
                    <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath0 | grep 'Multicast packets received:' | sed 's/ Multicast packets received:         //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr>
				<td>Unicast Packets</td>
				<td id="4">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath0 | grep 'Unicast packets sent:' | sed 's/ Unicast packets sent:               //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
				<td id="5">
                    <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath0 | grep 'Unicast packets received:' | sed 's/ Unicast packets received:          //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
        </table></td></tr>
        </table>
        <h3 style="color:#a5bc23; border-bottom:0px;"><%:Management%></h3>
		<table style="margin:10px; width:800px;">
        <tr><td>
		<table class="cbi-section-table" style="margin:0px; width:400px;">
			<tr>
				<td>Tx Packets</td>
				<td id="6">
                   <script type="text/javascript">
                      var val = "<%=execute("athstats -i wifi0 | grep ast_tx_packets: | sed 's/ast_tx_packets://'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr>
				<td>Rx Packets</td>
				<td id="7">
                   <script type="text/javascript">
                      var val = "<%=execute("athstats -i wifi0 | grep ast_rx_packets: | sed 's/ast_rx_packets://'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr id="a1">
				<td>Beacons Transmitted</td>
				<td id="8">
                   <script type="text/javascript">
                      var val = "<%=execute("athstats -i wifi0 | grep ast_be_xmit: | sed 's/ast_be_xmit://'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr id="s1">
				<td>Beacons Received</td>
				<td id="9">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath0 | grep  'Beacons received:' | sed 's/ Beacons received:                   //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr id="a2">
				<td>Authentication Requests Received</td>
				<td id="10">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath0 | grep  'Authentication requests received:' | sed 's/ Authentication requests received:   //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr id="s2">
				<td>Authentication Requests Sent</td>
				<td id="11">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath0 | grep  'Authentication requests sent:' | sed 's/ Authentication requests sent:       //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr>
				<td>Authentication Confirms</td>
				<td id="12">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath0 | grep  'Authentication confirms:' | sed 's/ Authentication confirms:            //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr>
				<td>Authentication Rejects</td>
				<td id="13">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath0 | grep  'Authentication rejects:' | sed 's/ Authentication rejects:             //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr id="a3">
				<td>Deauthentication Requests Sent </td>
				<td id="14">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath0 | grep  'Deauthentication requests sent:' | sed 's/ Deauthentication requests sent:     //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr id="s3">
				<td>Deauthentication Requests Received </td>
				<td id="15">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath0 | grep  'Deauthentication requests received:' | sed 's/ Deauthentication requests received: //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
        </table></td><td>
		<table class="cbi-section-table" style="margin:0px; width:400px;">
			<tr>
				<td>Authentication Result Last</td>
				<td id="16">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath0 | grep  'Authentication result last:' | sed 's/ Authentication result last:         //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr id="a4">
				<td>Association Requests Received</td>
				<td id="17">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath0 | grep  'Association requests received:' | sed 's/ Association requests received:      //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr id="s4">
				<td>Association Requests Sent</td>
				<td id="18">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath0 | grep  'Association requests sent:' | sed 's/ Association requests sent:          //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr>
				<td>Association Rejects</td>
				<td id="19">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath0 | grep  'Association rejects:' | sed 's/ Association rejects:                //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr>
				<td>Association Confirms</td>
				<td id="20">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath0 | grep  'Association confirms' | sed 's/ Association confirms:               //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr id="a5">
				<td>Disassociation Requests Received</td>
				<td id="21">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath0 | grep  'Disassociation requests received:' | sed 's/ Disassociation requests received:   //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr id="s5">
				<td>Disassociation Requests Sent</td>
				<td id="22">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath0 | grep  'Disassociation requests sent:' | sed 's/ Disassociation requests sent:       //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr>
				<td>Association Result Last</td>
				<td id="23">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath0 | grep  'Association result last:' | sed 's/ Association result last:            //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
        </table>
        </td></tr></table>
        <h3 style="color:#a5bc23; border-bottom:0px;"><%:Errors%></h3>
		<table style="margin:0px; width:400px;">
        <tr><td>
		<table class="cbi-section-table" style="margin:10px; width:400px;">
			<tr>
				<td>MPDU Errors</td>
				<td id="24">
                   <script type="text/javascript">
                      var val = "<%=execute("athstats -i wifi0 | grep mpdu_errs | sed 's/mpdu_errs://'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr>
				<td>Phy Errors</td>
				<td id="25">
                   <script type="text/javascript">
                      var val = "<%=execute("athstats -i wifi0 | grep phy_errors | sed 's/phy_errors://'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
        </table></td></tr>
		</table>
	</fieldset>
<script type="text/javascript">
    if( radiomode == "ap" )
    {
        document.getElementById("a1").style.display = "table-row";
        document.getElementById("s1").style.display = "none";
        document.getElementById("a2").style.display = "table-row";
        document.getElementById("s2").style.display = "none";
        document.getElementById("a3").style.display = "table-row";
        document.getElementById("s3").style.display = "none";
        document.getElementById("a4").style.display = "table-row";
        document.getElementById("s4").style.display = "none";
        document.getElementById("a5").style.display = "table-row";
        document.getElementById("s5").style.display = "none";
    }
    else
    {
        document.getElementById("a1").style.display = "none";
        document.getElementById("s1").style.display = "table-row";
        document.getElementById("a2").style.display = "none";
        document.getElementById("s2").style.display = "table-row";
        document.getElementById("a3").style.display = "none";
        document.getElementById("s3").style.display = "table-row";
        document.getElementById("a4").style.display = "none";
        document.getElementById("s4").style.display = "table-row";
        document.getElementById("a5").style.display = "none";
        document.getElementById("s5").style.display = "table-row";
    }
</script>
</div>
<%+footer%>
