<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>
<%-
        function execute(cmd)
                local res = luci.util.exec(cmd)
                local str = string.gsub(res, "\n", "")
                return str
        end
-%>
<%+header%>
<script type="text/javascript">
var radiomode = "<%=execute('uci get wireless.@wifi-iface[1].mode')%>";
function get_results()
{
    var id = document.getElementById("logtype").value;
    var x = document.getElementById("btn3");
    if( id == 4 )
        x.style.visibility = "visible";
    else
        x.style.visibility = "hidden";
    var id = document.getElementById("logtype").value;
    XHR.get('<%=luci.dispatcher.build_url("admin", "monitor", "stats")%>/wireless_logtype' + '/' + id, null,
    function(x, data) {
        if (data) { 
             if( id == 4 ) {
                  document.getElementById("wifistats").style.display="block";
                  document.getElementById("content_syslog").style.display="none";
                  var a = data.split(",");
                      for(i=0; i<a.length; i++) {
                          document.getElementById(i).innerHTML = a[i];
                      }
             } 
             else {
                 document.getElementById("content_syslog").style.display="block";
                 document.getElementById("wifistats").style.display="none";
                 document.getElementById("result").innerHTML=data;
             }
        }
    }
    );
}

function clear_log()
{
    var id = document.getElementById("logtype").value;
    XHR.get('<%=luci.dispatcher.build_url("admin", "monitor", "stats")%>/wireless_clrlog' + '/' + id, null,
    function(x, data) {
        if (data) {
             if( id == 4 ) {
                  document.getElementById("wifistats").style.display="block";
                  document.getElementById("content_syslog").style.display="none";
                  var a = data.split(",");
                      for(i=0; i<a.length; i++) {
                          document.getElementById(i).innerHTML = a[i];
                      }
             }
             else {
                 document.getElementById("content_syslog").style.display="block";
                 document.getElementById("wifistats").style.display="none";
                 document.getElementById("result").innerHTML=data;
             }
        }
    }
    );
}
</script>
<div class="page-content">
<h2><a id="content" name="content"><%:Statistics%></a></h2>
    <ul class="cbi-tabmenu">
        <li style="margin-right:4px" class="cbi-tab"><a href="#"><%:Wireless%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="<%=REQUEST_URI%>/eth_log"><%:Ethernet%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="<%=REQUEST_URI%>/radio1stats"><%:5GHz Radio%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="<%=REQUEST_URI%>/radio2stats"><%:2.4GHz Radio%></a></li>
    </ul>
<div class="cbi-page-actions left" style="padding-left: 19px;margin-bottom: 0px;">
    Show log type
    <script type="text/javascript">
        document.write("<select id='logtype' style='width: 360px'>");
            document.write("<option value='1'>Display Wireless Statistics</option>");
            var radiomode = "<%=execute('uci get wireless.@wifi-iface[1].mode')%>";
            if( radiomode == "ap" )
                document.write("<option value='2'>MAC ID, RSSI And SNR For Remote Devices Associated</option>");
            else
                document.write("<option value='2'>MAC ID, RSSI And SNR For Remote Devices Associated</option>");
                //document.write("<option value='3'>SNR, RSSI For The Device</option>");
            document.write("<option value='4'>Display Wireless Advanced Statistics</option>");
        document.write("</select>");
    </script>
    <input type="button" id="btn1" class="cbi-button cbi-button-apply" value="<%:Submit%>" onclick="get_results()" />
    <input type="button" id="btn2" class="cbi-button cbi-button-apply" value="<%:Refresh%>" onclick="get_results()" />
    <input type="button" id="btn3" class="cbi-button" value="<%:Clear%>" onclick="clear_log()" />
</div>
<div id="content_syslog">
<textarea readonly="readonly" wrap="off" style="width:100%; height:500px;" rows="<%=wireless_log:cmatch("\n")+2%>" id="result"><%=wireless_log:pcdata()%></textarea>
</div>
   <div id="wifistats" style="display:none">
     <table style="margin-bottom: 0px;">
       <tr> 
        <td style="padding-bottom: 0px;padding-top: 0px;"><h4 style="color:#a5bc23;border-bottom:0px;margin-bottom: 0px;margin-top: 10px;padding-left: 10px;"><%:Data%></h4></td>
       </tr>
       </table>
		<table style="margin:10px; width:400px;">
		<tr><td><table class="cbi-section-table" style="margin:0px; width:400px;">
			<tr>
				<th class="cbi-section-table-cell" style="border-top:0px;"></th>
				<th class="cbi-section-table-cell" style="border-top:0px;">Tx</th>
				<th class="cbi-section-table-cell" style="border-top:0px;">Rx</th>
			</tr>
			<tr>
				<td>Total Packets</td>
				<td id="0">
                   <script type="text/javascript">
                      var val = "<%=execute("athstats -i wifi1 | grep tx: | sed 's/tx://'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
				<td id="1">
                    <script type="text/javascript">
                      var val = "<%=execute("athstats -i wifi1 | grep rx: | sed 's/rx://'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr>
				<td>Multicast Packets</td>
				<td id="2">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath1 | grep 'Multicast packets sent:' | sed 's/ Multicast packets sent:            //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
				<td id="3">
                    <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath1 | grep 'Multicast packets received:' | sed 's/ Multicast packets received:         //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr>
				<td>Unicast Packets</td>
				<td id="4">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath1 | grep 'Unicast packets sent:' | sed 's/ Unicast packets sent:               //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
				<td id="5">
                    <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath1 | grep 'Unicast packets received:' | sed 's/ Unicast packets received:          //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
        </table></td></tr>
        </table>
        <h4 style="color:#a5bc23; border-bottom:0px;border-left-width: 10px;padding-left: 10px;margin-bottom: 0px;margin-top: 0px;padding-left: 20px;"><%:Management%></h4>
		<table style="margin:10px; width:800px;">
        <tr><td>
		<table class="cbi-section-table" style="margin:0px; width:400px;">
			<tr>
				<td>Tx Packets</td>
				<td id="6">
                   <script type="text/javascript">
                      var val = "<%=execute("athstats -i wifi1 | grep ast_tx_packets: | sed 's/ast_tx_packets://'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr>
				<td>Rx Packets</td>
				<td id="7">
                   <script type="text/javascript">
                      var val = "<%=execute("athstats -i wifi1 | grep ast_rx_packets: | sed 's/ast_rx_packets://'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr id="a1">
				<td>Beacons Transmitted</td>
				<td id="8">
                   <script type="text/javascript">
                      var val = "<%=execute("athstats -i wifi1 | grep ast_be_xmit: | sed 's/ast_be_xmit://'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr id="s1">
				<td>Beacons Received</td>
				<td id="9">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath1 | grep  'Beacons received:' | sed 's/ Beacons received:                   //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr id="a2">
				<td>Authentication Requests Received</td>
				<td id="10">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath1 | grep  'Authentication requests received:' | sed 's/ Authentication requests received:   //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr id="s2">
				<td>Authentication Requests Sent</td>
				<td id="11">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath1 | grep  'Authentication requests sent:' | sed 's/ Authentication requests sent:       //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr>
				<td>Authentication Confirms</td>
				<td id="12">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath1 | grep  'Authentication confirms:' | sed 's/ Authentication confirms:            //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr>
				<td>Authentication Rejects</td>
				<td id="13">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath1 | grep  'Authentication rejects:' | sed 's/ Authentication rejects:             //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr id="a3">
				<td>Deauthentication Requests Sent </td>
				<td id="14">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath1 | grep  'Deauthentication requests sent:' | sed 's/ Deauthentication requests sent:     //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr id="s3">
				<td>Deauthentication Requests Received </td>
				<td id="15">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath1 | grep  'Deauthentication requests received:' | sed 's/ Deauthentication requests received: //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
        </table></td><td>
		<table class="cbi-section-table" style="margin:0px; width:400px;">
			<tr>
				<td>Authentication Result Last</td>
				<td id="16">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath1 | grep  'Authentication result last:' | sed 's/ Authentication result last:         //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr id="a4">
				<td>Association Requests Received</td>
				<td id="17">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath1 | grep  'Association requests received:' | sed 's/ Association requests received:      //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr id="s4">
				<td>Association Requests Sent</td>
				<td id="18">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath1 | grep  'Association requests sent:' | sed 's/ Association requests sent:          //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr>
				<td>Association Rejects</td>
				<td id="19">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath1 | grep  'Association rejects:' | sed 's/ Association rejects:                //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr>
				<td>Association Confirms</td>
				<td id="20">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath1 | grep  'Association confirms' | sed 's/ Association confirms:               //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr id="a5">
				<td>Disassociation Requests Received</td>
				<td id="21">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath1 | grep  'Disassociation requests received:' | sed 's/ Disassociation requests received:   //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr id="s5">
				<td>Disassociation Requests Sent</td>
				<td id="22">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath1 | grep  'Disassociation requests sent:' | sed 's/ Disassociation requests sent:       //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr>
				<td>Association Result Last</td>
				<td id="23">
                   <script type="text/javascript">
                      var val = "<%=execute("80211stats -i ath1 | grep  'Association result last:' | sed 's/ Association result last:            //'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
        </table>
        </td></tr></table>
        <h4 style="color:#a5bc23;border-bottom:0px;padding-left: 10px;margin-top: 0px;margin-bottom: 0px;padding-bottom: 10px;padding-left: 20px;"><%:Errors%></h4>
		<table style="margin:0px; width:400px;">
        <tr><td>
		<table class="cbi-section-table" style="margin:10px; width:400px;">
			<tr>
				<td>MPDU Errors</td>
				<td id="24">
                   <script type="text/javascript">
                      var val = "<%=execute("athstats -i wifi1 | grep mpdu_errs | sed 's/mpdu_errs://'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
			<tr>
				<td>Phy Errors</td>
				<td id="25">
                   <script type="text/javascript">
                      var val = "<%=execute("athstats -i wifi1 | grep phy_errors | sed 's/phy_errors://'")%>";
                      val.replace(" ","");
                      document.write(val);
                    </script>
                </td>
			</tr>
        </table></td></tr>
	    </table>
    </div>
</div>
<script type="text/javascript">
var id = document.getElementById("logtype").value;
var x = document.getElementById("btn3");
if( id == 4 ) {
    x.style.visibility = "visible";
    document.getElementById("content_syslog").style.display="none";
    document.getElementById("wifistats").style.display="block";
}
else { 
    x.style.visibility = "hidden";
    document.getElementById("content_syslog").style.display="block";
    document.getElementById("wifistats").style.display="none";
}
if( radiomode == "ap" )
{
    document.getElementById("a1").style.display = "table-row";
    document.getElementById("s1").style.display = "none";
    document.getElementById("a2").style.display = "table-row";
    document.getElementById("s2").style.display = "none";
    document.getElementById("a3").style.display = "table-row";
    document.getElementById("s3").style.display = "none";
    document.getElementById("a4").style.display = "table-row";
    document.getElementById("s4").style.display = "none";
    document.getElementById("a5").style.display = "table-row";
    document.getElementById("s5").style.display = "none";
}
else
{
    document.getElementById("a1").style.display = "none";
    document.getElementById("s1").style.display = "table-row";
    document.getElementById("a2").style.display = "none";
    document.getElementById("s2").style.display = "table-row";
    document.getElementById("a3").style.display = "none";
    document.getElementById("s3").style.display = "table-row";
    document.getElementById("a4").style.display = "none";
    document.getElementById("s4").style.display = "table-row";
    document.getElementById("a5").style.display = "none";
    document.getElementById("s5").style.display = "table-row";
}
</script>
<%+footer%>
