<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>
<%-
        function uciget(cmd)
                local res = luci.util.exec(cmd)
                local str = string.gsub(res, "\n", "")
                return str
        end
-%>
<%+header%>
<script type="text/javascript">
var radiomode = "<%=uciget('uci get wireless.@wifi-iface[1].mode')%>";
function get_data(data)
{
    var a = data.split(",");
    if( radiomode == "ap" ){
        document.getElementById("result").innerHTML  = "Total Packets&#10;";
        document.getElementById("result").innerHTML += "Tx : "+a[0]+"&#10;";
        document.getElementById("result").innerHTML += "Rx : " +a[1]+"&#10;";
        document.getElementById("result").innerHTML += "Multicast Packets&#10;";
        document.getElementById("result").innerHTML += "Tx : " +a[2]+"&#10;";
        document.getElementById("result").innerHTML += "Rx : " +a[3]+"&#10;";
        document.getElementById("result").innerHTML += "Unicast Packets&#10;";
        document.getElementById("result").innerHTML += "Tx : " +a[4]+"&#10;";
        document.getElementById("result").innerHTML += "Rx : " +a[5]+"&#10;";
        document.getElementById("result").innerHTML += "Tx Packets : " +a[6]+"&#10;";
        document.getElementById("result").innerHTML += "Rx Packets : " +a[7]+"&#10;";
        document.getElementById("result").innerHTML += "Beacons Transmitted : " +a[8]+"&#10;";
        document.getElementById("result").innerHTML += "Authentication Requests Received : " +a[10]+"&#10;";
        document.getElementById("result").innerHTML += "Authentication Confirms : " +a[12]+"&#10;";
        document.getElementById("result").innerHTML += "Authentication Rejects : " +a[13]+"&#10;";
        document.getElementById("result").innerHTML += "DeAuthentication Requests Sent : " +a[14]+"&#10;";
        document.getElementById("result").innerHTML += "Authentication Result Last : " +a[16]+"&#10;";
        document.getElementById("result").innerHTML += "Association Requests Received : " +a[17]+"&#10;";
        document.getElementById("result").innerHTML += "Association Rejects : " +a[19]+"&#10;";
        document.getElementById("result").innerHTML += "Association Confirms : " +a[20]+"&#10;";
        document.getElementById("result").innerHTML += "DeAssociation Requests Recived : " +a[21]+"&#10;";
        document.getElementById("result").innerHTML += "Association Result Last : " +a[23]+"&#10;";
        document.getElementById("result").innerHTML += "MPDU Errors : " +a[24]+"&#10;";
        document.getElementById("result").innerHTML += "PHY Errors : " +a[25];
    } else {
        document.getElementById("result").innerHTML  = "Total Packets&#10;";
        document.getElementById("result").innerHTML += "Tx : " +a[0]+"&#10;";
        document.getElementById("result").innerHTML += "Rx : " +a[1]+"&#10;";
        document.getElementById("result").innerHTML += "Multicast Packets&#10;";
        document.getElementById("result").innerHTML += "Tx :" +a[2]+"&#10;";
        document.getElementById("result").innerHTML += "Rx :" +a[3]+"&#10;";
        document.getElementById("result").innerHTML += "Unicast Packets"+"&#10;";
        document.getElementById("result").innerHTML += "Tx :" +a[4]+"&#10;";
        document.getElementById("result").innerHTML += "Rx :" +a[5]+"&#10;";
        document.getElementById("result").innerHTML += "Tx Packets : " +a[6]+"&#10;";
        document.getElementById("result").innerHTML += "Rx Packets : " +a[7]+"&#10;";
        document.getElementById("result").innerHTML += "Beacons Recieved : " +a[9]+"&#10;";
        document.getElementById("result").innerHTML += "Authentication Requests Sent : " +a[11]+"&#10;";
        document.getElementById("result").innerHTML += "Authentication Confirms : " +a[12]+"&#10;";
        document.getElementById("result").innerHTML += "Authentication Rejects : " +a[13]+"&#10;";
        document.getElementById("result").innerHTML += "DeAuthentication Requests Received :" +a[15]+"&#10;";
        document.getElementById("result").innerHTML += "Authentication Result Last : " +a[16]+"&#10;";
        document.getElementById("result").innerHTML += "Association Requests sent : " +a[18]+"&#10;";
        document.getElementById("result").innerHTML += "Association Rejects : " +a[19]+"&#10;";
        document.getElementById("result").innerHTML += "Association Confirms : " +a[20]+"&#10;";
        document.getElementById("result").innerHTML += "DeAssociation Requests Sent : " +a[22]+"&#10;";
        document.getElementById("result").innerHTML += "Association Result Last : " +a[23]+"&#10;";
        document.getElementById("result").innerHTML += "MPDU Errors : " +a[24]+"&#10;";
        document.getElementById("result").innerHTML += "PHY Errors : " +a[25];
    }
}

function get_results()
{
    var id = document.getElementById("logtype").value;
    XHR.get('<%=luci.dispatcher.build_url("admin", "monitor", "logs")%>/wireless_logtype' + '/' + id, null,
	function(x, data) {
		if (data) { 
            if( id == 6 )
                get_data(data);
		    else
			    document.getElementById("result").innerHTML=data;
		}
	}
    );
}
function clear_log()
{
    var id = document.getElementById("logtype").value;
    XHR.get('<%=luci.dispatcher.build_url("admin", "monitor", "logs")%>/wireless_clrlog' + '/' + id, null,
	function(x, data) {
		if (data) {
            if( id == 6 )
                get_data(data);
		    else
                document.getElementById("result").innerHTML=data;
        }
	}
    );
}
</script>
<div class="page-content">
<h2><a id="content" name="content"><%:Logs%></a></h2>
    <ul class="cbi-tabmenu">
        <li style="margin-right:4px" class="cbi-tab"><a href="#"><%:Wireless%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="<%=REQUEST_URI%>/eth_log"><%:Ethernet%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="<%=REQUEST_URI%>/syslog"><%:System%></a></li>
    </ul>
<div class="cbi-page-actions left" style="padding-left: 19px;">
    Show log type&nbsp;
    <script type="text/javascript">
        document.write("<select id='logtype' style='width: 360px'>");
            document.write("<option value='1'>Display Wireless Statistics</option>");
            var radiomode = "<%=uciget('uci get wireless.@wifi-iface[1].mode')%>";
            if( radiomode == "ap" )
                document.write("<option value='2'>MAC ID, RSSI And SNR For Remote Devices Associated</option>");
            else
                document.write("<option value='3'>SNR, RSSI For The Device</option>");
            document.write("<option value='4'>Wireless Events</option>");
            document.write("<option value='5'>Wireless Events Last Boot Log</option>");
            document.write("<option value='6'>Display Wireless Advanced Statistics</option>");
        document.write("</select>");
    </script>
    <input type="button" id="s1" class="cbi-button cbi-button-apply" value="<%:Submit%>" onclick="get_results()" />
    <input type="button" id="s2" class="cbi-button cbi-button-apply" value="<%:Refresh%>" onclick="get_results()" />
    <input type="button" id="s3" class="cbi-button" value="<%:Clear%>" onclick="clear_log()" />
</div>
<div>&nbsp;</div>
<div id="content_syslog">
<textarea readonly="readonly" wrap="off" style="width:100%; height:500px;" rows="<%=wireless_log:cmatch("\n")+2%>" id="result"><%=wireless_log:pcdata()%></textarea>
</div>
</div>
<%+footer%>
