<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>
<style>
.dot {
    height: 10px;
    width: 20px;
    background-color: #AAA;
    border-radius: 50px;
    display: inline-block;
}
</style>
<script type="text/javascript">
var index = 0;
var myVar;
function inc ()
{
    index++;
    document.getElementById("custom-style").innerHTML = ".dots .dot:nth-child( -n + " + index + "){background-color: #a5bc23;}"
    if( index == 20 ) {
       clearInterval(myVar);
       location.href='<%=luci.dispatcher.build_url("admin")%>';
    }
}

function performapply() 
{
    var id = 1;
    document.getElementById("msg").innerHTML="Please wait while applying configuration...";
    document.getElementById("dotbar").style.display="block";
    document.getElementById("buttons").style.display="none";
    myVar = setInterval(inc,1000);
    XHR.get('<%=luci.dispatcher.build_url("admin","apply")%>/reload' + '/' + id, null,
	    function(x, data) {
		    if (data) { 
		    }
	    }
    );
}
</script>
<div class="page-content system">
<h2><a id="content" name="content"><%:Configuration Changes%></a></h2>
<% if changes then %>
    <%+admin_uci/changelog%>
        <%- uci_changelog(changes) -%>
        <% else %>
            <p><strong><%:There are no pending changes!%></strong></p>
            <% end %>
            <div id="buttons">
<form method="get" action="<%=controller%>/admin/uci/revert">
    <span class="cbi-page-actions left" style="margin-left:-128px;">
<input type="button" class="cbi-button" value="<%:Apply%>" onclick="performapply()" />
    <input type="hidden" name="redir" value="<%=pcdata(luci.http.formvalue("redir"))%>" />
    <input class="cbi-button" type="submit" value="<%:Revert%>" />
    </span>
</form>
</div>

<div id="msg"></div>
<script type="text/javascript">
</script>
<div id="dotbar" style="display:none">
<style id='custom-style'>.dots .dot:nth-child(-n + 5){background-color: #AAA;}</style>
<div class="dots">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>
</div>
<%+footer%>
