<%#
 Copyright 2008-2009 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%-
        function uciget(cmd)
                local res = luci.util.exec(cmd)
                local str = string.gsub(res, "\n", "")
                return str
        end
-%>

<%+header%>
<div class="page-content">
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">
	

function getoptions(value)                                         
{                                                                  
    var a = zoneval.split("@");                                
    for( i = 0; i < a.length; i++ )                                
    {                                    
        var val = a[i].split("=");       
        document.write("<option value=");
        document.write(val[0]);          
        if( value == val[0] )            
            document.write(" selected");  
        document.write(">");             
        document.write(val[1]);          
        document.write("</option>");     
    }                                    
}

var def = new Array(8);
function save_def_value()
{
    var f = document.formTable;
    for (i=0; i<f.elements.length; i++)
    {
        def[i] = f.elements[i].value;
    }
}

function disable_spin()
{
    document.getElementById("spin").innerHTML = "";
}

function save_value()
{
    document.getElementById("spin").innerHTML = "<i class='fa fa-spinner fa-pulse'></i>";
    setTimeout("disable_spin()",1000);
    var setdata = "";
    var f = document.formTable;
    for( i=0; i<f.elements.length; i++)
    {
        if( def[i] != f.elements[i].value ) {
            def[i] = f.elements[i].value;
            setdata += f.elements[i].name + "=" + f.elements[i].value + "~";
        }
    }
    XHR.get('<%=luci.dispatcher.build_url("admin")%>/cfg_set' + '/' + setdata, null,
	    function(x, data) {
		    if (data) { 
		    }
	    }
    );
}
function updatehttp()
{
    if( document.getElementById("http2").checked == "1" )
        document.getElementById("http1").value = 1;
    else
        document.getElementById("http1").value = 0;
}

</script>
<h2><a id="content" name="content"><%: Services%></a></h2>
<div class="cbi-map">
    <ul class="cbi-tabmenu">
        <li style="margin-right:4px" class="cbi-tab"><a href="#"><%:HTTP/HTTPS%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="<%=REQUEST_URI%>/telnet"><%:Telnet/SSH%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="<%=REQUEST_URI%>/snmp"><%:SNMP%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="<%=REQUEST_URI%>/tftp"><%:TFTP%></a></li>
    </ul>
    <fieldset class="cbi-section">
       <form name="formTable">
          <div class="cbi-value">
            <label class="cbi-value-title">Admin Password</label>
            <div class="cbi-value-field">
              <input type="password" name="92" class="cbi-input-select" value="*****" >
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">User Password</label>
            <div class="cbi-value-field">
              <input type="password" name="93" class="cbi-input-select" value="*****" >
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">Super User Password</label>
            <div class="cbi-value-field">
              <input type="password" name="94" class="cbi-input-select" value="*****" >
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">Enable HTTP</label>
            <div style="display:none"><input type="text" id="http1" name="91" value="<%=uciget('uci get uhttpd.main.listen_http')%>"></div>
            <div class="cbi-value-field">
                 <script type="text/javascript">
                 var http = "<%=uciget('uci get uhttpd.main.listen_http')%>";
                 document.write("<input type='checkbox' ");
                 if( http != "" )
                     document.write(" checked");
                 document.write(" id='http2' class='cibi-input-select' onchange='updatehttp()' >");
              </script>
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">HTTP Port</label>
            <div class="cbi-value-field">
              <script type="text/javascript">
                  var http_port = "<%=uciget('uci get uhttpd.main.listen_http')%>";
                  http_port = "0.0.0.0:80";
                  http_port = http_port.split("0.0.0.0:");
                  http_port = http_port[1];
                  document.write("<input type='text' name='95' class='cbi-input-select' ");
                  document.write("value='");
                  document.write(http_port);
                  document.write("'>");
              </script>
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">Enable HTTPS</label>
            <div style="display:none"><input type="text" id="gps1" name="96" value="<%=uciget('uci get uhttpd.main.listen_https')%>"></div>
            <div class="cbi-value-field">
                 <script type="text/javascript">
                 var gps = "<%=uciget('uci get system.gps.status')%>";
                 document.write("<input type='checkbox' ");
                 if( gps == 1 )
                     document.write(" checked");
                 document.write(" id='gps2' class='cibi-input-select' onchange='updategps()' >");
              </script>
            </div>
          </div>
          </form>
        </fieldset>
</div>
<div class="cbi-page-actions left">
<div id="spin"></div>
<input type="button" class="cbi-button" value="<%:Save%>" onclick="save_value()" />
</div>
<script type="text/javascript">
save_def_value();
</script>
</div>
<%+footer%>
