<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%-
        function uciget(cmd)
                local res = luci.util.exec(cmd)
                local str = string.gsub(res, "\n", "")
                return str
        end
-%>
<%+header%>
<style>
.dot {
    height: 10px;
    width: 20px;
    background-color: #AAA;
    border-radius: 50px;
    display: inline-block;
}
</style>
<div class="page-content">
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">
var index = 0;
var myVar;
var addr = "192.168.1.1";
function inc ()
{
    index++;
    document.getElementById("custom-style").innerHTML = ".dots .dot:nth-child( -n + " + index + "){background-color: #a5bc23;}"
    if( index == 20 ) {
        clearInterval( myVar );
        //location.href = ('https:' == document.location.protocol ? 'https://' : 'http://') + '<%=addr or luci.http.getenv("SERVER_NAME")%>/';
        //location.href='<%=luci.dispatcher.build_url("admin")%>';
        location.href='http://'+addr;
    }
}

function performreset() 
{
    var dev_mode = "<%=uciget('uci get network.param.networkmode')%>";
    var retipadd=document.getElementById("retip1").value;
    if( (retipadd == 1) && (dev_mode == 1) )
        addr = "<%=uciget('uci get network.lan.ipaddr')%>";
    document.getElementById("cont").style.display="none";
    document.getElementById("reset").style.display="none";
    document.getElementById("msg").innerHTML="Please wait while resetting configuration...";
    document.getElementById("dotbar").style.display="block";
    myVar = setInterval(inc,5000);
    XHR.get('<%=luci.dispatcher.build_url("admin","system","flashops")%>/action_reset' + '/' + retipadd, null,
	    function(x, data) {
		    if (data) { 
		    }
	    }
    );
}

function retainipaddr()
{             
    if( document.getElementById("retip2").checked == "1" )
        document.getElementById("retip1").value = 1;
    else      
        document.getElementById("retip1").value = 0;
}
</script>
<h2><a id="content" name="content"><%: Upgrade / Reset%></a></h2>
<div class="cbi-map">
    <ul class="cbi-tabmenu">
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="<%=luci.dispatcher.build_url("admin/system/flashops")%>"><%:HTTP%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="tftp"><%:TFTP%></a></li>
        <li style="margin-right:4px" class="cbi-tab"><a href="#"><%:Reset%></a></li>
    </ul>
    <p id="cont"><%:Factory reset the configuration of device%></p>
    <div class="cbi-value" id="retip">
      <label class="cbi-value-title" style="padding-right: 15px;">Retain IP</label>
      <div style="display:none"><input type="text" id="retip1" name="149" value="<%=uciget('uci get tftp.retip.retainip')%>"></div>
        <script type="text/javascript">
           var retip = "<%=uciget('uci get tftp.retip.retainip')%>";
           document.write("<input type='checkbox' id='retip2' class='cibi-input-select' onchange='retainipaddr()' >");
        </script>
    </div>
    <div class="cbi-page-actions left" id="reset" style="padding-left:0px">
        <input type="button" class="cbi-button" value="<%:Perform Reset%>" onclick="performreset()">
    </div>
    <div id="msg"></div>
    <div id="dotbar" style="display:none">
<style id='custom-style'>.dots .dot:nth-child(-n + 5){background-color: #AAA;}</style>
<div class="dots">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>
</div>
<script type="text/javascript">
retainipaddr();
var dev_mode = "<%=uciget('uci get network.param.networkmode')%>";
if( dev_mode == "2")
    document.getElementById("retip").style.display="none";
</script>
</div>
<%+footer%>
