<%#
 Copyright 2008-2009 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%-
        function uciget(cmd)
                local res = luci.util.exec(cmd)
                local str = string.gsub(res, "\n", "")
                return str
        end
-%>

<%+header%>
<div class="page-content">
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">
	var zoneval = <%=luci.http.write_json(zoneval)%>;
	XHR.poll(5, '<%=luci.dispatcher.build_url("admin", "system", "clock_status")%>', null,
		function(x, rv)
		{
			var s = document.getElementById("clock");
			if (s)
			{
				s.innerHTML = rv.timestring || '?';
			}
		}
	);


function getoptions(value)                                         
{                                                                  
    var a = zoneval.split("@");                                
    for( i = 0; i < a.length; i++ )                                
    {                                    
        var val = a[i].split("=");       
        document.write("<option value=");
        document.write(val[0]);          
        if( value == val[0] )            
            document.write(" selected");  
        document.write(">");             
        document.write(val[1]);          
        document.write("</option>");     
    }                                    
}

function updatezonename(id)
{
//    document.getElementById("zonename").value = id.options[id.selectedIndex].text;
}

var def = new Array(8);
function save_def_value()
{
    var f = document.formTable;
    for (i=0; i<f.elements.length; i++)
    {
        def[i] = f.elements[i].value;
    }
}

function disable_spin()
{
    document.getElementById("spin").innerHTML = "";
}

function save_value()
{
    document.getElementById("spin").innerHTML = "<i class='fa fa-spinner fa-pulse'></i>";
    setTimeout("disable_spin()",1000);
    var setdata = "";
    var f = document.formTable;
    for( i=0; i<f.elements.length; i++)
    {
        if( def[i] != f.elements[i].value ) {
            def[i] = f.elements[i].value;
            setdata += f.elements[i].name + "=" + f.elements[i].value + "~";
        }
    }
    XHR.get('<%=luci.dispatcher.build_url("admin")%>/cfg_set' + '/' + setdata, null,
	    function(x, data) {
		    if (data) { 
		    }
	    }
    );
}
function updatentp()
{
    if( document.getElementById("ntp2").checked == "1" )
        document.getElementById("ntp1").value = 1;
    else
        document.getElementById("ntp1").value = 0;
}
function updateled()
{
    if( document.getElementById("led2").checked == "1" )
        document.getElementById("led1").value = 1;
    else
        document.getElementById("led1").value = 0;
}
function updategps()
{
    if( document.getElementById("gps2").checked == "1" )
        document.getElementById("gps1").value = 1;
    else
        document.getElementById("gps1").value = 0;
}
	function sync_clock(btn)
	{
		btn.disabled = true;
		btn.value    = '<%:Synchronizing...%>';

		XHR.get('<%=luci.dispatcher.build_url("admin", "system", "clock_status")%>',
			{ set: Math.floor((new Date()).getTime() / 1000) },
			function()
			{
				btn.disabled = false;
				btn.value    = '<%:Sync with browser%>';
			}
		);

		return false;
	}
</script>
<h2><a id="content" name="content"><%: System Configuration%></a></h2>
<div class="cbi-map">
    <ul class="cbi-tabmenu">
        <li style="margin-right:4px" class="cbi-tab"><a href="#"><%:General%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="<%=REQUEST_URI%>/logging"><%:Logging%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="<%=REQUEST_URI%>/location"><%:Location%></a></li>
    </ul>
    <fieldset class="cbi-section">
       <form name="formTable">
          <div class="cbi-value">
            <label class="cbi-value-title">Host Name</label>
            <div class="cbi-value-field">
              <input type="text" name="60" class="cbi-input-select" value="<%=uciget('uci get system.@system[0].hostname')%>" >
            </div>
          </div>
          <h2><a id="content" name="content"><%:NTP%></a></h2>
          <div class="cbi-value">
            <label class="cbi-value-title">Enable NTP</label>
            <div style="display:none"><input type="text" id="ntp1" name="72" value="<%=uciget('uci get system.ntp.enabled')%>"></div>
            <div class="cbi-value-field">
                 <script type="text/javascript">
                 var ntp = "<%=uciget('uci get system.ntp.enabled')%>";
                 document.write("<input type='checkbox' ");
                 if( ntp == 1 )
                     document.write(" checked");
                 document.write(" id='ntp2' class='cibi-input-select' onchange='updatentp()' >");
              </script>
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">NTP Server</label>
            <div class="cbi-value-field">
              <input type="text" name="71" class="cbi-input-select" value="<%=uciget('uci get system.ntp.server')%>" >
            </div>
          </div>
          <!--
          <div class="cbi-value" style="display:none">
            <label class="cbi-value-title">Zone Name</label>
            <div class="cbi-value-field">
              <input type="text" name="70" id="zonename" class="cbi-input-select" value="<%=uciget('uci get system.@system[0].zonename')%>" >
            </div>
          </div>-->
          <div class="cbi-value">
            <label class="cbi-value-title">Timezone</label>
            <div class="cbi-value-field">
              <select class="cbi-input-select" name="61" onchange="updatezonename(this)">
              <script type="text/javascript">
              var tz = "<%=uciget('uci get system.@system[0].timezone')%>";
              getoptions(tz);
              </script>
              </select>
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title" style="padding-top:2px;">Local Time</label>
            <div class="cbi-value-field" id="clock">
            </div>
          </div>
        <h2><a id="content" name="content"><%:GPS%></a></h2>
          <div class="cbi-value">
            <label class="cbi-value-title">Enable GPS</label>
            <div style="display:none"><input type="text" id="gps1" name="62" value="<%=uciget('uci get system.gps.status')%>"></div>
            <div class="cbi-value-field">
                 <script type="text/javascript">
                 var gps = "<%=uciget('uci get system.gps.status')%>";
                 document.write("<input type='checkbox' ");
                 if( gps == 1 )
                     document.write(" checked");
                 document.write(" id='gps2' class='cibi-input-select' onchange='updategps()' >");
              </script>
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">GPS Interval</label>
            <div class="cbi-value-field">
              <input type="text" name="63" class="cbi-input-select" value="<%=uciget('uci get system.gps.interval')%>" >&nbsp;sec
            </div>
          </div>
          <h2><a id="content" name="content"><%:Dying Gasp%></a></h2>
          <div class="cbi-value">
            <label class="cbi-value-title">Dying Gasp</label>
            <div class="cbi-value-field">
              <select class="cbi-input-select" name="64">
                 <script type="text/javascript">
                 var dg = "<%=uciget('uci get wireless.@wifi-iface[1].dyinggasp')%>";
                 document.write("<option value='1' ");
                 if( dg == "none" )
                     document.write(" selected");
                 document.write(">Enable</option>");
                 document.write("<option value='2' ");
                 if( dg == "2" )
                     document.write(" selected");
                 document.write(">Disable</option>");
                 </script>
              </select>
            </div>
          </div>
          <div class="cbi-value" id="dis_ack">
            <label class="cbi-value-title">ACK</label>
            <div class="cbi-value-field">
              <select class="cbi-input-select" name="85">
                 <script type="text/javascript">
                 var disack = "<%=uciget('uci get wireless.@wifi-iface[1].dgackdisable')%>";
                 document.write("<option value='0' ");
                 if( disack == "0" )
                     document.write(" selected");
                 document.write(">Enable</option>");
                 document.write("<option value='1' ");
                 if( disack == "1" )
                     document.write(" selected");
                 document.write(">Disable</option>");
                 </script>
              </select>
            </div>
          </div>
          <h2><a id="content" name="content"><%:LEDs%></a></h2>
          <div class="cbi-value">
            <label class="cbi-value-title">Enable LEDS</label>
            <div style="display:none"><input type="text" id="led1" name="65" value="<%=uciget('uci get system.led.status')%>"></div>
            <div class="cbi-value-field">
                 <script type="text/javascript">
                 var led = "<%=uciget('uci get system.led.status')%>";
                 document.write("<input type='checkbox' ");
                 if( led == 1 )
                     document.write(" checked");
                 document.write(" id='led2' class='cibi-input-select' onchange='updateled()' >");
              </script>
            </div>
          </div>
          </form>
        </fieldset>
</div>
<div class="cbi-page-actions left">
<div id="spin"></div>
<input type="button" class="cbi-button cbi-button-apply" value="<%:Sync with browser%>" onclick="return sync_clock(this)" />
<input type="button" class="cbi-button" value="<%:Save%>" onclick="save_value()" />
</div>
<script type="text/javascript">
save_def_value();
var mode = "<%=uciget('uci get wireless.@wifi-iface[1].mode')%>";
if( mode == "sta" )
    document.getElementById("dis_ack").style.display = "none";
</script>
</div>
<%+footer%>
