<%#
 Copyright 2008-2009 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%-
        function uciget(cmd)
                local res = luci.util.exec(cmd)
                local str = string.gsub(res, "\n", "")
                return str
        end
-%>
<%+header%>
<style>
.dot {
    height: 10px;
    width: 20px;
    background-color: #AAA;
    border-radius: 50px;
    display: inline-block;
}
</style>
<div class="page-content">
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">
var def = new Array(8);
function save_def_value()
{
    var f = document.formTable;
    for (i=0; i<f.elements.length; i++)
    {
        def[i] = f.elements[i].value;
    }
}

var myVar;
function upgrade_retrieve(optype)
{
    var type_value  = document.getElementById("filetype").value;
    document.getElementById('optype').value=optype;
    if( optype == 1 ) {
        document.getElementById('apply').style.display="none";
        if ( type_value == 1 )
            myVar = setInterval(inc,3000);
        else
            myVar = setInterval(inc,24000);
        document.getElementById('dotbar').style.display="block";
        document.getElementById('msg').innerHTML="Please wait while applying the configuration ...";
    }
    else {
        document.getElementById('retrieve').style.display="none";
        myVar = setInterval(inc,100);
        document.getElementById('dotbar').style.display="block";
        document.getElementById('msg').innerHTML="Please wait while retrieving the configuration ...";
    }
    var setdata = "";
    var f = document.formTable;
    for( i=0; i<f.elements.length; i++)
    {
        //if( def[i] != f.elements[i].value ) 
        {
            def[i] = f.elements[i].value;
            setdata += f.elements[i].name + "=" + f.elements[i].value + "~";
        }
    }
    XHR.get('<%=luci.dispatcher.build_url("admin")%>/cfg_set' + '/' + setdata, null,
	    function(x, data) {
		    if (data) { 
		    }
	    }
    );
}

function show() {
    if (document.getElementById('up').checked) {
         var x = document.getElementById("filetype");
         var len = document.getElementById("filetype").options.length;
         if ( len == 1 ){
             var option = document.createElement("option");
             option.text = "image";
             option.value = 2;
             x.add(option);
         }

         document.getElementById('apply').style.display="block";
         document.getElementById('retrieve').style.display="none";
    }
    else {
         var x = document.getElementById("filetype");
         var len = document.getElementById("filetype").options.length;
         if ( len == 2 ){
             x.remove(1);
         }
         document.getElementById('retrieve').style.display="block";
         document.getElementById('apply').style.display="none";
         document.getElementById('kepset').style.display="none";
    }
}

var index = 0;
function inc ()
{
    var optype;
    var ftype = document.getElementById("filetype").value;
    var keep_set = document.getElementById("keep2").value;
    var optstatus;
    var opt = 1;
    if( document.getElementById('up').checked == true )
        optype = 1;
    else
        optype = 2;
    index++;
    document.getElementById("custom-style").innerHTML = ".dots .dot:nth-child( -n + " + index + "){background-color: #a5bc23;}"
    if ( ( ftype == 2 ) && ( index >= 3 ) && ( index < 20 ) )
    {
        XHR.get('<%=luci.dispatcher.build_url("admin","system","flashops")%>/uci_get' + '/' + opt, null,
	        function(x, data) {
		        if (data) { 
                    optstatus = data;
                     if ( optstatus == 7 ) {
                        alert("Firmware upgrade failed");
                        index = 0;
                        document.getElementById("custom-style").innerHTML = ".dots .dot:nth-child( -n + " + index + "){background-color: #a5bc23;}"
                        clearInterval(myVar);
                        document.getElementById("apply").style.display="block";
                        document.getElementById("dotbar").style.display="none";
                    }
		        }
	        }
        );
    }
    if( index == 20 ) 
    {
        if ( ftype == 1 ) {
            XHR.get('<%=luci.dispatcher.build_url("admin","system","flashops")%>/uci_get' + '/' + opt, null,
	        function(x, data) {
		        if (data) {
                    optstatus = data; 
                    index = 0;
                    document.getElementById("custom-style").innerHTML = ".dots .dot:nth-child( -n + " + index + "){background-color: #a5bc23;}"
                    clearInterval(myVar);
                    if( optype == 1 ) {
                       if ( optstatus == 6 )
                          alert("Configuration applied successfully.");
                       else
                          alert("Failed to apply configuration.");
                       document.getElementById("apply").style.display="block";
                    }
                    if( optype == 2 ) {
                       if ( optstatus == 3 )
                          alert("Configuration retrieved successfully.");
                       else
                          alert("Failed to retrieve Configuration.");
                       document.getElementById("retrieve").style.display="block";
                    }
                    document.getElementById("dotbar").style.display="none";
               }
		   }
           );
        }
        if( ftype == 2 ) {
            if( keep_set )
               location.href='<%=luci.dispatcher.build_url("admin")%>';
            else
               location.href="http://192.168.1.1";
        }
    }
}

function updatekeepset()
{
    if( document.getElementById("keep2").checked == "1" )
        document.getElementById("keep1").value = 1;
    else
        document.getElementById("keep1").value = 0;
}

function updateparam()
{
    var stat  = document.getElementById("filetype").value;
    if ( stat == 2 )
         document.getElementById('kepset').style.display="block";
    else
         document.getElementById('kepset').style.display="none";


}
</script>
<h2><a id="content" name="content"><%: Upgrade / Reset%></a></h2>
<div class="cbi-map">
    <ul class="cbi-tabmenu">
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="<%=luci.dispatcher.build_url("admin/system/flashops")%>"><%:HTTP%></a></li>
        <li style="margin-right:4px" class="cbi-tab"><a href="#"><%:TFTP%></a></li>
        <li style="margin-right:4px" class="cbi-tab-disabled"><a href="reset"><%:Reset%></a></li>
    </ul>
    <table style="width:400px;">
        <tr>
          <td style="width:20%;border-top:0px;">&nbsp;</td>
          <td style="width:40%;border-top:0px;"><input type="radio" name="tft" class="cbi-input-select" id="up" onclick="show();" checked/>&nbsp;Upgrade</td>
          <td style="width:40%;border-top:0px;"><input type="radio" name="tft" class="cbi-input-select" id="ret" onclick="show();">&nbsp;Retrieve</td>
        </tr>
    </table>
    <fieldset class="cbi-section">
       <form name="formTable">
          <div class="cbi-value" id="serverip">
            <label class="cbi-value-title">Server IP Address</label>
            <div class="cbi-value-field">
              <input type="text" name="119" class="cbi-input-select" value="<%=uciget('uci get tftp.tftp.serverip')%>" >
            </div>
          </div> 
          <div class="cbi-value" id="filename">
            <label class="cbi-value-title">File Name</label>
            <div class="cbi-value-field">
              <input type="text" name="117" class="cbi-input-select" value="<%=uciget('uci get tftp.tftp.filename')%>" >
            </div>
          </div>
          <div class="cbi-value">
            <label class="cbi-value-title">File Type</label>
            <div class="cbi-value-field">
              <select class="cbi-input-select" id="filetype" name="118" onchange="updateparam()">
                 <script type="text/javascript">
                 var value = "<%=uciget('uci get tftp.tftp.filetype')%>";
                 document.write("<option value='1'");
                 if( value == "1" )
                     document.write("selected");
                 document.write(">config file</option>");
                 document.write("<option value='2'");
                 if( value == "2" )
                     document.write("selected");
                 document.write(">image</option>");
                 </script>
              </select>
            </div>
          </div>
          <div class="cbi-value" id="kepset" style="display:none">
            <label class="cbi-value-title">Keep Settings</label>
            <div style="display:none"><input type="text" id="keep1" name="121" value="<%=uciget('uci get tftp.tftp.keepset')%>"></div>
            <div class="cbi-value-field">
                 <script type="text/javascript">
                 var keep = "<%=uciget('uci get tftp.tftp.keepset')%>";
                 document.write("<input type='checkbox' ");
                 if( keep != "" )
                     document.write(" checked");
                 document.write(" id='keep2' class='cibi-input-select' onchange='updatekeepset()' >");
              </script>
            </div>
          </div>
          <div class="cbi-value" style="display:none">
            <label class="cbi-value-title">OperationType</label>
            <div class="cbi-value-field">
              <input type="text" id="optype" name="120" class="cbi-input-select" value="<%=uciget('uci get tftp.tftp.optype')%>" >
            </div>
          </div>
       </form>
    </fieldset>
          <div class="cbi-page-actions left" id="apply">
            <input type="button" class="cbi-button" value="<%:Upgrade%>" onclick="upgrade_retrieve(1)">
          </div>
          <div class="cbi-page-actions left" id="retrieve" style="display:none">
            <input type="button" class="cbi-button" value="<%:Retrieve%>" onclick="upgrade_retrieve(2)">
          </div> 
          <div class="cbi-value" id="dotbar" style="display:none">
            <span id="msg"></span>
            <div>&nbsp;</div>
            <style id='custom-style'>.dots .dot:nth-child(-n + 5){background-color: #AAA;}</style>
            <div class="dots">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
          </div>
</div>
<script type="text/javascript">
save_def_value();
updatekeepset();
updateparam();
</script>
</div>
<%+footer%>
