<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<% include("themes/" .. theme .. "/footer") 
local loginuser = luci.dispatcher.context.authuser
        function uciget(cmd)
                local res = luci.util.exec(cmd)
                local str = string.gsub(res, "\n", "")
                return str
        end
%>
<script type="text/javascript">
   var loginuser = <%=luci.http.write_json(loginuser)%>;
   var mode = "<%=uciget('uci get wireless.@wifi-iface[1].mode')%>";
   if( loginuser == "user" || loginuser == "superuser" ) {
      $('input').prop('disabled',true);
      $('select').prop('disabled',true);
      $('.cbi-input-user').prop("disabled", false);
      $('.cbi-input-password').prop("disabled", false);
      $('.cbi-button-apply').prop("disabled", false);
      $('.cbi-button-reset').prop("disabled", false);
      $('#logtype').prop("disabled", false);
      $('.nwktool').prop("disabled", false);
      if( loginuser == "user" || 
          ( loginuser == "superuser" && mode == "ap" ) ) {
         document.getElementById("header_apply").href="";
         document.getElementById("header_reboot").href="";
      }
      if( loginuser == "superuser" && mode == "sta" ) {
         $('#super_eth_mode').prop("disabled", false);
         $('#super_ullmt').prop("disabled", false);
         $('#super_dllmt').prop("disabled", false);
         $('#super_shaping').prop("disabled", false);
         $('#super_fil_1').prop("disabled", false);
         $('#super_fil_2').prop("disabled", false);
         $('#super_fil_3').prop("disabled", false);
         $('#super_fil_4').prop("disabled", false);
         $('#super_fil_5').prop("disabled", false);
         $('#vlanmode').prop("disabled", false);
         $('#super_mgmt_vlan').prop("disabled", false);
         $('#super_access_vlan').prop("disabled", false);
         $('#super_save').prop("disabled", false);
         $('#super_apply').prop("disabled", false);
         $('#super_revert').prop("disabled", false);
      }
   }
</script>
